{% extends 'global/template_geral.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'global/tabela/css/style.css' %}">
<link rel="stylesheet" href="{% static 'global/css/menu/menu-vertical-medico.css' %}">
<link rel="stylesheet" href="{% static 'global/css/abas_horizontais.css' %}">
<link rel="stylesheet" href="{% static 'global/css/footer.css' %}">

<!--CRIA PDF-->
       <!-- Importa a biblioteca pdfmake -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>
       <!-- Importa a biblioteca html2canvas -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<!--FIM CRIA PDF-->

</head>

<style> {% for dados in paciente_triagem  %} 
              {% if dados.classifica_tipo.id == 1 %}
              .dados-preatendimento ul li span{
                     color: #AA0000;
                     font-size: 1.3rem;
              }
              {% elif dados.classifica_tipo.id == 2  %}
              .dados-preatendimento ul li span{
                     color: #ff6600;
                     font-size: 1.3rem;
              {% elif dados.classifica_tipo.id == 3  %}
              .dados-preatendimento ul li span{
                     color:  #008200;
                     font-size: 1.3rem;
              {% elif dados.classifica_tipo.id == 4  %}
              .dados-preatendimento ul li span{
                     color: #008dc0;
                     font-size: 1.3rem;
              {% endif %}  
       {% endfor %}  
       
       .modal {
              display: none;
              position: fixed;
              z-index: 15;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              overflow: auto;
              background-color: rgba(0,0,0,0.4);
            }
            
            .modal-content {
              background-color: #fefefe;
              margin: 10% auto;
              padding: 30px;
              border: 1px solid #888;
              width: 70%;
              height: 40%;
            }
            
            .close {
              color: #aaa;
              float: right;
              font-size: 50px;
              font-weight: bold;
            }
            
            .close:hover,
            .close:focus {
              color: black;
              text-decoration: none;
              cursor: pointer;
            }
            
            #iframe {
              display: block;
              width: 100%;
              height: 100%;
            }

            .grid{
              display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
            }
            main{
              height:70rem !important;
              margin-bottom:-7rem !important
            }
</style>
{% endblock css %}  
<!--Imagem Representando o setor-->
{% block vetor-img-aereo %}<img src=" {% static 'home/doctor.fw.png' %} " alt="">{% endblock vetor-img-aereo %}
<!--END Imagem Representando o setor-->
{% block title_login %}ÁREA MÉDICA {% endblock title_login %}
{% block titulo_ %} ÁREA MÉDICA - Paciente: {{triagem}}{% endblock titulo_ %} 
{% block body_title %} ÁREA MÉDICA - Paciente: {{triagem}}{% endblock body_title %}
{% block body_login %} 
{% for t in triagem_now %} 
       <div style='width:100%; margin-top:-3rem '>
              <!-- Abas_label -->
              <ul class="menu-abas mt-5 ">   
                     {% include "Medicos/exibir_impressao/partes_impressao/abas_label.html" %}              
              </ul>    
              <!--Fim Abas_label -->
              <article>          
                     <!-- Prescrever medicamento -->
                     {% if not t.preescrever_medicamento_medico == 'Preescreva o medicamento para o paciente' %}     
                            {% include "Medicos/exibir_impressao/partes_impressao/pees_medicamentos.html" %}
                     {% endif %}
                     <!--Imprimir Encaminhamentos-->
                     {% if not t.encaminhamento == 'Digite o encaminhamento do paciente' %}  
                            <section style='width:93.5%' class='encaminhamento' id="tab2">
                            
                            </section>
                     {% endif %}
                     <!--FIM Encaminhamentos-->
                     <!-- Imprimir medicamentos Exames-->
                     <!--Imprimir exames-->
                     {% if not t.exames == 'Preencha com a relação de exames' %}    
                            {% include "Medicos/exibir_impressao/partes_impressao/prees_exames.html" %}
                     {% endif %}  
                     <!--FIM Imprimir exames-->
                     <!--Imprimir Atestados-->
                     {% if not t.atestado == 'Digite a quantidade de dias que o paciente irá ficar de repouso' %}
                            {% include "Medicos/exibir_impressao/partes_impressao/prees_atestado.html" %}
                     {% endif %} 
                     <!--FIM Imprimir Atestados-->     
              </article> 
       </div>
{% endfor %}  
<!-- Modal HTML -->
{% include "Medicos/exibir_impressao/partes_impressao/modal_impressao.html" %}
<!-- End Modal HTML -->
<!-- Scripts de impressão -->
{% include "Medicos/exibir_impressao/partes_impressao/scripts_impresso.html" %}
<!-- Fim Scripts de impressão -->
<!-- Script de Modal -->
<script>

       function popupPDF(url) {
              var modal = document.getElementById("myModal");
              var span = document.getElementsByClassName("close")[0];
              modal.style.display = "block";
              span.onclick = function() {
                     modal.style.display = "none";
              }
              window.onclick = function(event) {
                     if (event.target == modal) {
                            modal.style.display = "none";
                     }
              }
       }           
</script>
{% endblock body_login %}