{% extends 'global/template_geral.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'global/tabela/css/style.css' %}">
<link rel="stylesheet" href="{% static 'global/css/menu/menu-vertical-medico.css' %}">
<link rel="stylesheet" href="{% static 'global/css/abas_horizontais.css' %}">
<link rel="stylesheet" href="{% static 'global/css/footer.css' %}">

<!--CRIA PDF-->
       <!-- Importa a biblioteca pdfmake -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>
       <!-- Importa a biblioteca html2canvas -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<!--FIM CRIA PDF-->

</head>

<style> {% for dados in paciente_triagem  %} 
              {% if dados.classifica_tipo.id == 1 %}
              .dados-preatendimento ul li span{
                     color: #AA0000;
                     font-size: 1.3rem;
              }
              {% elif dados.classifica_tipo.id == 2  %}
              .dados-preatendimento ul li span{
                     color: #ff6600;
                     font-size: 1.3rem;
              {% elif dados.classifica_tipo.id == 3  %}
              .dados-preatendimento ul li span{
                     color:  #008200;
                     font-size: 1.3rem;
              {% elif dados.classifica_tipo.id == 4  %}
              .dados-preatendimento ul li span{
                     color: #008dc0;
                     font-size: 1.3rem;
              {% endif %}  
       {% endfor %}  
       
       .modal {
              display: none;
              position: fixed;
              z-index: 15;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              overflow: auto;
              background-color: rgba(0,0,0,0.4);
            }
            
            .modal-content {
              background-color: #fefefe;
              margin: 10% auto;
              padding: 30px;
              border: 1px solid #888;
              width: 70%;
              height: 40%;
            }
            
            .close {
              color: #aaa;
              float: right;
              font-size: 50px;
              font-weight: bold;
            }
            
            .close:hover,
            .close:focus {
              color: black;
              text-decoration: none;
              cursor: pointer;
            }
            
            #iframe {
              display: block;
              width: 100%;
              height: 100%;
            }

            .grid{
              display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
            }
            main{
              height:70rem !important;
              margin-bottom:-7rem !important
            }
</style>


<script>


</script>

{% endblock css %}  
<!--Imagem Representando o setor-->
{% block vetor-img-aereo %}<img src=" {% static 'home/doctor.fw.png' %} " alt="">{% endblock vetor-img-aereo %}
<!--END Imagem Representando o setor-->
{% block title_login %}ÁREA MÉDICA {% endblock title_login %}
{% block titulo_ %} 
       ÁREA MÉDICA - Paciente: {{triagem}}

{% endblock titulo_ %} 
{% block body_title %}
       ÁREA MÉDICA - Paciente: {{triagem}}
{% endblock body_title %}
{% block body_login %} 

{% for t in triagem_now %} 

<div style='width:100%; margin-top:-3rem '>
       <nav class='row'>                                         
              <a class='col btn btn-sm btn-secondary m-2 p-3'  href="{% url 'Medicos:geraPdf' t.id %}" onclick="gerarPDF_exame(); return false;" ><i class="fa-solid fa-print" ></i> Imprimir/PDF</a></li>
              <a class='col btn btn-sm btn-success m-2 p-3' href="{% url 'Medicos:final_medico_concluida' t.id %}"><i class="fa-solid fa-arrow-right-to-bracket"></i>  FINALIZAR ATENDIMENTO </a></li>
       </nav> 
       <ul class="menu-abas ">              
                     {% if not t.preescrever_medicamento_medico == 'Preescreva o medicamento para o paciente' %} 
                            {% if not t.preescrever_medicamento_medico == "" %}
                                   <li class='prescricao border-radius'><a href="#tab1">&nbsp;&nbsp;Preescrever Medicamento <i class="fa-solid fa-capsules"></i>&nbsp;&nbsp;</a></li>
                            {% endif %}   
                     {% endif %} 
                     {% if not t.encaminhamento == 'Digite o encaminhamento do paciente' %} 
                            <li class='encaminhamento'><a href="#tab2">&nbsp;&nbsp;Encaminhamentos <i class="fa-regular fa-paste"></i>&nbsp;&nbsp;</a></li>                            
                     {% endif %}
                     {% if not t.exames == 'Preencha com a relação de exames' %}   
                            {% if t.exames.all %}
                                   <li class='exames'><a href="#tab3">&nbsp;&nbsp;Exames<i class="fa-solid fa-notes-medical"></i>&nbsp;&nbsp;</a></li>
                            {% endif %}
                     {% endif %}
                     {% if not t.atestado == 'Digite a quantidade de dias que o paciente irá ficar de repouso' %}
                            {% if not t.atestado == '0'  %}
                                   <li class='atestado'><a href="#tab4">&nbsp;&nbsp;Atestados <i class="fa-solid fa-file-contract"></i></i>&nbsp;&nbsp;</a></li>
                            {% endif %}
                     {% endif %}                       
              {% endfor %}        
       </ul>    
       <article>
              
              {% for t in triagem_now %}               
                     {% if not t.preescrever_medicamento_medico == 'Preescreva o medicamento para o paciente' %}     
                            {% if not t.preescrever_medicamento_medico == "" %}      
                                   <section class='prescricao' id="tab1" class="active"> 
                                          <nav class="menu-vertical-medico">
                                                 <ul>                                          
                                                        <li><a  href="{% url 'Medicos:geraPdf' t.id %}" onclick="gerarPDF(); return false;" ><i class="fa-solid fa-print" ></i> Imprimir/PDF</a></li>
                                                        <li><a href="{% url 'Medicos:final_medico_concluida' t.id %}"><i class="fa-solid fa-arrow-right-to-bracket"></i>  FINALIZAR ATENDIMENTO </a></li>
                                                 </ul>
                                          </nav> 
                                          <!--Imprimir medicamentos-->
                                          <div id="tab11" style='width:600px; height:848.41px; margin:auto; margin-top:1rem;
                                          box-shadow: 0px -1px 10px 4px rgba(41, 41, 41, 1);
                                          -webkit-box-shadow: 0px -1px 10px 4px rgba(41, 41, 41, 1);
                                          -moz-box-shadow: 0px -1px 10px 4px rgba(41, 41, 41, 1);'>
                                                 <img style='width:100%; margin-top:-1rem; margin-left:0.2rem' src="{% static 'sus.svg' %}  " alt=""/>
                                                 <div class='card-medico' style="              
                                                        position: relative;
                                                        z-index: 10;
                                                        top: -45rem;
                                                        padding: 2rem;
                                                        padding-bottom:0.1rem;
                                                        height:42rem">                                                                                     
                                                        <h3>Nome do(a) paciente:</h3>                                                                                              
                                                        <hr style="width: 50%;">
                                                        <div style='margin-left:2rem; margin-bottom:2rem;' class='uppercase'><strong>{{t}}</strong></div>
                                                        <h3>Preescrição de Medicamentos:</h3>                                                 
                                                        <hr style="width: 50%;">
                                                        <div style='margin:1rem 2rem; max-height:15rem; height:15rem; font-weight: bold;'>
                                                        {{t.preescrever_medicamento_medico | safe}}
                                                        </div>
                                                 <div style='text-align:center; width: 100%; '>                                          
                                                        <span >Dr.(a) {{request.user}}</span><br>
                                                        <hr style="width: 75%;margin: auto;">
                                                        Médico que fez o atendimento
                                                 </div>
                                                 <div style='font-size:0.6rem; margin-top:9rem; '>
                                                        <b>UPA VERA CRUZ</b>
                                                        <BR/>Av. Juvenal João Vinagre, 175, Centro, Vera Cruz - Ba
                                                        <BR/>Tel.: (71) 3633-2286\
                                                        <BR/>Email: servicosocial.upaveracruz@gmail.com
                                                 </div>  
                                          </div> 
                                          <!--FIM Imprimir medicamentos-->
                                   </section>
                            {% endif %}
                     {% endif %}
                     <!--Imprimir Encaminhamentos-->
                     {% if not t.encaminhamento == 'Digite o encaminhamento do paciente' %}  
                            <section style='width:93.5%' class='encaminhamento' id="tab2">
                                  
                            </section>
                      {% endif %}
                      <!--FIM Encaminhamentos-->
                      <!-- Imprimir medicamentos Exames-->
                     
                      {% if not t.exames == 'Preencha com a relação de exames' %}    
                            {% if t.exames.all %} 
                                   <section class='exames' id="tab3">                                          
                                          <!--Exames-->
                                          <div id="tab33" style='width:600px; height:848.41px; margin:auto; margin-top:1rem;
                                          box-shadow: 0px -1px 10px 4px rgba(41, 41, 41, 1);
                                          -webkit-box-shadow: 0px -1px 10px 4px rgba(41, 41, 41, 1);
                                          -moz-box-shadow: 0px -1px 10px 4px rgba(41, 41, 41, 1);'>
                                                 <img style='width:100%; margin-top:-1rem; margin-left:0.2rem' src="{% static 'sus.svg' %}  " alt=""/>
                                                 <div class='card-medico' style="              
                                                        position: relative;
                                                        z-index: 10;
                                                        top: -45rem;
                                                        padding: 2rem;
                                                        padding-bottom:0.1rem;
                                                        height:42rem">                 
                                                        <h3>SOLICITAÇÃO DE EXAMES</h3>                                                                                                                                             
                                                        <hr style="width: 50%;">
                                                        <p>&nbsp;</p> 
                                                        <p style='margin-left:2rem; margin-top:-1.8rem; font-size:0.8rem' class='uppercase'>Solicito ao paciente <strong style='font-size:1rem'>{{t}}</strong> os seguintes exames:
                                                        </p>
                                                        <div style='margin:1rem auto; width:20rem; font-size:0.8rem;' class='grid'>     
                                                        {% for ex in  t.exames.all %}                                                        
                                                               <div style='margin-right:2rem; padding:0.1rem; max-height: 10rem;height: 10rem;'><b><i class="fa-solid fa-check"></i> {{ex.nome_exame}} </b></div>
                                                        {% endfor %}
                                                        </div>                                                  
                                                        <div style='margin-left:2rem; margin:4.2rem auto; text-align: right;'>                                                        
                                                               <p>&nbsp;</p>
                                                               <span style='text-align:right'>Vera Cruz, {{t.data_triagem}}</span>
                                                        </div>                                                
                                                        <div style='text-align:center; width: 100%; '>                                          
                                                               <span >Dr.(a) {{request.user}}</span><br>
                                                               <hr style="width: 75%;margin: auto;">
                                                               Médico que fez o atendimento
                                                        </div>
                                                 <div style='font-size:0.6rem; margin-top:6.6rem'>
                                                        <b>UPA VERA CRUZ</b>
                                                        <BR/>Av. Juvenal João Vinagre, 175, Centro, Vera Cruz - Ba
                                                        <BR/>Tel.: (71) 3633-2286\
                                                        <BR/>Email: servicosocial.upaveracruz@gmail.com
                                                 </div>                                       
                                          </div>                                    
                                          <!--fim Exames-->                                   
                                   </section>
                            {% endif %}
                     {% endif %}  
                     <!--FIM Imprimir exames-->
                     <!--Imprimir Atestados-->
                     {% if not t.atestado == 'Digite a quantidade de dias que o paciente irá ficar de repouso' %}
                            {% if not t.atestado == '0' %}                                    
                                   <section class='atestado' id="tab4">
                                          <nav class="menu-vertical-medico">
                                                 <ul>                                          
                                                        <li><a  href="{% url 'Medicos:geraPdf' t.id %}" onclick="gerarAtestPDF(); return false;" ><i class="fa-solid fa-print" ></i> Imprimir/PDF</a></li>
                                                        <li><a href="{% url 'Medicos:final_medico_concluida' t.id %}"><i class="fa-solid fa-arrow-right-to-bracket"></i>  FINALIZAR ATENDIMENTO </a></li>
                                                 </ul>
                                          </nav> 
                                          <!--Imprimir Atestados-->
                                          <div id="tab44" style='width:600px; height:848.41px; margin:auto; margin-top:1rem;
                                          box-shadow: 0px -1px 10px 4px rgba(41, 41, 41, 1);
                                          -webkit-box-shadow: 0px -1px 10px 4px rgba(41, 41, 41, 1);
                                          -moz-box-shadow: 0px -1px 10px 4px rgba(41, 41, 41, 1);'>
                                                 <img style='width:100%; margin-top:-1rem; margin-left:0.2rem' src="{% static 'sus.svg' %}  " alt=""/>
                                                 <div class='card-medico' style="              
                                                        position: relative;
                                                        z-index: 10;
                                                        top: -45rem;
                                                        padding: 2rem;
                                                        padding-bottom:0.1rem;
                                                        height:42rem">                 
                                                        <h3>ATESTADO MÉDICO</h3>
                                                        <p>&nbsp;</p> 
                                                        <div style='margin: 2rem; font-size:0.8rem; height:9.7rem; max-height:9.7rem' class='uppercase'>Atesto para os devidos fins que <strong style='font-size:1rem'>{{t}}</strong> esteve sob
                                                        tratamento médico nesta unidade de saúde, no dia <strong style='font-size:1rem'>{{t.data_triagem}}</strong>, necessitando de <strong style='font-size:1rem'>{{t.atestado}}</strong> dias de afastamento a partir desta data,
                                                 por motivo de doença. </div>                                                 
                                                        <div style='margin-left:2rem;margin-top: -3rem;  height:7rem'>
                                                               <p>CID 10: <p>
                                                               <div style='margin:1rem auto; width:30rem; font-size:0.8rem;' class='grid'>     
                                                                      {% for t in cid10  %}                                                       
                                                                             <div style='margin-right:2rem; padding:0.1rem'><b><i class="fa-solid fa-check"></i> {{t.classificacao_internacional_doenca_CID}} </b></div>
                                                                      {% endfor %}
                                                               </div>                                                        
                                                        </div>                                                
                                                        <div style='margin-left:2rem; margin:3rem auto; text-align: right;'>     
                                                               <span style='text-align:right'>Vera Cruz, {{t.data_triagem}}</span>
                                                        </div>                                                
                                                        <div style='text-align:center; width: 100%; '>                                          
                                                               <span >Dr.(a) {{request.user}}</span><br>
                                                               <hr style="width: 75%;margin: auto;">
                                                               Médico que fez o atendimento
                                                        </div>
                                                 <div style='font-size:0.6rem; margin-top:6.6rem'>
                                                        <b>UPA VERA CRUZ</b>
                                                        <BR/>Av. Juvenal João Vinagre, 175, Centro, Vera Cruz - Ba
                                                        <BR/>Tel.: (71) 3633-2286\
                                                        <BR/>Email: servicosocial.upaveracruz@gmail.com
                                                 </div>                                       
                                          </div>                                    
                                          <!--fim Imprimir Atestados-->
                                   </section>
                            {% endif %}
                     {% endif %}  
                       
       </article> 
  
</div>
{% endfor %}  
<!-- Modal HTML -->
<div id="myModal" class="modal" style="height: 70rem;">
       <div class="modal-content">              
         <span class="close">&times;</span>
         {% for t in triagem_now %}   
         
         <p>&nbsp;</p>    
         <h1>Atenção</h1>
         
         <p>&nbsp;</p>    
         <p>&nbsp;</p>    

         <p>Apos realizar a impressão, você deverá clicar no botão
              FINALIZAR ATENDIMENTO, para que o nome do paciente saia
              da fila de atendimento do dia e seus dados sejam armazenados 
              em seu histórico hospitalar .
         </p> 
         <p>
              Se ainda não imprimiu todos os documentos do paciente <b class='uppercase'>{{t.paciente_triagem}}</b>, utilize os links abaixo para 
                     imprimir o restante dos documentos ou clique no &times; para visualiza-los na tela: 
                     <ul>{% if not t.preescrever_medicamento_medico == 'Preescreva o medicamento para o paciente' %}
                            <li>                                   
                            <a href="#tab1" onclick="gerarPDF(); return false;" ><b>Prescrição de medicamentos</b></a>                                   
                            </li>
                            {% endif %}
                            {% if not t.encaminhamento == 'Digite o encaminhamento do paciente' %}
                            <li>                                          
                            <a href="#tab2" onclick="gerarPDF(); return false;" ><b>Encaminhamento</b></a>                                          
                            </li>
                            {% endif %}
                            {% if  not t.exames == 'Preencha com a relação de exames' %}
                            <li>
                                   
                                   <a href="#tab3" onclick="gerarPDF(); return false;" > <b>Solicitação de exames</b></a>
                                   
                            </li>
                            {% endif %}
                            <li>
                            {% if not t.atestado == 'Digite a quantidade de dias que o paciente irá ficar de repouso' %}
                            <a href="#tab4" onclick="gerarAtestPDF(); return false;" ><b>Atestado<b></a>
                            {% endif %}
                            </li>                            
                            
                            
                     </ul>
         </p>           
        
       {% endfor %} 
       </div>







       
     </div>   







  




 <!-- XXXXXXXXXXXXXXXXXX  GERA O PDF XXXXXXXXXXXXXXXXXX --> 
<script>
       //PDF Prescreve Medicamento ------------------------------------------------------------

   function gerarPDF() {
        // Seleciona o elemento com o ID "tab1"
        const elementToPrint = document.querySelector('#tab11');
        console.log(elementToPrint)
        html2canvas(elementToPrint, {
            onrendered: function(canvas) {
                // Define as dimensões da página A4 em pixels
                const pageSize = { width: 595, height: 842 };
                // Define as margens em pixels
                const margin = 20;
                // Converte a imagem do canvas para um formato de dados base64
                const imgData = canvas.toDataURL('image/png');
                const img = new Image();
                img.onload = function() {
                    // Calcula a proporção da largura da imagem em relação à largura da página
                    const widthRatio = pageSize.width / (img.width + 2 * margin);
                    // Calcula a altura da imagem com base na proporção da largura
                    const imgHeight = img.height * widthRatio;
                    // Define as configurações do PDF
                    const pdfDefinition = {
                        pageSize: pageSize,
                        pageOrientation: 'portrait',
                        pageMargins: [margin, 20, margin, margin],
                        content: [
                            {
                                image: imgData,
                                width: pageSize.width - 2 * margin,
                                height: imgHeight
                            }
                        ]
                    };
                    // Abre um pop-up com o PDF
                    popupPDF();
                    const pdfWindow = window.open('', '_blank', 'width=600,height=800');
                    // Cria o PDF e o salva em um blob
            
              pdfMake.createPdf(pdfDefinition).getBlob(function (blob) {
            const url = URL.createObjectURL(blob);
            pdfWindow.location.href = url;
          });
        };
        img.src = imgData;
      }
    });
  }
  function gerarPDF_exame() {
       // Seleciona o elemento com o ID "tab1"
       const elementToPrint = document.querySelector('#tab33');
       console.log(elementToPrint)
       html2canvas(elementToPrint, {
           onrendered: function(canvas) {
               // Define as dimensões da página A4 em pixels
               const pageSize = { width: 595, height: 842 };
               // Define as margens em pixels
               const margin = 20;
               // Converte a imagem do canvas para um formato de dados base64
               const imgData = canvas.toDataURL('image/png');
               const img = new Image();
               img.onload = function() {
                   // Calcula a proporção da largura da imagem em relação à largura da página
                   const widthRatio = pageSize.width / (img.width + 2 * margin);
                   // Calcula a altura da imagem com base na proporção da largura
                   const imgHeight = img.height * widthRatio;
                   // Define as configurações do PDF
                   const pdfDefinition = {
                       pageSize: pageSize,
                       pageOrientation: 'portrait',
                       pageMargins: [margin, 20, margin, margin],
                       content: [
                           {
                               image: imgData,
                               width: pageSize.width - 2 * margin,
                               height: imgHeight
                           }
                       ]
                   };
                   // Abre um pop-up com o PDF
                   popupPDF();
                   const pdfWindow = window.open('', '_blank', 'width=600,height=800');
                   // Cria o PDF e o salva em um blob
           
             pdfMake.createPdf(pdfDefinition).getBlob(function (blob) {
           const url = URL.createObjectURL(blob);
           pdfWindow.location.href = url;
         });
       };
       img.src = imgData;
     }
   });
 }
  //PDF Prescreve Atestado ------------------------------------------------------------
  function gerarAtestPDF() {
       // Seleciona o elemento com o ID "tab4"
       const elementToPrint = document.querySelector('#tab44');
       console.log(elementToPrint)
       html2canvas(elementToPrint, {
           onrendered: function(canvas) {
               // Define as dimensões da página A4 em pixels
               const pageSize = { width: 595, height: 842 };
               // Define as margens em pixels
               const margin = 20;
               // Converte a imagem do canvas para um formato de dados base64
               const imgData = canvas.toDataURL('image/png');
               const img = new Image();
               img.onload = function() {
                   // Calcula a proporção da largura da imagem em relação à largura da página
                   const widthRatio = pageSize.width / (img.width + 2 * margin);
                   // Calcula a altura da imagem com base na proporção da largura
                   const imgHeight = img.height * widthRatio;
                   // Define as configurações do PDF
                   const pdfDefinition = {
                       pageSize: pageSize,
                       pageOrientation: 'portrait',
                       pageMargins: [margin, 20, margin, margin],
                       content: [
                           {
                               image: imgData,
                               width: pageSize.width - 2 * margin,
                               height: imgHeight
                           }
                       ]
                   };
                   // Abre um pop-up com o PDF
                   popupPDF();
                   const pdfWindow = window.open('', '_blank', 'width=600,height=800');
                   // Cria o PDF e o salva em um blob
           
             pdfMake.createPdf(pdfDefinition).getBlob(function (blob) {
           const url = URL.createObjectURL(blob);
           pdfWindow.location.href = url;
         });
       };
       img.src = imgData;
     }
   });
 }
</script>












   

<script>

       function popupPDF(url) {
  var modal = document.getElementById("myModal");
  var span = document.getElementsByClassName("close")[0];

  modal.style.display = "block";

  span.onclick = function() {
    modal.style.display = "none";
  }

  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
}

      
            
            
</script>
{% endblock body_login %}