      
<style>
    .menu li{
        border-right: 0.1rem solid rgb(83, 11, 11);
    }
</style>   
<div class="menu-wrapper menu-gray " style="width:100%;">
    <ul class="menu d-flex">       
        <!--Parametros-->
        <li class="col text-center">
            <a href=""><i class="fas fa-solid fa-compass-drafting"></i> Parâmetros</a>
            <ul >
                <li class='text-left'>
                    <a href=""><i class="fa-thin fa-land-mine-on"></i> Classificação de Emergência</a>
                    <ul>
                        <li><a href="{% url 'Triagem:classifica-risco'%}"><i class="fas fa-user"></i> Cadastro </a></li>
                        <li><a href="{% url 'Triagem:classifica-risco-lista'%}"><i class="fas fa-user-tie"></i> Listagem </a></li>                            
                    </ul>
                </li> 
                <li class='text-left'>
                    <a href="{% url 'Medicos:importa_csv'%}"><i class="fa-thin fa-border-none"></i> Importar tabela cid-10</a>
                </li> 
                <li>
                    <a href="{% url 'Medicos:cadastroExame'%}"><i class="fa-thin fa-vial-circle-check"></i> Cadastrar tipo de exames</a>
                </li>                              
                <li>
                    <a href=""><i class="fa-thin fa-solar-panel"></i> Configura Painel</a>
                    <ul>
                        <li>
                            <a href="{% url 'configUPA:upload_video_painel'%}"></i>Background em video</a>
                        </li>
                        <li>
                            <a href="{% url 'configUPA:letreiroCreate'%}"></i> Configura Letreiro</a>
                        </li>  
                    </ul>
                </li>  
                <li>
                    <a href="{% url 'Medicos:cadastroMedicamento'%}"><i class="fa-solid fa-pills"></i> Medicamentos</a>
                </li> 
            </ul>
        </li>
        <!--Pacientes-->
        <li class="col text-center">
            <a href=""><i class="fas fa-solid  fa-universal-access"></i> Pacientes</a>
            <ul>
                <li>
                    <a href="{% url 'Atendimento:lista-paciente' %}"></i> Listagem</a>
                    <a href="{% url 'Atendimento:registro-paciente' %}"></i> Cadastro</a>
                </li>                
            </ul>
        </li>
        <!--Fila de Triagem-->
        <li class="col text-center">
            <a href=""><i class="fas fa-solid  fa-people-arrows"></i> Fila de Espera</a>
            <ul>
                <li>
                    <a href="{% url 'Atendimento:lista_de_paciente_na_triagem' %}"></i> Fila de espera por data</a>
                    <a href="{% url 'Atendimento:envio_paciente_a_triagem' %}"></i> Enviar paciente à fila de espera</a>
                </li>                
            </ul>
        </li>
        <li class="col text-center">
            <a href=""><i class="fas fa-solid  fa-person-shelter"></i> Salas</a>
            <ul>
                <li><i class=""></i>
                    <a href="{% url 'Medicos:cadastroSala' %}"><i class="fas fa-solid  fa-person-shelter"></i> Salas</a>
                    <a href="{% url 'Medicos:salasProfissionalCreate' %}"><i class="fa-solid fa-people-roof"></i> Vincula Profissional à Sala</a>
                </li>                
            </ul>
        </li>       
        <!--Locais-->
        <li class="col-2 text-center">
            <a href=""><i class="fa-solid fa-street-view"></i> Locais</a>
            <ul>
                <li><i class=""></i>
                    <a href="{% url 'Atendimento:cadastra_rua' %}">Ruas</a>
                    <a href="{% url 'Atendimento:cadastra_bairro' %}"></i> Bairros</a>
                    <a href="{% url 'Atendimento:cadastra_estado' %}">Estado</a>
                    <a href="{% url 'Atendimento:cadastra_cidade' %}">Cidade</a>
                    <a href="{% url 'Atendimento:cadastra_pais' %}">País</a>
                </li>                
            </ul>
        </li>
        <!--Relatorios-->
        <li class="col text-center" style="border: none !important;">
            <a href=""><i class="fas fa-solid  fa-flag"></i> Relatórios</a>
            <ul>
                <li><i class=""></i>                    
                    <a href="{% url 'PrintPDFs:quantiPacientSistema' %}" onclick="window.open('{% url "PrintPDFs:quantiPacientSistema" %}', 'popup', 'width=600,height=600'); return false;"><i class="fas fa-solid  fa-flag"></i> Nº de pacientes no sistema</a>
                </li>  
                <li>
                    <script>
                        function abrirPDF() {
                            window.open("{% url 'PrintPDFs:download_pdf' %}", "_blank", "width=800,height=600");
                        }
                    </script>  
                    <a href="#" onclick="abrirPDF()">
                        <i class="fa-solid fa-paperclip"></i>                        
                        Relação de atendimentos do dia</a>                    
                </li>              
            </ul>
        </li>       
    </ul>
</div>
