
    {% if medico_atendimento.paciente_medico_atendimento..classifica_tipo.classifica_tipo == "Vermelho" %}
            prosseguir-red
        {% elif medico_atendimento.paciente_medico_atendimento.classifica_tipo.classifica_tipo == "Laranja"  %}
            prosseguir-laranja
        {% elif medico_atendimento.paciente_medico_atendimento.classifica_tipo.classifica_tipo == "Amarelo"  %}
            prosseguir-yellow text-dark
        {% elif medico_atendimento.paciente_medico_atendimento.classifica_tipo.classifica_tipo == "Verde"   %}
            prosseguir-green                                            
        {% elif medico_atendimento.paciente_medico_atendimento.classifica_tipo.classifica_tipo == "Azul"  %}
            prosseguir-blue btn-primary
    {% endif %}