{% extends 'global/template_geral.html' %}
<!-- titulo Web da pagina-->
{% block title_login %} Pacientes {% endblock title_login %}
{% load static %}
<!--CSS local-->
{% block css %} 
    <!--Tabela-->
    <link rel="stylesheet" href=" {% static 'global/tabela/css/style.css' %} "> 
    <!--Menu Local-->
    <link rel="stylesheet" href=" {% static 'global/css/menu/menu-local.css' %} "> 
    <style>
        .search-wrapper {
            display: flex;
            align-items: center;
            border:0.1rem solid #666;
            border-radius: 20px;
            padding: 5px;
          }
          
          .search-input {
            border: none;
            outline: none;
            flex: 1;
            padding: 10px;
            font-size: 16px;
          }
          
          .search-button {
            background-color: #4285f4;
            color: #fff;
            border: 0.1rem;
            outline: none;
            padding: 10px;
            border-radius: 50%;
            cursor: pointer;
            transition: background-color 0.3s ease;
          }
          
          .search-button:hover {
            background-color: #3367d6;
          }
          
    </style>
{% endblock css %}   
<!--Titulo da Pagina-->
{% block body_title %}PACIENTES: Relação de Pacientes Cadastrados no Sistema com HISTÓRICO HOSPITALAR::.  {% endblock body_title %}
{% block body_login %}
    
<div class='' style=''>     
    <div class="" style='margin:auto; margin-bottom:-2rem; width:50%; '>
        <form action="?" method="GET" class="form-inline">
            {% csrf_token %}            
            <div class="search-wrapper">
              <input type="text" class="search-input" placeholder="Buscar por paciente" name="busca-paciente">
              <button class="search-button" type="submit"><i class="fa-solid fa-search"></i></button>
            </div>
          </form> 
    </div>        
</div>  
<p>&nbsp;</p>
<p>&nbsp;</p>    
<p>&nbsp;</p>    
<p>&nbsp;</p>   
<div class='flex'>

    <div class="style-tabela" style='margin-top:-2rem'>       
        <div class="top-inf fs-1">
            <h1 class='h2 border-bottom border-1 border-dark'>Pacientes</h1>
            <i class="fa-solid fa-notes-medical"></i> Histórico Hospitalar
        </div>
       <p>&nbsp;</p>
       <div class="controle_tabela">
        {% if page_obj.has_previous %}
            <a class="" href="?page={{page_obj.previous_page_number}}"><i class="fa-solid fa-angles-left"></i> Voltar</a>    
                          
        {% endif %}
        {% if page_obj.has_next %}               
            <a href="?page={{ page_obj.next_page_number }}">Próxima página <i class="fa-solid fa-angles-right"></i></a>    
        {% endif %}
    </div>
        <table id="tabela-listar" border="0" cellpadding="0" cellspacing="0" width="100%">                
                <thead class=''>
                    <tr>
                    <td class="top center fs-6 bg-secondary">Nome</td>
                    <td class="top center fs-6 bg-secondary">Telefone</td>
                    <td class="top center fs-6 bg-secondary">Bairro</td>
                    <td class="top center fs-6 bg-secondary">Data de Cadastro</td>
                    <td class="top center fs-6 bg-secondary">Resp. pelo cadastro</td>
                    <td class="top center fs-6 bg-secondary" colspan="1" >Ações</td>
                   
                    </tr>
                </thead>       
                <tbody>                     

                    {% for campo in object_list %}  
                    <tr> 
                        <td class='fs-7'><a class="link-color" href="{% url 'Medicos:perfil_completo_paciente_menu_lateral' campo.pk %}"><span>{{campo.nome_social}}</span></a></td>                                                        
                        <td class='fs-7' align="center" href="">{{campo.tel}}</td>
                        <td class='fs-7' align="center">{{campo.bairro}}</td>
                        <td class='fs-7' align="center">{{campo.data_cadastro}}</td>
                        <td class='fs-7' align="center"><span class="uppercase"><span class='text-capitalize'>{% if campo.nome_recepcionista %}{{campo.nome_recepcionista}}{% else %}Não mencionado{% endif %}</span> </td>                    
                        <td class='fs-7' align="center"> <a href="{% url 'Atendimento:atualizar-paciente' campo.pk   %}" class="text-primary" title="Editar"><i class="fa-solid fa-user-pen"></i> Editar</a> </td>
                    </tr>       
                    
                    {% empty%}
                        <tr>
                            <td colspan='7'>Nenhum registro informado</td>  
                                  
                        </tr>                       
                    {% endfor %}
                </tbody>                
        </table>                    
    </div><!--tabela-->   

</div>     
            
{% endblock body_login %}
