{% load static %}
<div class='d-flex'><button class="btn btn-sm btn-primary mx-5 mt-2" onclick="imprimirRelatorio()">Imprimir Relatório <i class="fa-solid fa-print"></i></button>
                {% if not medico_atendimento.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.conteudo_alergia|safe == 'Não possui alergias (Para tornar editável essa área, é necessário informar que o paciente possui alergias)' %}
                        <a class='btn btn-sm btn-danger h-25 mt-2'> <i class="fa-solid fa-triangle-exclamation"></i> Atenção,  paciente com alergias </a>
                {% endif %}
        </div>
        
<div id='imprimir_relatorio_medico{{medico_atendimento.id}}' style="box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
padding: 2%;">
    <style>

            @media print {
                body{font-family: Arial, Helvetica, sans-serif !important;}
                p{padding: 0rem!important;margin: 0!important;font-size: 0.7rem;}
                div{font-size: 0.7rem;}
                #cabecalho div, #cabecalho p{font-size: 0.9rem!important;}
                h1, h2, h3, h4, h5, h6 {
                                margin: 0; /* Zera as margens para títulos */
                                padding: 0; /* Zera o padding para títulos */
                }
                h1 {
                margin: 0; /* Zera as margens para h1 */
                padding: 0; /* Zera o padding para h1 */
                background-repeat: repeat-x; /* Repete a imagem horizontalmente */
                color: #fff; /* Cor do texto para h1 */
                text-align: center; /* Centraliza o texto no h1 */
                line-height: 20px; /* Altura da linha para centralizar verticalmente */
                }
                
                h2 {display: flex;width:auto; margin-right: 3%; font-size: 1.4rem !important; font-weight: lighter!important;}
                .comorbidade{
                        background-color:hsl(0, 0%, 80%)!important;
                }
            }
    </style>
    <div style='display:flex'>
        <div id="cabecalho" style='width: 68%;'>
            <div style='display:flex'><div style=' margin-right: 1rem;'>UPA VERA CRUZ</div><li>HTMAS</li></div>
            <p>Av. Juvenal João Vinagre, 175. Centro. Vera Cruz - BA</p>
            <p>Tel.: (71) 3633 - 2286</p>
            <p>Email: servicosocial.upaveracruz@gmail.com</p>
        </div>
        <div style='display:flex;width:32%; padding-top: 0.1rem;'>
            <div><img width="50" src="{% static 'brasao-veracruz.png' %}" alt=""></div>
            <div><img width="160" src="{% static 'upa24.png' %}" alt=""></div>
        </div>
    </div>
    <div style='padding-top: 1.5rem;'><h1 style='font-size: 1.5rem; text-align: center !important;  color:#000'>FICHA DE ATENDIMENTO DE EMERGÊNCIA</h1></div>
    <hr>
    
        <!--linha 1-->
        <div style="display: flex;">
                <div style="width: auto!important;margin-right:0.5rem">
                        Nome Social:<span style="font-weight: bold;border-bottom: 0.01rem solid gray !important; font-size:0.75rem">&nbsp;&nbsp;{{medico_atendimento.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.nome_social}} &nbsp;&nbsp;</span>
                </div>
                {% if medico_atendimento.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.nome_completo %}
                <div style="width: auto!important;margin-right:0.5rem">
                        Nome Completo:<span style="font-weight: bold;border-bottom: 0.01rem solid gray !important; font-size:0.75rem">&nbsp;&nbsp;{{medico_atendimento.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.nome_completo}} &nbsp;&nbsp;</span>
                </div>
                {% endif %}
                <div style="width:auto;margin-right:0.5rem">
                        Idade:<span style="font-weight: bold;border-bottom: 0.01rem solid gray !important;font-size:0.75rem">&nbsp;&nbsp;{{medico_atendimento.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.idade}} anos&nbsp;&nbsp;</span>
                </div>
        </div>   
        <!--linha 2-->
        <div style="display: flex;margin-top:0.3%">
                <div style="width: auto!important;">
                        Data de Nascimento:<span style="font-weight: bold;border-bottom: 0.01rem solid gray !important;font-size:0.75rem">&nbsp;&nbsp;{{medico_atendimento.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.data_nascimento}}&nbsp;&nbsp;</span>
                </div>
                <div style="width: auto!important;margin-right:0.6rem">
                        Sexo:<span style="font-weight: bold;border-bottom: 0.01rem solid gray !important;font-size:0.75rem">&nbsp;&nbsp;{{medico_atendimento.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.sexo}}&nbsp;&nbsp;</span>
                </div>
                <div style="width: auto!important;margin-right:0.6rem">
                        RG: <span style="font-weight: bold;border-bottom: 0.01rem solid gray !important;font-size:0.75rem">&nbsp;&nbsp;{{medico_atendimento.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.RG}}&nbsp;&nbsp;</span>
                </div>
                <div style="width: auto!important;margin-right:0.6rem">
                        CNS ou CPF: <span style="font-weight: bold;border-bottom: 0.01rem solid gray !important;font-size:0.75rem">&nbsp;&nbsp;{{medico_atendimento.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.CPF}}&nbsp;&nbsp;</span>
                </div>                                 
        </div>  
        <!--linha 3-->
        <div style="display: flex;margin-top:0.3%">
                <div style="width: auto!important;margin-right:0.6rem">
                        Endereço (Rua): <span style="font-weight: bold;border-bottom: 0.01rem solid gray !important;font-size:0.75rem; ">&nbsp;&nbsp;{{medico_atendimento.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.rua}}&nbsp;&nbsp;</span>
                </div>  
                <div style="margin-right:0.6rem;width:auto!important;">
                        Bairro: <span style="font-weight: bold;border-bottom: 0.01rem solid gray !important;font-size:0.75rem">&nbsp;&nbsp;{{medico_atendimento.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.bairro}}&nbsp;&nbsp;</span>
                </div>  
                <div style="margin-right:0.6rem;width: auto!important;">
                        Cidade: <span style="font-weight: bold;border-bottom: 0.01rem solid gray !important;font-size:0.75rem">&nbsp;&nbsp;{{medico_atendimento.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.cidade}}&nbsp;&nbsp;</span>
                </div> 
                <div style="width: auto!important;">
                        Estado: <span style="font-weight: bold;border-bottom: 0.01rem solid gray !important;font-size:0.75rem">&nbsp;&nbsp;{{medico_atendimento.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.estado}}&nbsp;&nbsp;</span>
                </div> 
                                                 
        </div>
        <!--linha 4-->
        <div style="display: flex;margin-top:0.3%">
                <div style="width: auto!important">
                        CEP: <span style="font-weight: bold;border-bottom: 0.01rem solid gray !important;font-size:0.75rem">&nbsp;&nbsp;{{medico_atendimento.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.CEP}}&nbsp;&nbsp;</span>
                </div> 
                <div style="width: auto!important">
                        Nome da Mãe: <span style="font-weight: bold;border-bottom: 0.01rem solid gray !important;font-size:0.75rem">&nbsp;&nbsp;{{medico_atendimento.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.nome_mae}}&nbsp;&nbsp;</span>
                </div> 
                <div style="width: auto!important">
                        Nacionalidade: <span style="font-weight: bold;border-bottom: 0.01rem solid gray !important;font-size:0.75rem">&nbsp;&nbsp;{{medico_atendimento.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.nacionalidade}}&nbsp;&nbsp;</span>
                </div>  
                <div style="width: auto!important">
                        Telefone: <span style="font-weight: bold;border-bottom: 0.01rem solid gray !important;font-size:0.8rem">&nbsp;&nbsp;{{medico_atendimento.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.tel}}&nbsp;&nbsp;</span>
                </div>                                                                  
        </div>
        <!--linha 5-->
        <div style="display: flex;margin-top:0.3%">
                <div style="width: auto!important;">
                        Acompanhante: <span style="font-weight: bold;border-bottom: 0.01rem solid gray !important;font-size:0.75rem">&nbsp;&nbsp;{{medico_atendimento.paciente_medico_atendimento.paciente_triagem.nome_acompanhante}}&nbsp;&nbsp;</span>
                </div>   
                <div style="width: auto!important">
                        Admissão: <span style="font-weight: bold;border-bottom: 0.01rem solid gray !important;font-size:0.75rem">&nbsp;&nbsp;{{medico_atendimento.paciente_medico_atendimento.paciente_triagem.data_envio_triagem}}&nbsp;&nbsp;</span>
                </div>  
                <div style="width: auto!important">
                        Hora: <span style="font-weight: bold;border-bottom: 0.01rem solid gray !important;font-size:0.75rem">&nbsp;&nbsp;{{medico_atendimento.paciente_medico_atendimento.paciente_triagem.horario_triagem}}hs&nbsp;&nbsp;</span>
                </div>  
                <div style="width: auto!important;">
                        Registro: <span style="font-weight: bold;border-bottom: 0.01rem solid gray !important;font-size:0.75rem">&nbsp;&nbsp;{% if medico_atendimento.paciente_medico_atendimento.paciente_triagem.cod_triagem %}{{medico_atendimento.paciente_medico_atendimento.paciente_triagem.cod_triagem}}{% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}&nbsp;&nbsp;</span>
                </div>                                                               
        </div>
        <div style="width: auto!important;margin-top:0.3%">
                Cartão do Sus: <span style="font-weight: bold;border-bottom: 0.01rem solid gray !important;font-size:0.8rem">&nbsp;&nbsp;{{medico_atendimento.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.cartao_sus}}&nbsp;&nbsp;</span>
        </div> 
        <!--ENFERMAGEM-->
        <div style="margin-top: 3%;">
                <h2 style="display: flex;width:auto; margin-right: 3%; font-size: 1.5rem !important;margin-bottom:-2%">Informações da classificação (Enfermagem)</h2>  
                <hr style='margin-top:2%'>
                <p>Hora: {{medico_atendimento.paciente_medico_atendimento.hora_triagem}}hs</p> </p>
                <div style="display: flex;width:auto; font-size:0.9rem">
                        <div style="border: 0.1rem solid gray;padding: 0.5rem; display:flex;">
                                <b style="font-size: 0.8rem;margin-bottom: 1rem; display: block;">PA:</b>&nbsp;  {{medico_atendimento.paciente_medico_atendimento.pressao_arterial_PA}}mmHg max  | {{medico_atendimento.paciente_medico_atendimento.pressao_arterial_PA_2}}mmHg  min
                        </div>
                        <div style="border: 0.1rem solid gray;padding: 0.5rem; display:flex;">
                                <b style="font-size: 0.8rem;margin-bottom: 1rem; display: block;">FC:</b>&nbsp; {{medico_atendimento.paciente_medico_atendimento.frequencia_cardiaca_FC}}bpm
                        </div>   
                        <div style="border: 0.1rem solid gray;padding: 0.5rem; display:flex;">
                                <b style="font-size: 0.8rem;margin-bottom: 1rem; display: block;">FR:</b>&nbsp; {{medico_atendimento.paciente_medico_atendimento.frequencia_respiratoria_FR}}bpm
                        </div>  
                        <div style="border: 0.1rem solid gray;padding: 0.5rem; display:flex;">
                                <b style="font-size: 0.8rem;margin-bottom: 1rem; display: block;">SPO²:</b>&nbsp; {{medico_atendimento.paciente_medico_atendimento.saturacao_de_oxigenio_SPO2}}%
                        </div>                                                                                  
                        <div style="border: 0.1rem solid gray;padding: 0.5rem; display:flex;">
                                <b style="font-size: 0.8rem;margin-bottom: 1rem; display: block;">HGT:</b>&nbsp; {{medico_atendimento.paciente_medico_atendimento.hemoglicoteste_HGT}}mg/dL
                        </div> 
                        <div style="border: 0.1rem solid gray;padding: 0.5rem; display:flex;">
                                <b style="font-size: 0.8rem;margin-bottom: 1rem; display: block;">TEMP:</b>&nbsp; {{medico_atendimento.paciente_medico_atendimento.temperatura_TEMP}}c°
                        </div> 
                        <div style="border: 0.1rem solid gray;padding: 0.5rem; display:flex;">
                                <b style="font-size: 0.8rem;margin-bottom: 1rem; display: block;">PESO:</b>
                                &nbsp;{% if medico_atendimento.paciente_medico_atendimento.peso == None %}33,6kg{% else %}{{medico_atendimento.paciente_medico_atendimento.peso}}kg{% endif %}
                        </div>                                           
                </div> 
                <div class="comorbidade" style="font-size: 0.8rem; padding:0.2rem 0.5rem; margin:0.5rem 0; background-color:#ccc; border: 0.1rem solid #ccc; ">
                        <b style="font-size: 0.8rem;margin-top: 0.5rem; display: block;" >SINTOMAS RELATADOS PELO PACIENTE:</b>
                        {{medico_atendimento.paciente_medico_atendimento.observacao|safe}}
                </div>
                {% if not medico_atendimento.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.conteudo_comorbidades|safe == 'Não possui comobirdades (Para tornar editável essa área, é necessário informar que o paciente possui comobirdades)' %}
                        <div class="comorbidade" style="font-size: 0.8rem; padding:0.2rem 0.5rem; margin:0.5rem 0; background-color:#ccc; border: 0.1rem solid #ccc; ">
                                <b style="font-size: 0.8rem;margin-top: 0.5rem; display: block;">COMORBIDADES:</b>
                                <style>ul{display:flex}</style>
                                {{medico_atendimento.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.conteudo_comorbidades|safe}}
                        </div>  
                {% endif %}
                {% if not medico_atendimento.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.conteudo_alergia|safe == 'Não possui alergias (Para tornar editável essa área, é necessário informar que o paciente possui alergias)' %}
                        <div id="alergias" style="font-size: 0.8rem; padding:0.2rem 0.5rem; margin:0.5rem 0; background-color:#ccc; border: 0.1rem solid #ccc; ">
                                <b style="font-size: 0.8rem;margin-top: 0.5rem; display: block;">ALERGIAS:</b>
                                <style>ul{display:flex}</style>
                                {{medico_atendimento.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.conteudo_alergia|safe}}
                        </div>  
                {% endif %}
                <div style="font-size: 0.8rem; padding:0.2rem 0.5rem; margin:0.5rem 0; background-color:#ccc; display:flex; border: 0.1rem solid #ccc;">
                        <div style="width: 50%;">
                                <b style="font-size: 0.8rem;margin-top: 0.5rem; display: block;">CLASSIFICAÇÃO:</b>
                                <style>ul{display:flex}</style>
                                <i style='font-size: 1.5rem'>{{medico_atendimento.paciente_medico_atendimento.classifica_tipo}}</i>
                        </div>
                        <div>
                                <b style="font-size: 0.8rem;margin-top: 0.8rem; display: block;">ENFERMEIRO (a):</b>
                                <i style='font-size: 0.8rem'>{{medico_atendimento.paciente_medico_atendimento.nome_da_enfermeira}}</i>                                          
                        </div>
                </div>
        </div>
        <!--MÉDICO-->                            
        <div style="margin-top: 3%;">
                <h2 style="display: flex;width:auto; margin-right: 3%; font-size: 1.5rem !important; margin-bottom:-1%">Informações do Atendimento Médico</h2>
                <hr>
                Data: {{medico_atendimento.data_medico}}hs | <i class="fa-duotone fa-alarm-clock"></i> Hora: {{medico_atendimento.hora_medico}}hs
                {% if medico_atendimento.historico_doenca_atual_HDA %}
                        <div style="margin-left: 2rem; margin-top: 1%">
                                <p style="background-color:#ccc; padding: 0.5rem">H.D.A: </p>
                                <div style="padding: 0.5rem; border: 0.1rem solid #ccc !important;">
                                    <style>ul{display:block}</style>
                                    <div style="margin-bottom: 1rem;">
                                            {{medico_atendimento.historico_doenca_atual_HDA|safe}}
                                    </div>
                                </div>
                        </div>
                {% endif %}
                {% if medico_atendimento.exame_fisico %}
                        <div style="margin-left: 2rem;">
                                <p style="background-color:#ccc; padding: 0.5rem">EXAME FÍSICO: </p>
                                <div style="padding: 0.5rem; border: 0.1rem solid #ccc !important;">
                                    <style>ul{display:block}</style>
                                    <div style="margin-bottom: 1rem;">
                                            {{medico_atendimento.exame_fisico|safe}}
                                    </div>
                                </div>
                        </div>
                {% endif %}
                {% if medico_atendimento.Diagnostico %}
                        <div style="margin-left: 2rem;">
                                <p style="background-color:#ccc; padding: 0.5rem">DIAGNÓSTICO: </p>
                                <div style="padding: 0.5rem; border: 0.1rem solid #ccc !important;">
                                    <style>ul{display:block}</style>
                                    <div style="margin-bottom: 1rem;">
                                            {{medico_atendimento.Diagnostico|safe}}
                                    </div>
                                </div>
                        </div>
                {% endif %}
                {% if medico_atendimento.conduta %}
                        <div style="margin-left: 2rem;">
                                <p style="background-color:#ccc; padding: 0.5rem">CONDUTA: </p>
                                <div style="padding: 0.5rem; border: 0.1rem solid #ccc !important;">
                                    <style>ul{display:block}</style>
                                    <div style="margin-bottom: 1rem;">
                                            {{medico_atendimento.conduta|safe}}
                                    </div>
                                </div>
                        </div>
                {% endif %}
                <div style="margin-left: 2rem; display: flex; margin-top:2%">
                        <p style="background-color:#ccc; padding: 0.5rem">CID 10: </p>
                        <div style="padding: 0.5rem; border: 0.1rem solid #ccc !important;">
                                <style>ul{display:block}</style>
                                <div style="margin-bottom: 1rem;">
                                    {{medico_atendimento.classificacao_internacional_doenca_CID|safe}}
                                </div>
                        </div>                                          
                </div>
        </div>
        <!--EXTRA-->
        <div style="margin-top: 2%;">
                <div style="margin-left: 2rem; margin-bottom:1.5rem; border: 0.1rem solid #ccc">
                        <p style="background-color:#ccc; padding: 0.5rem">Alergias: {% if not medico_atendimento.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.alergias == "0" %}SIM {% else %}NÃO{% endif %}<i></i> </p>
                        {% if not medico_atendimento.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.alergias == "0" %}
                        <div style="padding: 0.5rem; border: 0.1rem solid #ccc !important;">                                               
                        
                        <div style="margin-bottom: 1rem;">
                                {{medico_atendimento.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.conteudo_alergia}}
                        </div>
                        </div>
                        {% else %}                                          
                        {% endif %}
                        
                </div>
                <div style="margin-left: 2rem">
                        <p style="border:solid 0.1rem #ccc; padding: 0.9rem; font-weight: 700;">Alta:</p>
                </div>
                <div style="margin-left: 2rem">
                        <p style="font-size: 1rem; padding: 1rem; font-weight: 700; text-align: right !important ">Médico: <span>Dr.(a) {{medico_atendimento.medico_nome}}</span></p>
                </div>
        </div>
        

        <!-- SEGUNDA PAGINA DO FORMULARIO 
                <div style="page-break-before: always;"></div>
        <div class="d_none">
                <div  style='display:flex ' >
                        <div id="cabecalho" style='width: 68%;'>
                                <div style='display:flex'><div style=' margin-right: 1rem;'>UPA VERA CRUZ</div><li>HTMAS</li></div>
                                <p>Av. Juvenal João Vinagre, 175. Centro. Vera Cruz - BA</p>
                                <p>Tel.: (71) 3633 - 2286</p>
                                <p>Email: servicosocial.upaveracruz@gmail.com</p>
                        </div>
                        <div style='display:flex;width:32%; padding-top: 0.1rem;'>
                                <div><img width="50" src="{% static 'brasao-veracruz.png' %}" alt=""></div>
                                <div><img width="160" src="{% static 'upa24.png' %}" alt=""></div>
                        </div>
                </div>
                <h1 style="margin-top: 2rem;">Anotações Complementares</h1>
                <div style="margin-top: 0.7rem; border:0.1rem solid black; padding: 0.9rem;">
                        <div style="display: flex !important;">
                                <div style="width: 10rem;">Evolução Médica: </div>
                                <div style=" height:1.2rem; border-bottom:solid 0.1rem gray; width: 100%;">&nbsp;</div>
                        </div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                </div>
                <div style="margin-top: 0.7rem; border:0.1rem solid black; padding: 0.9rem;">
                        <div style="display: flex !important;">
                                <div style="width: 10rem;">Enfermeiro (a): </div>
                                <div style=" height:1.2rem; border-bottom:solid 0.1rem gray; width: 100%;">&nbsp;</div>
                        </div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                </div>
                <div style="margin-top: 0.7rem; border:0.1rem solid black; padding: 0.9rem;">
                        <div style="display: flex !important;">
                                <div style="width: 12rem;">Tec. Enfermagem: </div>
                                <div style=" height:1.2rem; border-bottom:solid 0.1rem gray; width: 100%;">&nbsp;</div>
                        </div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                </div>
                <div style="margin-top: 0.7rem; border:0.1rem solid black; padding: 0.9rem;">
                        <div style="display: flex !important;">
                                <div style="width: 25rem;">Laboratório - RX - Serviço Social: </div>
                                <div style=" height:1.2rem; border-bottom:solid 0.1rem gray; width: 100%;">&nbsp;</div>
                        </div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                </div>
                <div style="margin-top: 0.7rem; border:0.1rem solid black; padding: 0.9rem;">
                        <div style="display: flex !important;">
                                <div style="width:6rem;">Nutrição: </div>
                                <div style=" height:1.2rem; border-bottom:solid 0.1rem gray; width: 100%;">&nbsp;</div>
                        </div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                </div>
                <div style="margin-top: 0.7rem; border:0.1rem solid black; padding: 0.9rem;">
                        <div style="display: flex !important;">
                                <div style="width:15rem;">Pacientes Internados: </div>
                        </div>
                        <div style="display: flex !important;">
                                <div style="width:15rem;">Telefone 1: </div>
                                <div style=" height:1.2rem; border-bottom:solid 0.1rem gray; width: 100%;">&nbsp;</div>
                                <div style="width:10rem;">Nome: </div>
                                <div style=" height:1.2rem; border-bottom:solid 0.1rem gray; width: 100%;">&nbsp;</div>
                        </div>
                        <div style="display: flex !important;">
                                <div style="width:15rem;">Telefone 2: </div>
                                <div style=" height:1.2rem; border-bottom:solid 0.1rem gray; width: 100%;">&nbsp;</div>
                                <div style="width:10rem;">Nome: </div>
                                <div style=" height:1.2rem; border-bottom:solid 0.1rem gray; width: 100%;">&nbsp;</div>
                        </div>                                   
                </div>
                <div style="margin-top: 0.7rem; border:0.1rem solid black; padding: 0.9rem;">
                        <div style="display: flex !important;">
                                <div style="width:18rem;">Reservado à Coordenação: </div>
                                <div style=" height:1.2rem; border-bottom:solid 0.1rem gray; width: 100%;">&nbsp;</div>
                        </div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                </div>
                <div style="margin-top: 0.7rem;" class="st-icon-addthis"v style="margin-top: 0.7rem;"><span style="margin-right: 8rem;">Atestado Médico: __________ dias</span><span>Número da D.O: ____________________</span></div>
        </div>-->
</div>
<script>
        function imprimirRelatorio() {
            var conteudoDiv = document.getElementById('imprimir_relatorio_medico{{medico_atendimento.id}}').innerHTML;
            var janelaImpressao = window.open('', '', 'width=600');
    
            if (janelaImpressao) {
                janelaImpressao.document.write('<html><head><title>Relatório Médico</title></head><body>');
    
                // Adicione a quebra de página antes de cada nova seção
                janelaImpressao.document.write(conteudoDiv);
    
                janelaImpressao.document.write('</body></html>');
                janelaImpressao.document.close();
                janelaImpressao.print();
            } else {
                alert('Erro ao abrir a janela de impressão. Verifique se as configurações do seu navegador permitem pop-ups.');
            }
        }
</script>

