  {% load static %}
  <!-- SEGUNDA PAGINA DO FORMULARIO 
                <div style="page-break-before: always;"></div>
        <div class="d_none">
                <div  style='display:flex ' >
                        <div id="cabecalho" style='width: 68%;'>
                                <div style='display:flex'><div style=' margin-right: 1rem;'>UPA VERA CRUZ</div><li>HTMAS</li></div>
                                <p>Av. Juvenal João Vinagre, 175. Centro. Vera Cruz - BA</p>
                                <p>Tel.: (71) 3633 - 2286</p>
                                <p>Email: servicosocial.upaveracruz@gmail.com</p>
                        </div>
                        <div style='display:flex;width:32%; padding-top: 0.1rem;'>
                                <div><img width="50" src="{% static 'brasao-veracruz.png' %}" alt=""></div>
                                <div><img width="160" src="{% static 'upa24.png' %}" alt=""></div>
                        </div>
                </div>
                <h1 style="margin-top: 2rem;">Anotações Complementares</h1>
                <div style="margin-top: 0.7rem; border:0.1rem solid black; padding: 0.9rem;">
                        <div style="display: flex !important;">
                                <div style="width: 10rem;">Evolução Médica: </div>
                                <div style=" height:1.2rem; border-bottom:solid 0.1rem gray; width: 100%;">&nbsp;</div>
                        </div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                </div>
                <div style="margin-top: 0.7rem; border:0.1rem solid black; padding: 0.9rem;">
                        <div style="display: flex !important;">
                                <div style="width: 10rem;">Enfermeiro (a): </div>
                                <div style=" height:1.2rem; border-bottom:solid 0.1rem gray; width: 100%;">&nbsp;</div>
                        </div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                </div>
                <div style="margin-top: 0.7rem; border:0.1rem solid black; padding: 0.9rem;">
                        <div style="display: flex !important;">
                                <div style="width: 12rem;">Tec. Enfermagem: </div>
                                <div style=" height:1.2rem; border-bottom:solid 0.1rem gray; width: 100%;">&nbsp;</div>
                        </div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                </div>
                <div style="margin-top: 0.7rem; border:0.1rem solid black; padding: 0.9rem;">
                        <div style="display: flex !important;">
                                <div style="width: 25rem;">Laboratório - RX - Serviço Social: </div>
                                <div style=" height:1.2rem; border-bottom:solid 0.1rem gray; width: 100%;">&nbsp;</div>
                        </div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                </div>
                <div style="margin-top: 0.7rem; border:0.1rem solid black; padding: 0.9rem;">
                        <div style="display: flex !important;">
                                <div style="width:6rem;">Nutrição: </div>
                                <div style=" height:1.2rem; border-bottom:solid 0.1rem gray; width: 100%;">&nbsp;</div>
                        </div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                </div>
                <div style="margin-top: 0.7rem; border:0.1rem solid black; padding: 0.9rem;">
                        <div style="display: flex !important;">
                                <div style="width:15rem;">Pacientes Internados: </div>
                        </div>
                        <div style="display: flex !important;">
                                <div style="width:15rem;">Telefone 1: </div>
                                <div style=" height:1.2rem; border-bottom:solid 0.1rem gray; width: 100%;">&nbsp;</div>
                                <div style="width:10rem;">Nome: </div>
                                <div style=" height:1.2rem; border-bottom:solid 0.1rem gray; width: 100%;">&nbsp;</div>
                        </div>
                        <div style="display: flex !important;">
                                <div style="width:15rem;">Telefone 2: </div>
                                <div style=" height:1.2rem; border-bottom:solid 0.1rem gray; width: 100%;">&nbsp;</div>
                                <div style="width:10rem;">Nome: </div>
                                <div style=" height:1.2rem; border-bottom:solid 0.1rem gray; width: 100%;">&nbsp;</div>
                        </div>                                   
                </div>
                <div style="margin-top: 0.7rem; border:0.1rem solid black; padding: 0.9rem;">
                        <div style="display: flex !important;">
                                <div style="width:18rem;">Reservado à Coordenação: </div>
                                <div style=" height:1.2rem; border-bottom:solid 0.1rem gray; width: 100%;">&nbsp;</div>
                        </div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                        <div style=" height:1.2rem; border-bottom:solid 0.1rem gray">&nbsp;</div>
                </div>
                <div style="margin-top: 0.7rem;" class="st-icon-addthis"v style="margin-top: 0.7rem;"><span style="margin-right: 8rem;">Atestado Médico: __________ dias</span><span>Número da D.O: ____________________</span></div>
        </div>-->