{% extends 'global/template_geral.html' %}
{% load static %}
{% block title_login %}ENFERMARIA > Triagem{% endblock title_login %}
{% block titulo_ %}Triagem{% endblock titulo_ %} 
{% block css %}
<link rel="stylesheet" href="{% static 'global/css/modal.css' %}">
<link rel="stylesheet" href="{% static 'global/css/formularios.css' %}">
{% endblock css %}
{% block body_title %}IMPRESSÃO DE ETIQUETA PARA O PACIENTE <b class='uppercase'>{{envio_triagem}}</b>{% endblock body_title %}
{% block body_login %}
<div class="top-info">  
    <style>
          .form-body {      
            background: #dbecdb;
            padding:1rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap:1rem;}

            .form-body label{
                margin: 0rem !important;
                padding: 0rem !important;
            }

            .form-body input[type="number"]{
                width: 50%;
            }
            .form-body div{
                margin: 0;
                padding: 0;
            }

            @media print {
                /* Ocultar a data e o número da página */
                .date, .pageNumber {
                    display: none;
                }
                /* Ocultar o cabeçalho/rodapé */
                @page {
                    size: auto; /* Usar o tamanho padrão do papel */
                    margin: 0; /* Remover margens padrão */
                }
            }
        
    </style>
    <ul id="controles" class="d-grid gap-4 my-5 list-unstyled small"> 
        <div class="">
            <div class='form-body'>
                <h2 class='fs-2'><i class="fa-solid fa-user-tag mr-5"></i> 
                    Personalizar o tamanho da etiqueta</h2>
                <div style="
                    border-radius:1rem; 
                    padding:1rem;
                    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                    display: flex;">  
                    <div>                 
                        <label for="largura2"><h5 class="mb-0">Largura:</h5></label>
                        <input type="number" id="largura2" value="100" min="1" onchange="atualizarEtiqueta()">
                    </div>
                    <div>
                        <label for="altura2"><h5 class="mb-0">Altura:</h5></label>
                        <input type="number" id="altura2" value="50" min="1" onchange="atualizarEtiqueta()">
                    </div>
                    <div>
                        <label for="bordas">Incluir bordas:</label>
                        <input type="checkbox" id="bordas" onchange="atualizarEtiqueta()">
                    </div>
                </div>    
            </div>
            <div class='text-center'>
                <div id="etiquetaContainer">
                    <!-- Conteúdo da etiqueta -->
                    <p>Data: <span class="no-print">28/02/2024</span></p>
                    <p>About: <span class="no-print">Informações sobre a etiqueta</span></p>
                    <!-- Restante do conteúdo da etiqueta -->
                </div>
                
                <div class='m-auto'>
                    <button onclick="imprimirEtiqueta()" class='mt-4  fs-5 shadow-sm btn btn-sm btn-success'><i class="fa-thin fa-print"></i> Imprimir Etiqueta</button>  
                </div>
            </div>
        </div>    
    </div>
    <div Style='text-align:center'><a  class='btn btn-sm btn-primary w-50 m-auto p-2 fs-6' href="{% url 'Triagem:triagem_concluida' pk %}">Finalizar Atendimento</a></div>
    
    
    
    <script>
        function criarEtiqueta(largura, altura) {
            var bordasCheckbox = document.getElementById('bordas');
            var incluirBordas = bordasCheckbox.checked;

            var etiquetaContainer = document.getElementById('etiquetaContainer');
            etiquetaContainer.innerHTML = '';

            var etiqueta = document.createElement('div');
            etiqueta.classList.add('etiqueta');
            etiqueta.style.width = largura + 'mm';
            etiqueta.style.height = altura + 'mm';

            if (incluirBordas) {
                etiqueta.classList.add('bordas');
            }

            var nomePaciente = '{{ nome_paciente }}';  // Substitua por variáveis do contexto Django
            var horarioEntrada = '{{ horario_entrada }}';  // Substitua por variáveis do contexto Django
            var horarioAtendimento = '{{ horario_atendimento }}';  // Substitua por variáveis do contexto Django
            var classificacaoRisco = '{{ classificacao_risco }}';  // Substitua por variáveis do contexto Django

            etiqueta.innerHTML = `
            
            <div class="dados-paciente" 
                style='
                    position: relative; 
                    padding: 10px;
                    background-position:center; 
                    background-color: rgb(238, 238, 236); 
                    text-align: left; padding: 1rem; 
                    border-radius: 1rem; box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;'>
                <div 
                    style="
                        text-transform:uppercase; 
                        background:rgb(228, 226, 226, 0.9); 
                        magin-top:-1rem">
                        <h1 style='font-size:150%; '>{{ nome_paciente }}</h1></div>
                        <h2 style='font-size:95%; margin:2%'>Idade: {{idade}} anos</h>
                        <div style='text-align:center; margin-top:0.1rem; font-size:100%'>Classificação de risco</div>                    
                        <div style='width:100%; text-align:center; font-size:120%'>
                            <b style='text-transform:uppercase'>{{ classificacao_risco }}</b>
                        </div>
                        <div style="width:1rem; position:absolute;bottom:0; right:0; opacity: 0.9;z-index:1" >
                            <div style=" position:absolute;bottom:0; right:0; " >
                            <img style="width:7rem ;" src="{% static 'vera cruz.png' %}") alt="">                       
                        </div>                       
                    </div>  
                </div>
                `;

            etiquetaContainer.appendChild(etiqueta);
        }

        function atualizarEtiqueta() {
            var larguraInput = document.getElementById('largura2');
            var alturaInput = document.getElementById('altura2');

            var largura = parseInt(larguraInput.value);
            var altura = parseInt(alturaInput.value);

            criarEtiqueta(largura, altura);
        }

        
        function imprimirEtiqueta() {
            var etiquetaContainer = document.getElementById('etiquetaContainer');
            var conteudo = etiquetaContainer.innerHTML;
        
            var printWindow = window.open('', '_blank');
            printWindow.document.open();
            printWindow.document.write('<html><head><style>@media print { .no-print { display: none; } }</style></head><body>' + conteudo + '</body></html>');
            printWindow.document.close();
            printWindow.print();
        }
        
        

        atualizarEtiqueta();
    </script>
</div>
{% endblock body_login %}
