{% extends 'global/template_geral.html' %}
{% load static %}
{% block title_login %}ENFERMARIA > Triagem {% endblock title_login %}
{% block titulo_ %}Triagem{% endblock titulo_ %} 

<!--Imagem Representando o setor-->
{% block vetor-img-aereo %}{% endblock vetor-img-aereo %}
<!--END Imagem Representando o setor-->
{% block body_title %}<i class="fa-solid fa-laptop-medical"></i> CLASSIFICAÇÃO DE PACIENTES {% endblock body_title %}

{% block css %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href=" {% static 'global/css/tabela.css' %}">
  <link rel="stylesheet" href=" {% static 'global/css/modal.css' %}">
  <link rel="stylesheet" href=" {% static 'global/css/formularios.css' %}">
  <link rel="stylesheet" href=" {% static 'global/css/abas_especiais_pcss3t.css' %}">
  <style>
      .modal{
          width: 80%;
      }
      .red {
          background-color: red !important;          
        }    
      .orange {
        background-color: orange !important;
      }  
      .yellow {
        background-color: yellow !important;
      }  
      .green {
        background-color: green !important;
      }
      .font{
        display:block;
        width:100%;
        color: white;
        padding:0.5rem        
      }
      .font2{
        display:block;
        width:100%;
        color: black !important;
        padding:0.5rem
      }
      #id_paciente_triagem{
        width:200%;
      }
      .hours48{
        position: absolute;
        margin-top: -1.5rem !important;
        font-size: 0.7rem;
        margin-left: 0;
        padding: 0.1rem;
        color:rgb(255, 255, 255) ;
      }
    {% if info_extra == 'Analisando...' %}
      .form-body {      
        margin:1rem;
        background: #dbecdb;
        padding:1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:2rem;
    }
    

    {% endif %}
    .form-body div:last-child{width:132.5%!important}
    .floating-form-container {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 1000;
  }
 
  /* Estilo dos botões */
  .modal-buttons {
       display: flex;
       justify-content: center;
       margin-top: 20px;
  }
  .modal-buttons button {
       margin: 0 5px;
  }
  .floating-form-container {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 1000;
  }
  .floating-button {
      background-color: #3498db;
      color: #fff;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .floating-form {
      display: none;
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  } 
  .floating-form label,
  .floating-form input,
  .floating-form button {
      display: block;
      margin-bottom: 10px;
  } 
  .floating-form button {
      background-color: #3498db;
      color: #fff;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
  } 
  .floating-form button:hover {
      background-color: #2980b9;
  }
 #retorned{
  position: relative;
  border-top-left-radius: 1rem;
  top:-0.3rem;
  left: -1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  
 }

  </style>
{% endblock css %}

{% block body_login %}
<div class='flex' style='color: var(--cor-background-titulo); margin-bottom:-2rem '></div> 
  {% if object.paciente_triagem %}
    {% if object %} 
      {% if object.paciente_triagem.horas48 %}
      <div id="retorned" class="bg-danger text-light w-25 p-1 px-2">Paciente retornou em menos de 48 horas <i class="fa-thin fa-skull-crossbones"></i></div>
      {% endif %}
      {% if object.paciente_triagem.prioridade == '1'  %}
        <div id="retorned" class="text-light  w-auto p-1 px-5" style="background:#800080; {% if  object.paciente_triagem.horas48 %}  margin-left: 27%; margin-top:-1.8%{% endif %}">
          <i class="fa-solid fa-triangle-exclamation"></i> 
          <span class='uppercase'>Paciente prioridade</span> 
          <span class='fs-7 me-5'>(Procure a recepção para saber o motivo)</span> 
          <i class="fa-solid fa-font-awesome "></i> Recepcionista Responsável: 
          <span class='text-capitalize'> {{object.paciente_triagem.nome_recepcionista}}</span>
        </div>
      {% endif %}
      {% if db.%}
        <span class="hours48 border p-1 w-25 " > </span>
      {% endif %}
      {% if not object.paciente_triagem.paciente_envio_triagem.alergias == '0' %}      
        <!-- Modal Alergia -->
          {% include "Triagem/triagem_partes/modal_alergia" %}
        <!-- Fim Modal Alergia -->
      {% endif %} 
    {% endif %}
    <!--FIM Avisa se o paciente tem ALERGIAS--> 
  {% endif %}
<div class="top-info ">      
    <div>
      {% if not licenca_ativa == None %}
        <form action="" method='POST' class="" id='classifica_form'> 
          <div class="pt-4" style='margin-top:-1.8rem '>
            <div style='margin-bottom:-0.01rem' class='p-1 mt-3 border rounded-2 w-100' >
              {% if nome_paciente %}
                <h3 class='fs-3'><i class="fa-duotone fa-face-thermometer "></i>&nbsp; Nome do(a) paciente: <b class='uppercase'>{{nome_paciente}} {{ nome_objeto}}</b></h3>
                {% else %}            
                <h3 class='fs-3'><i class="fa-duotone fa-face-thermometer"></i>&nbsp;Pacientes</h3>
              {% endif %}              
            </div>
            {% if not triagem_andamento %}
              <p class='p-3 fs-7 bg-primary-subtle'>No campo   <b>PACIENTE AGUARDANDO CLASSIFICAÇÃO</b> só estão disponíveis os nomes dos pacientes que estão na <b>Fila de triagem</b>. Se o nome do paciente que estiver procurando não estiver disponível nesse campo, verifique com a recepção o motivo de não terem lançado o nome do paciente na "FILA DE TRIAGEM" .  </p>
            {% endif %}
          </div>          
            {% csrf_token %}
            <div class="{% if not tipo_titulo == 'Pré-atendimento | ALERGIAS e COMORBIDADES' %}form-body{% endif %} bg-secondary-subtle">   
              {{ form.media }}      
              {% if not tipo_titulo == 'Pré-atendimento | ALERGIAS e COMORBIDADES' %}
                  <!-- Form da Triagem -->
                  {{form.as_div}}
                  <!--/ Form da Triagem -->
                {% else %}
                <!-- Alergias e Comorbidades -->
                  {% include "Triagem/triagem_partes/partes_Alergias_Comorbidades.html" %}
                <!--/ Alergias e Comorbidades -->
              {% endif %}     
                
                {% if classifica %}
                  <img src="{% static 'cores-protocolo-manchester-1.jpg' %} " width="100%" alt="" class="shadow shadow-sm shadow-lg">
                {% endif %}
            </div>
            
            {% if tipo_titulo == 'Excluir paciente da triagem' %}
            <a class="class='btn btn-sm btn-primary m-3 " href="{% url 'Triagem:triagem-enfermaria' %}">cancelar</a>
            {%endif%}  
                  
              <button 
                style='margin-left:10%!important'
                class='btn btn-sm btn-primary m-3 w-75 fs-5
                  {% if tipo_titulo == 'Excluir paciente da triagem' %}
                  btn-danger
                  {% endif %}' 
                type="submit" 
                  {% if tipo_titulo == 'Pré-atendimento | ALERGIAS e COMORBIDADES' %}
                    Salvar informações do paciente
                    {% elif tipo_titulo == 'Excluir paciente da triagem' %}
                      Deletar {{ nome_objeto}} da triagem
                    {% else %}                
                      Iniciar Classificação do Paciente
                  {% endif %}
                  
              {% if exibe_id is not None %}
                {% if not chamado.chamado %}
                disabled
                {% endif %}
              {% endif %}>     
                  <i class="fa-solid fa-person-walking-arrow-right"></i>
                  Salvar e Prosseguir
              </button> 
              {% if exibe_id is not None %}
                            {% if not chamado.chamado %}
                            <div class="card text-center m-auto">
                                   <div class="card-header bg-danger text-light">
                                   ATENÇÃO!!!
                                   </div>
                                   <div class="card-body">
                                   <p class="card-text">🔄 Para prosseguir ou cancelar o atendimento,
                                          é necessário cancelar a chamada do paciente no painel. 
                                          Pressione o botão localizado na parte inferior à direita da tela.</p>
                                   </div>
                                   <div class="card-footer text-danger">
                                          Chamada Ativa <i class="fa-solid fa-volume-xmark"></i>
                                   </div>
                            </div>
                            {% endif %} 
                     {% endif %}
        </form> 
        {% else %}
        <div class='m-5 fs-3'>
          <h3 class='h1'><i class="fa-thin fa-circle-exclamation text-danger"></i> Prezado usuário,</h3>
          <p class='p-2'>Informamos que a licença de uso do sistema SG-UPA expirou. Para continuar utilizando o sistema, solicitamos que entre em contato com o administrador pelo seguinte número de telefone (WhatsApp): **(71) 9 8688 1943 - Rogério Cerqueira da Silva**.

          Agradecemos pela compreensão e colaboração.

          Atenciosamente,</p>

          <p class='p-2'>Equipe de Suporte Técnico</p>
        </div>
      {% endif %}
          {% if conteudo == 'paciente_na_triagem' %}
            <!-- Não atendeu ao chamado -->
              {% include "Triagem/triagem_partes/lista_nao_atendeu.html" %}
            <!-- Em atendimento -->
              {% include "Triagem/triagem_partes/lista_em_atendimento.html" %}
            <!-- Finalizado -->
              {% include "Triagem/triagem_partes/lista_finalizados.html" %}
          {% endif %}
        <div>
    </div>
   </div>  
   
  <!--Botão chamar paciente-->
  {% if triagem_andamento == 'exibe' %}{% include "Triagem/triagem_partes/botao_chamar.html" %}{% endif %}
  <!--END Botão chamar paciente-->
</div>
   

{% block script %}   
  <script>
    var alergiasField = document.getElementById("id_alergias");
    var alergiasContentField = document.getElementById("id_conteudo_alergia");
    var comorbidadesField = document.getElementById("id_comorbidades");
    var comorbidadesContentField = document.getElementById("id_conteudo_comorbidades")

    // desabilita o campo "alergias_content" quando a página é carregada
    alergiasContentField.disabled = true;
    comorbidadesContentField.disabled = true

    // habilita ou desabilita o campo "alergias_content" quando o usuário seleciona uma opção diferente
    alergiasField.addEventListener("change", function() {
        if (alergiasField.value == "1") {
            alergiasContentField.disabled = false;
        } else {
            alergiasContentField.disabled = true;
            alergiasContentField.value = 'Não possui alergias (Para tornar editável essa área, é necessário informar que o paciente possui alergias)';
        }
    });  
    comorbidadesField.addEventListener("change", function(){
      if (comorbidadesField.value == "1"){
        comorbidadesContentField.disabled = false;
      } else{
        comorbidadesContentField.disabled = true;
        comorbidadesContentField.value = 'Não possui comorbidades (Para tornar editável essa área, é necessário informar que o paciente possui comorbidades)'
      }
    })

</script>

<script src="{% static 'global/js/select2.min.js' %}"></script>
    <script>
        // In your Javascript (external .js resource or <script> tag)
    $(document).ready(function() {
        $('#id_paciente_triagem').select2();  
    });
</script>
<script>
  document.getElementById("id_frequencia_cardiaca_FC").addEventListener("change", function(){
    this.value = parseFloat(this.value).toFixed(2);
 });
 document.getElementById("id_frequencia_cardiaca_FC").addEventListener("change", function(){
  this.value = parseFloat(this.value).toFixed(2);
});
</script>



<!--Alterna entre chamar e cancelar paciente-->
<script>
  function toggleForm() {
      var floatingForm = document.getElementById('floatingForm');
      floatingForm.style.display = (floatingForm.style.display === 'none' || floatingForm.style.display === '') ? 'block' : 'none';
    }
    
</script>

{% endblock script %}

{% endblock body_login %}