<!--linha 1-->
<div style="display: flex;">
    <div style="width: auto!important;margin-right:0.5rem; font-size:0.95rem">
            Nome Social:<span style="font-weight: bold;text-transform:uppercase;text-transform:uppercase; border-bottom: 0.01rem solid gray !important; font-size:0.73rem">&nbsp;&nbsp;{{r.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.nome_social}} &nbsp;&nbsp;</span>
    </div>
    {% if r.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.nome_completo %}
    <div style="width: auto!important;margin-right:0.5rem;font-size:0.95rem">
        Nome Completo (RG):<span style="font-weight: bold;text-transform:uppercase;border-bottom: 0.01rem solid gray !important; font-size:0.73rem">&nbsp;&nbsp;{{r.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.nome_completo}} &nbsp;&nbsp;</span>
    </div>
    {% endif %}
    <div style="width:auto;margin-right:0.5rem;font-size:0.95rem">
            Idade:<span style="font-weight: bold;text-transform:uppercase;border-bottom: 0.01rem solid gray !important;font-size:0.73rem">&nbsp;&nbsp;{{r.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.idade}} anos&nbsp;&nbsp;</span>
    </div>
</div>   
<!--linha 2-->
<div style="display: flex;">
    <div style="width: auto!important;font-size:0.95rem">
        Data de Nascimento:<span style="font-weight: bold;text-transform:uppercase;border-bottom: 0.01rem solid gray !important;font-size:0.73rem">&nbsp;&nbsp;{{r.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.data_nascimento}}&nbsp;&nbsp;</span>
    </div>
    <div style="width: auto!important;margin-right:0.6rem;font-size:0.95rem">
            Sexo:<span style="font-weight: bold;text-transform:uppercase;border-bottom: 0.01rem solid gray !important;font-size:0.73rem">&nbsp;&nbsp;{{r.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.sexo}}&nbsp;&nbsp;</span>
    </div>
    <div style="width: auto!important;margin-right:0.6rem;font-size:0.95rem">
            RG: <span style="font-weight: bold;text-transform:uppercase;border-bottom: 0.01rem solid gray !important;font-size:0.73rem">&nbsp;&nbsp;{{r.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.RG}}&nbsp;&nbsp;</span>
    </div>
    <div style="width: auto!important;margin-right:0.6rem;font-size:0.95rem">
            CNS ou CPF: <span style="font-weight: bold;text-transform:uppercase;border-bottom: 0.01rem solid gray !important;font-size:0.73rem">&nbsp;&nbsp;{{r.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.CPF}}&nbsp;&nbsp;</span>
    </div>                             
</div>  
<!--linha 3-->
<div style="display: flex;">
    <div style="width: auto!important;margin-right:0.6rem;font-size:0.95rem">
            Endereço (Rua): <span style="font-weight: bold;text-transform:uppercase;border-bottom: 0.01rem solid gray !important;font-size:0.73rem; ">&nbsp;&nbsp;{{r.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.rua}}&nbsp;&nbsp;</span>
    </div>  
    <div style="margin-right:0.6rem;width:auto!important;font-size:0.95rem">
            Bairro: <span style="font-weight: bold;text-transform:uppercase;border-bottom: 0.01rem solid gray !important;font-size:0.73rem">&nbsp;&nbsp;{{r.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.bairro}}&nbsp;&nbsp;</span>
    </div>  
    <div style="margin-right:0.6rem;width: auto!important;font-size:0.95rem">
            Cidade: <span style="font-weight: bold;text-transform:uppercase;border-bottom: 0.01rem solid gray !important;font-size:0.73rem">&nbsp;&nbsp;{{r.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.cidade}}&nbsp;&nbsp;</span>
    </div> 
    <div style="width: auto!important;font-size:0.95rem">
            Estado: <span style="font-weight: bold;text-transform:uppercase;border-bottom: 0.01rem solid gray !important;font-size:0.73rem">&nbsp;&nbsp;{{r.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.estado}}&nbsp;&nbsp;</span>
    </div> 
                                     
</div>
<!--linha 4-->
<div style="display: flex;">
    <div style="width: auto!important;margin-right:0.6rem;font-size:0.95rem">
            CEP: <span style="font-weight: bold;text-transform:uppercase;border-bottom: 0.01rem solid gray !important;font-size:0.73rem">&nbsp;&nbsp;{{r.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.CEP}}&nbsp;&nbsp;</span>
    </div> 
    <div style="width: auto!important;margin-right:0.6rem;font-size:0.95rem">
            Nome da Mãe: <span style="font-weight: bold;text-transform:uppercase;border-bottom: 0.01rem solid gray !important;font-size:0.73rem">&nbsp;&nbsp;{{r.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.nome_mae}}&nbsp;&nbsp;</span>
    </div> 
    <div style="width: auto!important;margin-right:0.6rem;font-size:0.95rem">
            Nacionalidade: <span style="font-weight: bold;text-transform:uppercase;border-bottom: 0.01rem solid gray !important;font-size:0.73rem">&nbsp;&nbsp;{{r.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.nacionalidade}}&nbsp;&nbsp;</span>
    </div>  
    <div style="width: auto!important;font-size:0.95rem">
            Telefone: <span style="font-weight: bold;text-transform:uppercase;border-bottom: 0.01rem solid gray !important;font-size:0.73rem">&nbsp;&nbsp;{{r.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.tel}}&nbsp;&nbsp;</span>
    </div>                                                                  
</div>
<!--linha 5-->
<div style="display: flex;">
    <div style="width: auto!important;margin-right:0.5rem;font-size:0.95rem">
            Acompanhante: <span style="font-weight: bold;text-transform:uppercase;border-bottom: 0.01rem solid gray !important;font-size:0.73rem">&nbsp;&nbsp;{{r.paciente_medico_atendimento.paciente_triagem.nome_acompanhante}}&nbsp;&nbsp;</span>
    </div>   
    
    <div style="width: auto!important;margin-right:0.5rem;font-size:0.95rem">
            Admissão: <span style="font-weight: bold;text-transform:uppercase;border-bottom: 0.01rem solid gray !important;font-size:0.73rem">&nbsp;&nbsp;{{r.paciente_medico_atendimento.paciente_triagem.data_envio_triagem}}&nbsp;&nbsp;</span>
    </div>  
    <div style="width: auto!important;margin-right:0.5rem;font-size:0.95rem">
            Hora: <span style="font-weight: bold;border-bottom: 0.01rem solid gray !important;font-size:0.73rem">&nbsp;&nbsp;{{r.paciente_medico_atendimento.paciente_triagem.horario_triagem}}hs&nbsp;&nbsp;</span>
    </div>  
    <div style="width: auto!important;font-size:0.95rem">
            Registro: <span style="font-weight: bold;text-transform:uppercase;border-bottom: 0.01rem solid gray !important;font-size:0.73rem">&nbsp;&nbsp;{% if r.paciente_medico_atendimento.paciente_triagem.cod_triagem %}{{r.paciente_medico_atendimento.paciente_triagem.cod_triagem}}{% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}&nbsp;&nbsp;</span>
    </div>                                                                     
</div>
<div style="width: auto!important;margin-right:0.6rem">
    Cartão do Sus: <span style="font-weight: bold;text-transform:uppercase;border-bottom: 0.01rem solid gray !important;font-size:0.73rem">&nbsp;&nbsp;{{r.paciente_medico_atendimento.paciente_triagem.paciente_envio_triagem.cartao_sus}}&nbsp;&nbsp;</span>
</div>