<style>
    .container_nav {
        position: fixed;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    .container_nav.expanded {
        width: 300px;
    }

    .content {
        display: none;
        margin-top: 10px;
        transition: all 0.5s ease;
    }

    .container_nav.expanded .content {
        display: block;
    }
</style>
<div class="container_nav bg-dark-subtle shadow" onclick="expandDiv()">
    <span class="fs-3"><i class="fa-solid fa-computer-mouse text-shadow-2"> </i></span>
    <div class="content rounded-3 p-1 bg-light shadow shadow-sm border">
        <div class="fs-6 m-2 shadow shadow-sm p-1">
            <a href="{% url 'Atendimento:excluir_registros' %}">
                <i class="fa-solid fa-microphone-slash text-danger-emphasis"></i>
                Cancelar chamados.
            </a>
        </div>
        <div class="fs-6 m-2 shadow shadow-sm p-1">
            <a class="px-2" href="{% url 'Atendimento:listagem_envio' %}">
                <i class="fa-solid fa-list-check "></i>
                Exibir lista de entrada de pacientes por data
            </a>
        </div>
      </p>
    </div>
</div>
  
<script>
function expandDiv() {
    var container = document.querySelector('.container_nav');
    container.classList.toggle('expanded');
}
</script>
