<style>
    .container_nav {
        position: fixed;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    .container_nav.expanded {
        width: 300px;
    }

    .content {
        display: none;
        margin-top: 10px;
        transition: all 0.5s ease;
    }

    .container_nav.expanded .content {
        display: block;
    }
</style>
<div class="container_nav bg-dark-subtle shadow" onclick="expandDiv()">
    <span class="fs-3"><i class="fa-solid fa-computer-mouse text-shadow-2"> </i></span>
    <div class="content rounded-3 p-1 bg-light shadow shadow-sm border">
        <div class="fs-6 m-2 shadow shadow-sm p-1">
            <a href="{% url 'Atendimento:excluir_registros' %}">
                <i class="fa-solid fa-microphone-slash text-danger-emphasis"></i>
                Cancelar chamados.
            </a>
        </div>
        <div class="fs-6 m-2 shadow shadow-sm p-1 bg-primary-subtle border border-2 border-primary">
            <div class="p-2 bg-primary text-light shadom shadow-sm"><h2><i class="fa-solid fa-signal"></i> Usuários Online </h2></div>
            <ul class="list-group">
                {% for on in online_users %}
                <li class="list-group-item">
                  <input class="form-check-input me-1 bg-success" type="checkbox" value="" aria-label="...">
                  {% if on.first_name %}
                    <span class='text-capitalize'>{{on.first_name}} {{on.last_name}}</span>
                  {% else %}
                  <span class='text-capitalize'>{{on.username}}</span>
                  {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
      </p>
    </div>
</div>
  
<script>
function expandDiv() {
    var container = document.querySelector('.container_nav');
    container.classList.toggle('expanded');
}
</script>
