{% load static %}
{% load humanize %}
<div style='position:absolute; z-index: 10; top: 4rem; left: 0;''>      
    {% include "Atendimento/painel_pacientes/partial_painel/marquee.html" %}
    <img src="{% static 'vera cruz.png' %}" style="position: absolute; right: 0;top: 10;">
    <div class="div-content" style='display:block;  font-size:2rem; margin:1rem;width: 40%; margin-top:-3rem'>
      <div><span style='font-size:1.2rem'>ATENDIMENTO:</span> <span class='fs-5' id='sala'></span></div>
      <hr>
      <div>              
        <div id="chamada-paciente">
          <p><h1 class='uppercase' style='font-size:2.5rem' id="nome-paciente"></h1></p>
          <p style='font-size:1.5rem; color:rgb(157, 19, 170)'>Por favor se dirigir à sala de <span class='uppercase' id='sala_sala'></span></p>
          <hr>
          <p style="font-weight: bold ;font-size:1.2rem" id='hora-ultima'></p>
          <p style='font-size:1.2rem' id="data-atualizacao"></p>          
          <audio id="audio-player" controls autoplay style='width:80%; margin:2rem; background-color: transparent;'>
            <source  id="audio-source"  type="audio/mpeg" >
          </audio>
        </div>
        <div class='p-2 bg-secondary rounded-2 shadow shadow-sm'>
          <h1 class="fs-5 p-1 border-bottom bg-dark-subtle">Últimos pacientes chamados </h1>
          
          <div id='ultimo_chamado'></div>    
        </div>
      </div>
    </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>...
      <script>
      var audio = $('#audio-player')[0]; // seleciona o elemento de áudio
      var audioSource = $('#audio-source'); // seleciona o elemento source do áudio
      var audioBase64Anterior = ''; // variável para armazenar o áudio da chamada anterior
      var audioRepeticoes = 0; // contador para controlar as repetições do áudio 
      function atualizarDadosChamada(data) {
        $('#nome-paciente').text('' + data.nome_paciente2); 
        $('#sala').text('' + data.nome_sala); 
        $('#sala_sala').text('' + data.nome_sala); 
        $('#ultimo_chamado').html('' + data.nome_paciente_chamado)
        
        //var dataChamada = moment(data.data_chamada)
        //$('#data-chamada').text('Data de Criação:' + dataChamada.format('HH:mm:ss'))
        //$('#data-chamada').text('Data de Chamada: ' + new Date(data.data_chamada).toLocaleString());
        $('#data-criacao').text('Data de Criação: ' + data.data_criacao);
        var dataChamada = moment(data.data_chamada)
        console.log(dataChamada)
        //$('#data-atualizacao').text('Data de Atualização: ' + new Date(data.data_chamada).toLocaleDateString('pt-BR'));
        $('#data-atualizacao').text('Data de Atualização: ' + dataChamada.format('DD/MM/YY'));
        $('#hora-ultima').text('Última chamada: ' + dataChamada.format('HH:mm') + 'h')
      
        // verifica se os dados da chamada atual são diferentes da anterior
        var audioBase64 = data.audio_base64;
        if (audioBase64 !== audioBase64Anterior) {
          audioSource.attr('src', 'data:audio/mpeg;base64,' + audioBase64); // atualiza o áudio do source                  
          audio.load(); // carrega o novo áudio
          audio.play(); // inicia a reprodução
          audioRepeticoes = 1; // reseta o contador de repetições
          audioBase64Anterior = audioBase64; // armazena o áudio da chamada atual para a próxima verificação
        }
      }
      
      $(document).ready(function() {
        // obtém os dados da primeira chamada ao iniciar a página
        $.ajax({
          url: '{% url 'Atendimento:chamar_paciente' %}',
          dataType: 'json',
          success: function(data) {
            atualizarDadosChamada(data); // atualiza os dados da primeira chamada
          }
        });
      
        // atualiza os dados a cada 20 segundos
        setInterval(function() {
          $.ajax({
            url: '{% url 'Atendimento:chamar_paciente' %}',
            dataType: 'json',
            success: function(data) {
              atualizarDadosChamada(data); // atualiza os dados a cada chamada
            }
          });
        }, 15000);
      
        // adiciona evento de escuta para fim da reprodução do áudio
        audio.addEventListener('ended', function() {
          if (audioRepeticoes < 1) { // se não alcançou o limite de repetições
            setTimeout(function() {
              audio.play(); // inicia a reprodução novamente
            }, 3000); // espera 2 segundos
            audioRepeticoes++; // incrementa o contador de repetições
          }
        });
      });      
      </script>    

    
  </div>  
