{% extends 'global/template_geral.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.0/css/sharp-light.css">
<link rel="stylesheet" href="{% static 'global/tabela/css/style.css' %}">
<style>
    .table{
        width: 95%;
        border-spacing: 0;
    }
    .table tr th{
       background-color:cadetblue;
    }

    .table tr th, .table tr td{
       text-align: center;
       border: 0.01rem solid rgb(204, 201, 201);
    }
    .delete{
        color: red;
        margin: 0.5rem;
    }
    .update{
        color: blue;
        margin: 0.5rem;    
    }

    /** FORM */
    .form {
        box-shadow: var(--shadow);
        padding: 0.5rem;
    }
    .form label{
        display: block;
        margin-top: 1rem;
    }
    .form input, .form textarea, .form select{
        margin-left: 0.2rem;
        border-radius: 0.8rem;
        padding: 0.5rem;
        border: 0.1rem solid coral;
        width: 90%;
        font-size: 1.1rem;
    }
</style>
{% endblock css %}  
<!--Imagem Representando o setor
{% block vetor-img-aereo %}<img src=" {% static 'home/doctor.fw.png' %} " alt="">{% endblock vetor-img-aereo %}
-->
{% block title_login %}ÁREA MÉDICA {% endblock title_login %}
{% block titulo_ %} ÁREA MÉDICA - Salas de Atendimento {% endblock titulo_ %} 
{% block body_title %}<i class="fa-duotone fa-house-medical-flag"></i> Dependências do Hospital {% endblock body_title %}
{% block body_login %}
    <!--Relação de Salas Cadastradas-->
<div class='row'>
    <div class='col bg-secondary-subtle mt--2 p-3'>
       
        {% if object_list %}
            {% if not vinculo_sala %}
                <h1 style="font-size: 1.8rem !important;"><i class="fa-solid fa-house-medical"></i> Salas de Atendimento</h1>
                <hr>  
                <!--Paginaçaõ da relação de salas -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                    {% if object_list.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{object_list.previous_page_number}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo; Início</span>
                        </a>
                    </li>
                    {% endif %}
                    {% for page in object_list.paginator.page_range %}
                        {% if object_list.number|add:"-10" <= page <= object_list.number|add:"10" %}
                        <li class="page-item {% if page == object_list.number %}active{% endif %}">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}

                    {% if object_list.has_next %}  
                    <li class="page-item">
                        <a class="page-link" href="?page={{ object_list.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true"> &raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                    </ul>
                </nav>            
                <table class="table table-sm table-striped" >
                    <tr class='fs-6'>
                        <th class='col-1'>Nome</th>
                        <th class='col-3'>Principio Ativo</th>
                        <th class='col-3'>Fórmula Famaceutica</th>
                        <th class='col-3'>Concentração</th>
                        <th class='col-2'>Via Administração</th>
                        <th class='col-2'>Quant. Disponível</th>
                        <th class='col-2'>Ação</th>
                    </tr>
                  
                    {% for list in object_list %} 
                    <tr>
                        <td>{{list.nome_medicamento}}</td>
                        <td>{{list.principio_ativo}}</td>
                        <td>{{list.forma_farmaceutica}}</td>
                        <td>{{list.concentracao}}</td>
                        <td>{{list.via_administracao}}</td>
                        <td>{{list.quantidade_disponivel}}</td>

                        <td><span><a href="{% url 'Medicos:salasUpdate' list.pk %}"><i class="fa-solid fa-pen-to-square update"></i></a></span> | <span><a href="{% url 'Medicos:salasDelete' list.pk %}"><i class="fa-solid fa-trash-can delete"></i></a></span></td>
                    </tr>
                    {% endfor %}
                </table>
            <!--FIM Paginaçaõ da relação de salas --> 
        {% endif %}
        {% if vinculo_sala %}
            <hr>
            <h2> <i class="fa-solid fa-person-shelter"></i> Relação de Salas Ocupadas:</h2>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                {% if object_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{object_list.previous_page_number}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo; Início</span>
                    </a>
                </li>
                {% endif %}
                {% for page in object_list.paginator.page_range %}
                    {% if object_list.number|add:"-10" <= page <= object_list.number|add:"10" %}
                    <li class="page-item {% if page == object_list.number %}active{% endif %}">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                    {% endif %}
                {% endfor %}

                {% if object_list.has_next %}  
                <li class="page-item">
                    <a class="page-link" href="?page={{ object_list.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true"> &raquo;</span>
                    </a>
                </li>
                {% endif %}
                </ul>
            </nav> 
            <table class="table" >
                <tr>
                    <th>SALA</th>
                    <th>Nome do profissional</th>
                    <th>AÇÃO</th>
                </tr>
                {% for list in object_list %} 
                <tr class='fs-7' >
                    <td >{{list.nomeSala}}</td>
                    <td>{{list.profissionalSaude}}</td>
                    <td><span ><a href="{% url 'Medicos:salasProfissionalUpdate' list.pk %}"><i class="fa-solid fa-pen-to-square update"></i></a></span> | <span><a href="{% url 'Medicos:salasProfissionalDelete' list.pk %}"><i class="fa-solid fa-trash-can delete"></i></a></span></td>
                </tr>
                {% endfor %}
            </table> 
        {% endif %}  
    {% endif %}                 
        <!--Cadastro de Salas-->
        
    </div>
    <div class='col'>    
        {% if object_list %}
        {% if update %}                        
        <h1>Formulário de Atualização de Salas</h1>  
        <hr> 
        {% elif salaProfissional %}
        <div class='p-4'>&nbsp;</div>
            {% if salaProfissional == 'vinculaSalaUpdate' %}
                <h1 class="fs-5 pt-5 uppercase"><i class="fa-duotone fa-house-medical-flag"></i>Atualizar Vinculo Profissional à Sala de Atendimento</h1>
                {% else %}
                <h1 class="fs-5 pt-5 uppercase"><i class="fa-duotone fa-house-medical-flag"></i> Vincular Profissional à Sala de Atendimento</h1>
            {% endif %}
        <div style='text-align: right; margin-right:5rem'>
            <a class="btn btn-sm btn-secondary m-3" href="{% url 'Medicos:cadastroSala' %}"><i class="fas fa-solid  fa-person-shelter"></i> Cadastro de Salas</a>        
        </div>
        {% elif DeleteVinculo %}
        <h2> Tem certeza que deseja deletar o VÍNCULO DO PROFISSIONAL à sala?</h2> 
        {% else %}
            
        {% if not conteudo == 'cadastraSala' %}
        <div class='mt-5'>&nbsp;</div>
        <h2 class='fs-4 text-center w-75 m-auto mt-5'> Tem certeza que deseja deletar a <b class='text-uppercase'>{{object}}</b>?</h2> 
        {% else %}
    
        <h1 class="h4" style='margin-top:-2rem !important'><i class="fa-duotone fa-hospital-user"></i>Bem-vindo ao Formulário de Cadastro de Medicamentos</h1> 
        <hr>
        <div class='p-2 text-justify' >
            <p>A eficiente gestão de medicamentos é essencial para o pleno funcionamento da Unidade de Pronto Atendimento no sistema SG-UPA.
                Este formulário destina-se ao cadastro dos medicamentos disponíveis na UPA, garantindo um controle organizado e eficaz
                do estoque farmacêutico deste estabelecimento de saúde.</p>
        </div>
        {% endif %}
        {% endif %}
            
            <div>
                <form class='form' action="" method="post">
                    {% csrf_token %}
                    
                    {{form.as_div}}
                    <div class="grid row m-4">
                        <a class="col btn btn-sm btn-danger m-4 w-50 h-100" href="{%url 'Medicos:salas' %}">Cancelar</a> 
                        <button class="col btn btn-sm btn-primary m-4 w-50 h-100">
                            {% if update %}                        
                            Atualizar Salar
                            {% elif conteudo == 'cadastraSala' %}
                                Registrar Sala de Atendimento <i class="fa-duotone fa-hospital-user"></i>
                            {% else %}                            
                                {% if vinculo_sala %}
                                    Vincular o profissional à sala
                                    {% else %}
                                    Deletar {{nomeSala}}
                                {% endif %}

                            {% endif %} 
                            
                        </button>                  
                    </div>
                </form>
            </div>        
        {% endif %}   
    </div>
</div>
<div class='row'>
    <a class=' col btn btn-sm btn-secondary m-3' href="{% url 'Medicos:salasProfissionalCreate' %}"><i class="fa-solid fa-people-roof"></i> Vincula Profissional às Salas</a>    
    <a class=" col btn btn-sm btn-secondary m-3" href="{% url 'Medicos:cadastroSala' %}"><i class="fas fa-solid  fa-person-shelter"></i> Criar Salas</a>
    {% if grupo_usuario == 'group_UPA-Admin' or grupo_usuario == 'group_Enfermagem' %}     
    <a class="col fs-5 btn btn-sm bg-secondary-subtle m-3 w-50 border" href="{% url 'Triagem:triagem-enfermaria' %}"><i class="fa-sharp fa-thin fa-user-nurse-hair mr-5"></i><span class='pr-4 pl-4'> Ir para a Classificação </span><i class="fa-sharp fa-thin fa-user-nurse-hair-long"></i> </a>
    {% endif %}
    {% if  grupo_usuario == 'group_Medicos' or grupo_usuario == 'group_UPA-Admin' %}
    <a class="col fs-5 btn btn-sm bg-secondary-subtle m-3 w-50 border" href="{% url 'Medicos:medico_prontuario'  %}"><i class="fa-thin fa-user-doctor mr-5"></i><span class='pr-4 pl-4'> Ir para Atendimento Médico  </span><i class="fa-thin fa-user-doctor-hair-long"></i> </a>
    {% endif %}
</div>



{% endblock body_login %}