{% extends 'global/template_geral.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'global/css/form.css' %}">
{% endblock css %}
{% block body_login %}


<div class="card text-center w-75 w-auto">
    <div class="card-header">
        {{notifica_detail.name}}
        
    </div>
    <div class="card-body">
      <h5 class="card-title">{{notifica_detail.date}}</h5>
      <p class="card-text">{{notifica_detail.description|safe}}</p>
      <a href="#" class="btn btn-primary">Vê todas as atualizações visualizadas</a>
    </div>
    <div class="card-footer text-muted">
        {% if notifica_detail.visto %} Visualizando {% endif %}
    </div>
</div>


{% endblock body_login %}