<div class='border bg-success-subtle shadow shadow-sm p-3 mt-4'>
  
  <h1 class='h2 h-100 bg-purple mt-5 p-2'><i class="fa-solid fa-arrow-trend-up"></i> Pacientes em atendimento pela triagem</h1>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Data e horário de inicio</th>                
        <th>Mãe</th>                       
        <th>Ação</th> 
      </tr>
    </thead>
    <tbody>
      {% for pac in paciente_na_triagem  %}
        {% if  conteudo == 'paciente_na_triagem' %}
          {% if pac.respondeu_ao_chamado %}
          <tr {% if pac.paciente_triagem.horas48 %} style="border: solid red 0.125rem;" class='bg-danger-subtle  '{% endif %}> 
            <td>
              {% if pac.paciente_triagem.horas48 %}
                <div class="hours48 bg-danger border p-1 pe-3 px-3 rounded-end-5 ">
                  <i class="fa-thin fa-skull-crossbones"></i> 
                  Retornou em menos de 48 horas
                </div>
              {% endif %}
              {% if pac.paciente_triagem.prioridade == '1'  %}
                <div id="retorned" class="text-light  w-auto p-1 px-3 fs-7" style="background:#800080; {% if  pac.paciente_triagem.horas48 %}  margin-left: 36%; margin-top:-2.7%{% endif %}">
                  <i class="fa-solid fa-triangle-exclamation"></i> 
                  <span class='uppercase'>Prioridade</span><i class="fa-solid fa-font-awesome "></i> Recepcionista: 
                  <span class='text-capitalize'> {{pac.paciente_triagem.nome_recepcionista}}</span>
                </div>
              {% endif %}
              {{pac.paciente_triagem}}
            </td>
            <td>
              {{pac.data_triagem}} || {{pac.hora_triagem}}
            </td>
            
            <td>
              {{pac.paciente_triagem.paciente_envio_triagem.nome_mae}}
            </td>
            
            <td >
              <a class='btn btn-sm btn-secondary' href="{% url 'Triagem:triagem-enfermaria-update' pac.id %}">Continua atendimento</a>                
              <a class='btn btn-sm btn-danger' href="{% url 'Triagem:triagem-delete' pac.id %}">Excluir da triagem</a>
            </td>
          </tr>
          {% endif %}
        {% else %}
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      {% endif %}
      
      {% empty %}
      <tr>
        <td colspan="4">Nenhum paciente encontrado.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table> 
</div>