<div class=' mt-4'>
  <div >
  <h1 class='h2 h-100 bg-purple mt-5 p-2'><i class="fa-solid fa-arrow-trend-down"></i> Triagens finalizadas hoje</h2>
  <table class='table table-striped  table-active border border-1  '>
    <thead>
      <tr>
        <th class="text-center">Nome do paciente</th>
        <th>Mãe</th>                   
        <th class="text-center">Classificação de risco atribuída</th>    
        <th class="text-center">Situação pós classificação</th>    
        <th>Ação</th> 
      </tr>
    </thead>
    <tbody>
      {% for pac in paciente_na_triagem_concluidos %}
      <tr {% if pac.paciente_triagem.horas48 %} style="border: solid red 0.125rem;" class='bg-danger-subtle  '{% endif %}>
        <td >
          {% if pac.paciente_triagem.horas48 %}<div class="hours48 bg-danger border p-1 pe-3 px-3 rounded-end-5 "><i class="fa-thin fa-skull-crossbones"></i> Retornou em menos de 48 horas</div>{% endif %}
          {{pac.paciente_triagem}}
        </td>
        <td>
          {{pac.paciente_triagem.paciente_envio_triagem.nome_mae}}
        </td>
        
        <td class="text-center ">
          {{pac.classifica_tipo}}
        </td>
        <td class="text-center ">
          {% if pac.passou_por_atend_medico %}
          <i class="fa-solid fa-stethoscope text-success fs-4" title='Paciente atendido ou em atendimento'></i>
              {% else %}
              Aguardando atendimento
          {% endif %}
        </td>
        <td>
          
            <a class='btn btn-sm btn-primary' href="{% url 'Triagem:triagem_classifica_Risco_update' pac.id %}">Reavaliar Paciente</a> 
                    
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div> 