<div class="pcss3t pcss3t-effect-scale pcss3t-theme-1 shadow"  {% if not tipo_titulo == 'Pré-atendimento | ALERGIAS e COMORBIDADES' %}form-body{% endif %}>
    <input type="radio" name="pcss3t" checked  id="tab1"class="tab-content-first">
    <label for="tab1"><i class="fa-solid fa-person-dots-from-line"></i> Alergias:</label>
    <input type="radio" name="pcss3t" id="tab2" class="tab-content-2">
    <label for="tab2"><i class="fa-sharp fa-solid fa-person-running-fast"></i> Comorbidades:</label>
    <ul>
        <li class="tab-content tab-content-first typography bg-dark-subtle">
            <div class="fs-4" >{{form.alergias.label_tag}}</div>
            {% for error in form.alergias.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}                            
            <p>{{form.alergias}}</p>
            {{form.conteudo_alergia}}
        </li>
        <li class="tab-content tab-content-2 typography bg-dark-subtle">
            <div class="fs-4" >{{form.comorbidades.label_tag}}</div>
            {% for error in form.comorbidades.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}                            
            <p>{{form.comorbidades}}</p>
            {{form.conteudo_comorbidades}}
        </li>
    </ul>
</div>