{% extends 'global/template_base.html' %}
{% load humanize %}
<!-- titulo Web da pagina-->

{% block title_login %} Pacientes {% endblock title_login %}
{% load static %}
<!--CSS local-->
{% block css %} 
    <!--Tabela-->
    <!--Menu Local-->
    <link rel="stylesheet" href="{% static 'global/css/footer.css' %}">
    <style>
        .video, #img_back{
          position: fixed;
          z-index: -1;
          width: 100%;
          margin-top:-5%!important;
        }   
        #chamada-paciente, #data-atualizacao{          
          font-size: 1.5rem;
        }        
         .div-content{
            width: 40%;
            padding: 2%;
            margin: 1%;
            border-radius:1rem;
            background-color: rgba(240, 245, 242, 0.8);
            box-shadow: var(--shadow);
        }
        marquee{
          padding: 1rem;   box-shadow: var(--shadow);
          background: var(--principal);
          background-color: rgba(161, 194, 160, 0.8); 
          margin-top:-0.1rem;
          box-shadow: var(--shadow);
        }
        marquee .fa-heart-pulse{color:red}
        {% for cf in configUpa %}
        marquee span{
          margin-right: {{cf.distancia}}rem; font-size:3rem
        }
        {% endfor %}
        marquee img{
          height:8rem;
          margin:-1rem 0.1rem -2.2rem -2rem;
         
        }    
        footer{
          margin-top:0!important
        }    
    </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!--Sider files-->       
        <link rel="stylesheet" type="text/css" href="{% static 'global/elastic/css/style.css' %}" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' rel='stylesheet' type='text/css' />
        <noscript>
          <link rel="stylesheet" type="text/css" href="{% static 'global/elastic/css/noscript.css' %}" />
        </noscript>    
{% endblock css %}   
<!--Titulo da Pagina-->
{% block body_title %}PACIENTES: Relação de Pacientes Cadastrados no Sistema::.  {% endblock body_title %}
{% block body_login %}
<div class="container_2" style='background-color: rgba(161, 194, 160, 0.8); margin-left:0!important; height:90Vh' >
    <div class="wrapper">
        <div id="ei-slider" class="ei-slider" >
            <ul class="ei-slider-large" >
                <li>
                    <img src="{% static 'front.jpg' %}" alt="image06"/>
                    <div class="ei-title">
                        <h2>Passionate</h2>
                        <h3>Seeker</h3>
                    </div>
                </li>
                <li>
                    <img src="{% static 'global/elastic/images/large/1.jpeg' %}" alt="image01" />
                    <div class="ei-title">
                        <h2>Creative</h2>
                        <h3>Duet</h3>
                    </div>
                </li>
                <li>
                  <img src="{% static 'global/elastic/images/large/2.jpeg' %}" alt="image01" />
                    <div class="ei-title">
                        <h2>Friendly</h2>
                        <h3>Devil</h3>
                    </div>
                </li>
                <li>
                  <img src="{% static 'global/elastic/images/large/3.jpeg' %}" alt="image01" />
                    <div class="ei-title">
                        <h2>Tranquilent</h2>
                        <h3>Compatriot</h3>
                    </div>
                </li>
                <li>
                  <img src="{% static 'global/elastic/images/large/4.jpeg' %}" alt="image01" />
                    <div class="ei-title">
                        <h2>Insecure</h2>
                        <h3>Hussler</h3>
                    </div>
                </li>
                <li>
                  <img src="{% static 'global/elastic/images/large/5.jpeg' %}" alt="image01" />
                    <div class="ei-title">
                        <h2>Loving</h2>
                        <h3>Rebel</h3>
                    </div>
                </li>
                <li>
                  <img src="{% static 'global/elastic/images/large/7.jpeg' %}" alt="image01" />
                    <div class="ei-title">
                        <h2>Crazy</h2>
                        <h3>Friend</h3>
                    </div>
                </li>
            </ul><!-- ei-slider-large -->
            <ul class="ei-slider-thumbs">
                <li class="ei-slider-element">Current</li>                      
                <li><a href="#">Slide 1</a><img src="{% static 'global/elastic/images/thumbs/1.jpeg' %}" alt="thumb01" /></li>
                <li><a href="#">Slide 1</a><img src="{% static 'global/elastic/images/thumbs/2.jpeg' %}" alt="thumb01" /></li>
                <li><a href="#">Slide 1</a><img src="{% static 'global/elastic/images/thumbs/3.jpeg' %}" alt="thumb01" /></li>
                <li><a href="#">Slide 1</a><img src="{% static 'global/elastic/images/thumbs/4.jpeg' %}" alt="thumb01" /></li>
                <li><a href="#">Slide 1</a><img src="{% static 'global/elastic/images/thumbs/5.jpeg' %}" alt="thumb01" /></li>
                <li><a href="#">Slide 1</a><img src="{% static 'global/elastic/images/thumbs/6.jpeg' %}" alt="thumb01" /></li>
                <li><a href="#">Slide 1</a><img src="{% static 'global/elastic/images/thumbs/7.jpeg' %}" alt="thumb01" /></li>
            </ul><!-- ei-slider-thumbs -->
        </div><!-- ei-slider -->
    </div><!-- wrapper -->
    {% include "Atendimento/painel_pacientes/partial_painel/painel_chama.html" %}
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'global/elastic/js/jquery.eislideshow.js' %}"></script>
<script type="text/javascript" src="{% static 'global/elastic/js/jquery.easing.1.3.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $('#ei-slider').eislideshow({
  animation			: 'center',
  autoplay			: true,
  slideshow_interval	: 30000,
  titlesFactor		: 0
        });
    });
</script>            



  

        


{% endblock body_login %}
