{% extends 'global/template_base.html' %}
{% load humanize %}
<!-- titulo Web da pagina-->

{% block title_login %} Pacientes {% endblock title_login %}
{% load static %}
<!--CSS local-->
{% block css %} 
    <!--Tabela-->
    <!--Menu Local-->
    <link rel="stylesheet" href="{% static 'global/css/footer.css' %}">
    <style>
        body{}
        .video{
          position: fixed;
          z-index: -1;
          width: 100%;
          margin-top:-5%!important;
        }
        .container{
            margin: auto;
            width: 100%;
        }
        #chamada-paciente, #data-atualizacao{          
          font-size: 1.5rem;
        }
        
        .container .div-content{
            width: 40%;
            padding: 2%;
            margin: 1%;
            border-radius:1rem;
            background-color: rgba(240, 245, 242, 0.8);
            box-shadow: var(--shadow);
        }

        marquee{
          padding: 1rem;   box-shadow: var(--shadow);
          background: var(--principal);
          background-color: rgba(161, 194, 160, 0.8); 
          margin-top:-0.1rem;
          box-shadow: var(--shadow);
        }
        marquee .fa-heart-pulse{color:red}
        {% for cf in configUpa %}
        marquee span{
          margin-right: {{cf.distancia}}rem; font-size:3rem
        }
        {% endfor %}
        marquee img{
          height:8rem;
          margin:-1rem 0.1rem -2.2rem -2rem;
         
        }
    </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
{% endblock css %}   
<!--Titulo da Pagina-->
{% block body_title %}PACIENTES: Relação de Pacientes Cadastrados no Sistema::.  {% endblock body_title %}
{% block body_login %}
{% if videoUpa %}
<video controls autoplay loop class="video">
  <source src="{% static  videoUpa  %}">
</video>
{% else %}
<video controls autoplay loop class="video" >
  <source src="{% static 'videos/enfermeira_orando.mp4'  %}">
</video>
{% endif %}
<div class="container">     
    
    {% for cf in configUpa %}
      {% if cf.letreiro_ativa %}
    <marquee behavior="scroll" direction="" class='rounded-bottom-5'>   
      <!--MARQUEEE-->       
      <div class='fs-6'>        
        <span> 
          
          {% if cf.gif_Ze_gotina %}
          <img src="{% static 'animar/ze-gotinha-gotinha atento.gif' %}" alt="">
          {% endif %}  
          {% if cf.bem_vindo_ativa_coracao %}        
            <i class="fa-solid fa-heart-pulse fa-beat-fade"></i> 
          {% endif %}
          {% if cf.bem_vindo_ativa %}
           {{cf.bem_vindo_msg}}
          {% endif %}
          {% if cf.bem_vindo_ativa_coracao %}
            <i class="fa-solid fa-heart-pulse fa-beat-fade"></i>&nbsp;&nbsp;&nbsp;&nbsp;
          {% endif %}
        </span>    
        {% if cf.data_ativa %} 
        <span>
          <i class="fa-solid fa-calendar-days fa-bounce"></i>
          {{ now|naturalday }} - {{now|date:"F j, Y"}}
        </span>
        {% endif %}
        {% if cf.hora_ativa %} 
        <span style='font-size:3rem'>
          <i class="fa-regular fa-clock fa-shake"></i>
          {{now|time:"H:i"}}        
        </span>
        {% endif %}
        {% if cf.gif_Ze_gotina %}
          <span>
            <img src="{% static 'animar/ze-gotinha-gotinha.gif' %}" alt="">
          </span>
        {% endif %}
        {% if cf.gif_enfermera %}
          <span>
            <img src="{% static 'animar/enfermeira-alcool-unscreen.gif' %}" alt="">
          </span> 
          <span>
            <img src="{% static 'animar/enfermeria-pc.gif' %}" alt="">
          </span>
        {% endif %}        
        <span> 
          {% if cf.gif_Ze_gotina %}
            <img src="{% static 'animar/ze-gotinha-gotinha atento.gif' %}" alt="">
          {% endif %}
          {% if cf.bem_vindo_ativa_coracao %}
            <i class="fa-solid fa-heart-pulse fa-beat-fade"></i> 
          {% endif %}
          {% if cf.bem_vindo_ativa %}
           {{cf.bem_vindo_msg}}
          {% endif %}
          {% if cf.bem_vindo_ativa_coracao %}
          <i class="fa-solid fa-heart-pulse fa-beat-fade"></i>&nbsp;&nbsp;&nbsp;&nbsp;
          {% endif %}
        </span>   
        {% if cf.data_ativa %}        
        <span>
          <i class="fa-solid fa-calendar-days fa-bounce"></i>
          {{ now|naturalday }} - {{now|date:"F j, Y"}}
        </span>
        {% endif %}
        {% if cf.hora_ativa %} 
        <span style='font-size:3rem'>
          <i class="fa-regular fa-clock fa-shake"></i>
          {{now|time:"H:i"}}        
        </span> 
        {% endif %}
        {% if cf.gif_enfermera %}   
          <span>
            <img src="{% static 'animar/enfermeira-unscreen.gif' %}" alt="">
          </span> 
          <span>
            <i class="fa-solid fa-quote-left"></i>{{cf.mensagem}}<i class="fa-solid fa-quote-right"></i>
          </span>
        {% endif %}
        {%if cf.gif_medico  %}   
          <span>
            <img src="{% static 'animar/medico-danca.gif' %}" alt="">
          </span>         
          <span>
            <img src="{% static 'animar/medico-assopra.gif' %}" alt="">
          </span> 
        {%endif%}
       
        {%if cf.gif_medico %}  
        <span>
          <img src="{% static 'animar/medico.gif' %}" alt="">
        </span> 
        {%endif%}
        {% if cf.gif_Ze_gotina %}
          <span>
            <img src="{% static 'animar/sus-z-gotinha-unscreen-livro.gif' %}" alt="">
          </span>
        {% endif %}
        {% if cf.mensagem_ativa %}
        <span>          
          <i class="fa-solid fa-quote-left"></i>{{cf.mensagem}}<i class="fa-solid fa-quote-right"></i>
        </span>  
        {% endif %}
        {% if cf.gif_Ze_gotina %}
          <span>
            <img src="{% static 'animar/sus-zégotinha-legal.gif' %}" alt="">
          </span>
          <span>
            <img src="{% static 'animar/ze-gotinha-gotinha-triste.gif' %}" alt="">
          </span>
          <span>
            <img src="{% static 'animar/ze-gotinha-gotinha-conpanheiro.gif' %}" alt="">
          </span>
          <span>
            <img src="{% static 'animar/ze-gotinha-gotinha hangloose.gif' %}" alt="">
          </span>
        {% endif %}
        {% if cf.gif_Ze_gotina %}
          <span>
            <img src="{% static 'animar/sus-z-gotinha-unscreen-livro.gif' %}" alt="">
            <img src="{% static 'animar/sus-zégotinha-legal.gif' %}" alt="">
            <img src="{% static 'animar/ze-gotinha-gotinha-triste.gif' %}" alt="">
            <img src="{% static 'animar/ze-gotinha-gotinha-conpanheiro.gif' %}" alt="">
            <img src="{% static 'animar/ze-gotinha-gotinha hangloose.gif' %}" alt="">
          </span> 
        {% endif %}
      </div>      
      <!--FIM MARQUEEE-->   
    </marquee>
    <div >
      <a style='display:block; text-align:center; font-size:2rem; margin: auto 1rem;' href='{% url 'Atendimento:pagina-inicial' %}'><i style='color:#fff; text-shadow: var(--shadow);' class="fa-solid fa-house-user"></i></a>
      <a class="uppercase" style='display:block; text-align:center; font-size:1rem; margin: auto 1rem; color:#fff; text-shadow: var(--shadow);' href='{% url 'Atendimento:pagina-inicial' %}'>Página Inicial</a>    
    </div>
    {% endif %}
    {% endfor %} 
    <div class="div-content" style='display:block;  font-size:2rem; margin:1rem auto;'>
      <div><span style='font-size:1.2rem'>ATENDIMENTO:</span> <span class='uppercase' id='sala'></span></div>
      <hr>
      <div>              
        <div id="chamada-paciente">
          <p><h1 class='uppercase' style='font-size:3rem' id="nome-paciente"></h1></p>
          <p style='font-size:1.5rem; color:rgb(157, 19, 170)'>Por favor se dirigir à sala de <span class='uppercase' id='sala_sala'></span></p>
          <hr>
          <p style="font-weight: bold ;font-size:1.2rem" id='hora-ultima'></p>
          <p style='font-size:1.2rem' id="data-atualizacao"></p>          
          <audio id="audio-player" controls autoplay style='width:80%; margin:2rem; background-color: transparent;'>
            <source  id="audio-source"  type="audio/mpeg" >
          </audio>
        </div>
      </div>
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>...
      <script>
        var audio = $('#audio-player')[0]; // seleciona o elemento de áudio
        var audioSource = $('#audio-source'); // seleciona o elemento source do áudio
        var audioBase64Anterior = ''; // variável para armazenar o áudio da chamada anterior
        var audioRepeticoes = 0; // contador para controlar as repetições do áudio 
        // var dataChamada = moment(data.data_chamada);
//$('#data-chamada').text('Data de Chamada: ' + dataChamada.format('DD/MM/YYYY HH:mm:ss'));

      
      function atualizarDadosChamada(data) {
        $('#nome-paciente').text('' + data.nome_paciente2); 
        $('#sala').text('' + data.nome_sala); 
        $('#sala_sala').text('' + data.nome_sala); 
        
        //var dataChamada = moment(data.data_chamada)
        //$('#data-chamada').text('Data de Criação:' + dataChamada.format('HH:mm:ss'))
        //$('#data-chamada').text('Data de Chamada: ' + new Date(data.data_chamada).toLocaleString());
        $('#data-criacao').text('Data de Criação: ' + data.data_criacao);
        var dataChamada = moment(data.data_chamada)
        console.log(dataChamada)
        //$('#data-atualizacao').text('Data de Atualização: ' + new Date(data.data_chamada).toLocaleDateString('pt-BR'));
        $('#data-atualizacao').text('Data de Atualização: ' + dataChamada.format('DD/MM/YY'));
        $('#hora-ultima').text('Última chamada: ' + dataChamada.format('HH:mm') + 'h')
      
        // verifica se os dados da chamada atual são diferentes da anterior
        var audioBase64 = data.audio_base64;
        if (audioBase64 !== audioBase64Anterior) {
          audioSource.attr('src', 'data:audio/mpeg;base64,' + audioBase64); // atualiza o áudio do source                  
          audio.load(); // carrega o novo áudio
          audio.play(); // inicia a reprodução
          audioRepeticoes = 1; // reseta o contador de repetições
          audioBase64Anterior = audioBase64; // armazena o áudio da chamada atual para a próxima verificação
        }
      }
      
      $(document).ready(function() {
        // obtém os dados da primeira chamada ao iniciar a página
        $.ajax({
          url: '{% url 'Atendimento:chamar_paciente' %}',
          dataType: 'json',
          success: function(data) {
            atualizarDadosChamada(data); // atualiza os dados da primeira chamada
          }
        });
      
        // atualiza os dados a cada 20 segundos
        setInterval(function() {
          $.ajax({
            url: '{% url 'Atendimento:chamar_paciente' %}',
            dataType: 'json',
            success: function(data) {
              atualizarDadosChamada(data); // atualiza os dados a cada chamada
            }
          });
        }, 15000);
      
        // adiciona evento de escuta para fim da reprodução do áudio
        audio.addEventListener('ended', function() {
          if (audioRepeticoes < 2) { // se não alcançou o limite de repetições
            setTimeout(function() {
              audio.play(); // inicia a reprodução novamente
            }, 2000); // espera 2 segundos
            audioRepeticoes++; // incrementa o contador de repetições
          }
        });
      });
      
      </script>
    
    </div>              
{% endblock body_login %}
