<div class="row row-cols-5 mb-5 p-3   g-4 justify-content-center">        
    {% csrf_token %}  
    <div class="col-9 row row-cols-2 m-3 mx-0 p-3 bg-primary-subtle shadow shadow-sm " >
        <div class="col form-group">
            {{ form.nome_social.label_tag }}
            {{ form.nome_social }}
            {{ form.nome_social.errors }}
        </div>
        <div class="col form-group">
            {{ form.nome_completo.label_tag }}
            {{ form.nome_completo }}
            {{ form.nome_completo.errors }}
        </div>
    </div>              
    <div class=" col form-group">
        {{ form.codigo_pacient.label_tag }}
        {{ form.codigo_pacient }}
        {{ form.codigo_pacient.errors }}
    </div>
    <div class="col form-group">
        {{ form.data_nascimento.label_tag }}
        {{ form.data_nascimento }}
        {{ form.data_nascimento.errors }}
    </div>
    <div class="col form-group">
        {{ form.sexo.label_tag }}
        {{ form.sexo }}
        <p><a class="fa-sharp fa-solid fa-circle-plus rounded-5 shadow " title='Adicionar sexo' href="{% url 'Atendimento:cadastra_sexo' %}"></a></p>
        {{ form.sexo.errors }}
    </div>
    <div class="col form-group">
        {{ form.etnia.label_tag }}
        {{ form.etnia }}
        <p><a class="fa-sharp fa-solid fa-circle-plus rounded-5 shadow " title='Adicionar etnia' href="{% url 'Atendimento:cadastra_etnia' %}"></a></p>
        {{ form.etnia.errors }}
    </div>
    <div class="col form-group">
        {{ form.RG.label_tag }}
        {{ form.RG }}
        {{ form.RG.errors }}
    </div>
    <div class="col form-group">
        {{ form.CPF.label_tag }}
        {{ form.CPF }}
        {{ form.CPF.errors }}
    </div>
    <div class="col form-group">
        {{ form.nacionalidade.label_tag }}
        {{ form.nacionalidade }}
        {{ form.nacionalidade.errors }}
    </div>
    <div class="col form-group">
        {{ form.rua.label_tag }}
        {{ form.rua }}
        {{ form.rua.errors }}
    </div>
    <div class="col form-group">
        {{ form.bairro.label_tag }}
        {{ form.bairro }}
        <p><a class="fa-sharp fa-solid fa-circle-plus rounded-5 shadow " title='Adicionar bairro' href="{% url 'Atendimento:cadastra_bairro' %}"></a></p>
        {{ form.bairro.errors }}
    </div>
    <div class="col form-group">
        {{ form.cidade.label_tag }}
        {{ form.cidade }}
        <p><a class="fa-sharp fa-solid fa-circle-plus rounded-5 shadow " title='Adicionar cidade' href="{% url 'Atendimento:cadastra_cidade' %}"></a></p>
        {{ form.cidade.errors }}
    </div>
    <div class="col form-group">
        {{ form.estado.label_tag }}
        {{ form.estado }}
        <p><a class="fa-sharp fa-solid fa-circle-plus rounded-5 shadow " title='Adicionar estado' href="{% url 'Atendimento:cadastra_estado' %}"></a></p>
        {{ form.estado.errors }}
    </div>
    <div class="col form-group">
        {{ form.pais.label_tag }}
        {{ form.pais }}
        <p><a class="fa-sharp fa-solid fa-circle-plus rounded-5 shadow " title='Adicionar pais' href="{% url 'Atendimento:cadastra_pais' %}"></a></p>
        {{ form.pais.errors }}
    </div>
    <div class="col form-group">
        {{ form.CEP.label_tag }}
        {{ form.CEP }}
        {{ form.CEP.errors }}
    </div>
    <div class="col form-group">
        {{ form.nome_mae.label_tag }}
        {{ form.nome_mae }}
        {{ form.nome_mae.errors }}
    </div>
    <div class="col form-group">
        {{ form.tel.label_tag }}
        {{ form.tel }}
        {{ form.tel.errors }}
    </div>
    <div class="col form-group">
        {{ form.cartao_sus.label_tag }}
        {{ form.cartao_sus }}
        {{ form.cartao_sus.errors }}
    </div>       
</div>  
{% include "Atendimento/partes_cadastro_pacientes/aviso_Limpa_formulario.html" %}
<div class="w-100 p-2 text-center">
    <button class='btn btn-sm btn-primary' type="submit" onclick="limpaDados()">Salvar</button>    
</div>
</form>