   /**FORM*/
   .form-body {      
    margin:1rem;
    background: #dbecdb;
    padding:1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:2rem;
}

.form-body > div {
    margin-bottom: 1rem;
}

.form-body label {
    display: block;
}

.form-body input[type="number"],
.form-body input[type="text"],
.form-body select,
.form-body textarea {
    width: 90%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-body textarea {
  width:100%!important;
}

.form-body input[type="text"]:hover,
.form-body select:hover,
.form-body textarea:hover {
    border-color: #4CAF50;
}

button, .button-salvar {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    color: #fff;
    background-color: #4CAF50;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 20rem;
    margin-left: 30%;
}

button:hover, .button-salvar:hover {
    background-color: #45a049;
}

button:active, .button-salvar:active {
    background-color: #3c903c;
}

button:focus, .button-salvar:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #4CAF50;
}
.cancel-button {
    display: inline-block;
    padding: 10px;
    background-color: #ff6666; /* Tom de vermelho */
    border: 1px solid #cc0000; /* Tom mais escuro de vermelho */
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff; /* Cor do texto */
  }
@media (max-width:40rem) {
    .form-body{
        grid-template-columns: 3fr;
    }
    
}

@media (max-width: 30rem) {
    .form-body {
        grid-template-columns: 2fr;
    }
}


table{caption-side:bottom;border-collapse:collapse}caption{padding-top:.5rem;padding-bottom:.5rem;color:var(--bs-secondary-color);text-align:left}th{text-align:inherit;text-align:-webkit-match-parent}tbody,td,tfoot,th,thead,tr{border-color:inherit;border-style:solid;border-width:0}label{display:inline-block}button{border-radius:0}button:focus:not(:focus-visible){outline:0}button,input,optgroup,select,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}button,select{text-transform:none}[role=button]{cursor:pointer}select{word-wrap:normal}select:disabled{opacity:1}[list]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=week]):not([type=time])::-webkit-calendar-picker-indicator{display:none!important}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled){cursor:pointer}::-moz-focus-inner{padding:0;border-style:none}textarea{resize:vertical}fieldset{min-width:0;padding:0;margin:0;border:0}legend{float:left;width:100%;padding:0;margin-bottom:.5rem;font-size:calc(1.275rem + .3vw);line-height:inherit}@media (min-width:1200px){legend{font-size:1.5rem}}legend+*{clear:left}::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-fields-wrapper,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-minute,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-text,::-webkit-datetime-edit-year-field{padding:0}::-webkit-inner-spin-button{height:auto}[type=search]{outline-offset:-2px;-webkit-appearance:textfield}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-color-swatch-wrapper{padding:0}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}::file-selector-button{font:inherit;-webkit-appearance:button}output{display:inline-block}