@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

:root{
    --cor-cidade-primario: #087211dc;
    /*--cor-cidade-primario: #087211dc;*/
    --cor-background-titulo:#224C36;
    --cor-cabeçalho:  rgb(34,76,54, 0.5);
    --cor-cidade-secundário:#d5dadfdc;
    --background-body:#bdd8bf59;
    --shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    --tamanho:2rem;
    --pading-top-icon:calc(var(--tamanho)/2);
    --largura-icon:60px;  
  }

body, h1, p, a{
    margin: 0 !important;
    padding: 0;  
    text-decoration: none;
    
}
h1{
    font-size: 1rem ;
    text-align: left !important;}
h2{
  font-size: 0.95rem !important;
  text-align: left !important;}
h3{
  font-size: 0.9rem !important;
  text-align: left !important;}
p{
  font-size: 0.85rem !important;
  text-align: left !important;}

body{
    background: var(--background-body);    
}
.fs-7{
  font-size: 0.6rem !important;
}
.fs-6{
  font-size: 0.7rem !important;
}


.conteiner-body{
    display: block;
    margin-left:calc(var(--largura-icon));
    }
  
.barra-top{
    display: block;
    background: var(--cor-cidade-primario) !important;
    padding-top: var(--pading-top-icon);
    color: white !important;
    margin-bottom:calc(var(--tamanho)/6);
}
.main-header-brasao, .main-header-brasao-hospital{
    width: 4.5rem;
    margin-right: 0.5rem;
}
.main-header-brasao-hospital{
    width: 10rem;
    margin-right: 0.5rem;
    padding-top: 1rem;
}
.main-header-brasao img, .main-header-brasao-hospital img{
    width: 100%;
}
.main-header-inst-info{
    margin-left: 1rem;
    border-left: 0.2rem solid var(--cor-cidade-primario);
    padding-left: 1rem;
}
.main-header-inst-info p{
    padding: 0.1rem;
    font-size: 1.05rem;
}

.barra-titulo-page{
    padding: 0.74rem 2rem;
    width: auto;    
    box-shadow: -0.5rem 0.2rem 0.5rem rgb(80, 79, 79);
}
.barra-titulo-page span{
    font-size: 1.3rem;
}

main{
    display: block;
    background-color:white !important;    
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
    margin: 2.5rem auto !important;
    margin-top: 0 !important;
    width: 90% !important;
    height: auto !important;
    border-radius: 1rem !important;
    min-height: 41rem !important;
    padding: 1rem;
}
.main-header{
    display: flex;
    background-color:var(--cor-cabeçalho);
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    margin-top: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
}
.main-header-title{
  display: block;
  background-color: var(--cor-background-titulo);
  border-bottom: 0.1rem solid var(--cor-cidade-primario);
  color: white;
  font-size: 1.3rem; 
  padding: 0.5rem;
  margin-bottom: 2rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

.fa-2x {
font-size: 1px;
}
.fa {
position: relative;
display: block;
padding-top:var(--pading-top-icon);
width: 60px;
height: var(--tamanho);
text-align: center;
color: var(--cor-cidade-primario);

}
.content-info-home{
  border: 0.1rem solid crimson;
  border-radius: 1rem;
  font-family: 'Titillium Web', sans-serif !important;
  
 
}
.content-info-home h1{
  background-color: crimson; 
  border-top-left-radius:1rem ;
  border-top-right-radius: 1rem;
  padding: 0.5rem;
  color: white;
}
.content-info-home div{
  padding: 0.5rem;
}

/*.shadow{
    box-shadow: var(--shadow);
}*/
.li-preenche{
    display: block;
    width: 60px;
    height:calc(100vh - (var(--tamanho) * 11));
}


/* Main-menu - menu-lateral-atend - menu vertical --------------------------------------*/



.main-menu {
background:var(--cor-cidade-secundário);
border-right:1rem solid var(--shadow);
position:absolute;
top:50;
bottom:0;
height:100vh;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}
.main-menu:hover,nav.main-menu.expanded {
  width:250px;
  overflow:visible;
  }

.main-menu>ul {
margin:0px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:rgb(36, 35, 35);
font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;  
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
font-family: 'Titillium Web', sans-serif;
padding-left: 1rem;
}
.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}
.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}

/*END Main-menu - menu-lateral-atend - menu vertical --------------------------------------*/





/* CLASSES GENERICAS*/
.bloco{
    margin: 1rem;
    display: block;
}
.flex{
    display: flex;
}









/*MENU DA PAGINA DE PACIENTES*/

.busca-paciente{
    margin-top: 0.2rem;
    width: 100%;
    display: block;
    margin-top: -0.1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

}
.busca-paciente input{
    background:white;
    margin-top: 0.7rem;
    margin-left: 0.7rem;
    height: 1.85rem;
    padding: 0.35rem;
    width: 95%;
    margin-right:1rem ;
    border: 0.1rem solid var(--cor-cidade-primario);
    border-bottom-left-radius: 1rem;
    text-align: center;
    box-shadow: var(--shadow);   
    transition: all ease-in-out 1000ms;
    
}
.busca-paciente input:hover{
    background: cadetblue;
}
.busca-paciente button{
    margin-left: -4.2rem;
    height: 2.5rem;
    width: 3rem;
    background: none;
    border: none;
    transition: all ease-in-out 1000ms;
}

.busca-paciente button:hover{
    background:var(--cor-cidade-secundário);
    color: var(--cor-cidade-primario);
}


/**MENU HORIZONTAL*/


.menu-horizontal{
    width:calc(100% - 10rem);
    padding-left: 5rem;
    padding-right: 5rem;
    margin: 0 auto;
    margin-bottom: 2rem;    
  }



/*RISCOS*/
.risco{
    color: #fff;
    padding: 1rem;
    display: block;
    margin: 1rem;
}
.risco-vermelho{
    background-color: red;    
}
.risco-laranja{
    background-color: orangered;
}
.risco-verde{
    background-color: green;    
}
.risco-azul{
    background-color:#0080ff;
}



/*CARD*/

.container-card .center {
  display: flex;
}

.card {
  font-family: 'Titillium Web' !important;
  width: 450px;
  height: 10rem;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#CDE3E8,rgb(5, 136, 141));
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
  padding-top: 1rem;
  text-align: center;
}

.card.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
}


.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.card .additional .user-card .level,
.card .additional .user-card .points {
  top: 15%;
  color: rgb(8, 6, 6);
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
  text-align: center;
}

.card .additional .user-card .points {
  top: 85%;
}

.card .additional .user-card svg {
  top: 50%;
}

.card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card .additional .more-info h1 {
  color:var(--cor-cidade-primario);
  margin-bottom: 0;
}

.card.green .additional .more-info h1 {
  color: #224C36;
}

.card .additional .coords {
  margin: 0 1rem;
  color: rgb(70, 26, 26);
  font-size: 1rem;
}

.card.green .additional .coords {
  color: #325C46;
}

.card .additional .coords span + span {
  float: right;
}

.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: rgb(27, 17, 17);
}

.card.green .additional .stats {
  color: #325C46;
}

.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

.general h1{
  text-align: center !important;
  font-size: 2rem;
  color: crimson;
}

.prosseguir{
  padding: 0.5rem;
  margin: 0.2rem;
  width:calc(100% - 1.4rem);
  display: block;
  color: white;
  border-radius: 1rem;
}
.prosseguir:active{
  margin-left:1rem ;
}
/*Classificação de Risco*/
.prosseguir-red{background-color: #AA0000; color: white;}

.prosseguir-laranja{background-color: #ff6600}
.prosseguir-green{background-color: #008200}
.prosseguir-azul{background-color:#008dc0;}

/*Imagem suspenso representando o setor*/
.vetor-img-aereo{
  position: absolute;
  z-index: 10;
  right: 8rem;
  top: 15rem;

}
.vetor-img-aereo .fa-solid{
  font-size: 20rem;
}

.info-triagem {
  font-size: 2rem;
  padding: 0.5rem;
  margin: -1rem -1rem 1rem -1rem;
}
.dados-preatendimento{
  font-family: 'Titillium Web' !important;
  font-size: 1.1rem;
}
.dados-preatendimento ul{
  margin-right: 3rem;
}
.dados-preatendimento ul li{
  padding: 0.2rem;
  
}
/*form*/
.form-div {width: calc(100% - 2rem); padding:1rem;}
.form-div div textarea, .form-div div input{
  width: 100%; border-radius: 1rem;
  transition: all ease-in-out 1000ms;
  padding: 1rem;
}
.form-div div textarea:hover, .form-div div input:hover{
  background-color: cadetblue;
  scale: 1.01;
}

/*EXTRAS PARA TODOS*/
.item-oculto{
  display: block;
  width: 70rem;
}
.descricao{
  display: none;
  
  transition: all ease-in-out 300ms;  
}
.item-oculto:hover .descricao{
  display: block;
  width: 25rem;
  margin: auto;
  position: relative;
  z-index: 10;
  left: 5rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  
}
