
@charset "utf-8";
/* CSS Document */
:root {
    /*Padronização do Body*/ 
    --background-body-1: #d5dadfdc;
    
    /*End Padronização do Body*/

    /*Padronização do Menu Esquerdo e demais itens customizáveis*/
    --background-left-1: #16222A;  /* fallback for old browsers */
    --background-left-1: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    --background-left-1: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*Padronização do Menu Esquerdo e demais itens customizáveis*/

    --background-button-1: #289688;  /* fallback for old browsers */
    --background-button-1: -webkit-linear-gradient(to right, #2162b6,#165892 );  /* Chrome 10-25, Safari 5.1-6 */
    --background-button-1: linear-gradient(to right,  #2162b6,#165892 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    --backgroud-form: rgb(119, 195, 227);

    --background-buttom-title-content-1: #B0E0E6;
    --target-1: var(--backgroud-form);        
    --target-2: rgb(193, 229, 156);
    --target-3:rgb(193, 146, 112);  
    --footer:1vh;
    --radiaus-border:0.5rem;
    --shadow:0.15rem 0.15rem 0.5rem #3A6073;

    --tamanho:10rem;
    --tamanho-suporte:19rem;
    
    

    --font-size-h1: 010px;
    --font-size-h2: 1px;
    --font-color-titulo:#1C1C1C;
    --font-color-texto: #363636;
    

    --background-div: #3A6073;

    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;

    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;
}

html, body, div, span, applet, object, iframe,  p, blockquote, pre, a, abbr, and, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea, select {
	background:transparent;
	border:0;
	font-size:100%;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline; 
    text-decoration: none;  
    
}

body{
    background: var(--background-body-1);
    height: 100vh;
    
    

}
h1, h2, h3, p{    
   
}
.font-especial-bold{
    font-family: 'Nunito', sans-serif;
    font-size:small;

}



/* -------------------------------MAIN RIGHT - Content* ------------------------------------*/




/**-------------------------------------Alinha os itens da div Verticalmente--------------------------------------*/
.alinhar-horizontalment{
    display:flex;
    flex-direction: column;
    justify-content: center; 
}



















/** Classe do FORM EM ABAS*/

form div.items p {display: none}
form div.items p:target {display: block}
.item-target{
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border-top-right-radius: var(--radiaus-border);
    border-top-left-radius: var(--radiaus-border);
    text-align: center;    
    box-shadow: 0.1rem -0.1rem teal;
}
.item-target a {
    color: #fff;    
}
.target-1{    
    background:var(--target-1);
}
.target-2{
    background:var(--target-2);
}
.target-3{
    background:var(--target-3);
}

.itens-content {    
    width: 100%;
    height: 20rem;
    padding: 0.5rem;
    margin: -0.59rem;
    border-radius: var(--radiaus-border);
    box-shadow: var(--shadow);
}
.itens-content span{
    display: block;
}

.form-sme{
    background: #ecede3;
    height: 1.6rem;
    width: 90%;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px grey;
    margin: 0.5rem;
    padding: 0.2rem 0.5rem;
    text-transform: uppercase;
    transition: all ease-in-out 1000ms;
}
.form-sme:hover{
    background: #b0cbf0;     
}
.button-reset{
    text-align: right;
    width: 75%;
    display: block;
    margin: 1rem auto;
    padding: 1rem;
}

/** FIM  Classe do FORM EM ABAS*/



footer{
    width: calc(97.5vw - (var(--tamanho/8)));
    height: 10rem;
    padding: calc(var(--tamanho)/8);
    display: block;
    background-color: #106fc2;

}
footer h1{
    font-size: calc(var(--tamanho)/8) ;
    color: white;
    text-shadow:inset 2px 2px #ff0000 ;
}