{% load static %}
{% if not triagem_now.preescrever_medicamento_medico == "" %}      
       <section class='prescricao' id="tab1" class="active"> 
              <!--Imprimir medicamentos-->
              <div >
                     <a class='fs-5 btn btn-sm btn-primary link-light w-100 right text-decoration-none p-2 mt-1'  href="{% url 'Medicos:geraPdf' triagem_now.id %}" onclick="gerarPDF(); return false;" ><i class="fa-solid fa-print" ></i> Imprimir/PDF</a>
              </div>
              <div id="tab11" style='width:600px; height:848.41px; margin:auto; margin-top:1rem;
              box-shadow: 0px -1px 10px 4px rgba(41, 41, 41, 1);
              -webkit-box-shadow: 0px -1px 10px 4px rgba(41, 41, 41, 1);
              -moz-box-shadow: 0px -1px 10px 4px rgba(41, 41, 41, 1);'>
                     <img style='width:100%; margin-top:-1rem; margin-left:0.2rem' src="{% static 'sus.svg' %}  " alt=""/>
                     <div class='card-medico' style="              
                            position: relative;
                            z-index: 10;
                            top: -45rem;
                            padding: 2rem;
                            padding-bottom:0.1rem;
                            max-height:30rem!important">                                                                                     
                            <h3 style='text-transform:uppercase'>Nome do(a) paciente:</h3>                                                                                              
                            <div style='margin-left:2rem; margin-bottom:1rem;text-transform:capitalize'><strong>{{triagem_now.paciente_triagem.paciente_envio_triagem.nome_social}}</strong></div>
                            <hr style="width: 50%;">
                            <h3 style='text-transform:uppercase'>Preescrição de Medicamentos:</h3>                                                 
                            <div style='margin-left:2rem; max-height:17rem; height:18rem;color:#000!important'>
                            {{triagem_now.preescrever_medicamento_medico | safe}}
                            </div>
                            <div style='text-align:center; width: 100%; '>                                          
                                   <span style='text-transform:Capitalize' >Dr.(a) {% if request.user.first_name %} {{request.user.first_name}} {{request.user.last_name}}{% else %}{{request.user}}{% endif %}</span><br>
                                   <hr style="width: 75%;margin: auto;">
                                   Médico que fez o atendimento
                            </div>
                            <div style='font-size:0.6rem; margin-top:9rem; '>
                                   <b>UPA VERA CRUZ</b>
                                   <BR/>Av. Juvenal João Vinagre, 175, Centro, Vera Cruz - Ba
                                   <BR/>Tel.: (71) 3633-2286\
                                   <BR/>Email: servicosocial.upaveracruz@gmail.com
                            </div>  
              </div> 
              <!--FIM Imprimir medicamentos-->
       </section>
{% endif %}