{% load static %}
{% if triagem_now.exames.all %} 
<section class='exames' id="tab3">      
                                            
       <!--Exames-->
       <div >
              <a class='fs-5 btn btn-sm btn-primary link-light w-100 right text-decoration-none p-2 mt-1'  href="{% url 'Medicos:geraPdf' triagem_now.id %}" onclick="gerarPDF_exame(); return false;" ><i class="fa-solid fa-print" ></i> Imprimir/PDF</a>
       </div>
       <div id="tab33" style='width:600px; height:20.5rem; margin:auto; margin-top:1rem;
       box-shadow: 0px -1px 10px 4px rgba(41, 41, 41, 1);
       -webkit-box-shadow: 0px -1px 10px 4px rgba(41, 41, 41, 1);
       -moz-box-shadow: 0px -1px 10px 4px rgba(41, 41, 41, 1);'>
       <div style="padding: 0.1rem;">
              <div style="margin:1rem;border:0.1rem solid #000;">
                     <div style="display: flex;">
                            <div style='padding:0.5rem;border: 0.1rem solid #000;'><img src="{% static "sesab.png" %}" width='100' alt=""></div>
                            <div style='text-align: center;width: 100%;padding: 0.5rem; border: 0.1rem solid #000;'>SOLICITAÇÃO DE EXAMES OU PROCEDIMENTOS</div>
                     </div>
                    
                     <div style="display: flex;">
                            <div style="border:0.1rem solid #000;width:70%;">
                                   <div style="font-size: 0.6rem; padding: 0.2rem">NOME DO PACIENTE:</div>
                                   <div style='font-size:0.8rem; text-align: center; text-transform:capitalize'><span>{{triagem_now}}</span></div>
                            </div>
                            <div style="border:0.1rem solid #000;width:30%">
                                   <div style="font-size: 0.6rem;padding: 0.2rem;" >DOC. IDENTIDADE:</div>
                                   <div style="font-size: 0.8rem; text-align: center;width: 100%;">
                                          {{triagem_now.paciente_triagem.paciente_envio_triagem.RG}}
                                   </div>
                            </div>
                     </div>
                     <div style="display: flex;">
                            <div style="border:0.1rem solid #000;width:60%;">
                                   <div style="font-size: 0.6rem; padding: 0.2rem">ENDEREÇO DO PACIENTE:</div>
                                   <div style='font-size:0.8rem; text-align: center; text-transform:capitalize'><span>
                                          {{triagem_now.paciente_triagem.paciente_envio_triagem.rua}}, 
                                          {{triagem_now.paciente_triagem.paciente_envio_triagem.bairro}}, 
                                          {{triagem_now.paciente_triagem.paciente_envio_triagem.cidade}}, 
                                          {{triagem_now.paciente_triagem.paciente_envio_triagem.estado}},
                                          {{triagem_now.paciente_triagem.paciente_envio_triagem.CEP}},
                                          {{triagem_now.paciente_triagem.paciente_envio_triagem.pais}}
                                   </span></div>
                            </div>
                            <div style="border:0.1rem solid #000;width:10%;">
                                   <div style="font-size: 0.6rem; padding: 0.2rem">IDADE:</div>
                                   <div style='font-size:0.8rem; text-align: center'><span>{{triagem_now.paciente_triagem.paciente_envio_triagem.idade}} anos</span></div>
                            </div>
                            <div style="border:0.1rem solid #000;width:30%">
                                   <div style="font-size: 0.7rem;padding: 0.2rem;" >DATA DE NASCIMENTO:</div>
                                   <div style="font-size:0.8rem; text-align: center;width: 100%;">
                                          <span>{{triagem_now.paciente_triagem.paciente_envio_triagem.data_nascimento}}</span>
                                   </div>
                            </div>
                     </div>
                     <div style="display: flex;">
                            <div style="border:0.1rem solid #000;width:40%;">
                                   <div style="font-size: 0.6rem; padding: 0.2rem">MOTIVO DA SOLICITAÇÃO:</div>
                                   <div style='font-size:0.8rem; text-align: center'><span></span></div>
                            </div>
                            <div style="border:0.1rem solid #000;width:30%;">
                                   <div style="font-size: 0.6rem; padding: 0.2rem">DATA:</div>
                                   <div style='font-size:0.8rem; text-align: center'><span>{{triagem_now.data_triagem}}</span></div>
                            </div>
                            <div style="border:0.1rem solid #000;width:30%">
                                   <div style="font-size: 0.6rem;padding: 0.2rem;" >TELEFONE:</div>
                                   <div style="font-size: 0.8rem; text-align: center;width: 100%;">
                                          <span>{{triagem_now.paciente_triagem.paciente_envio_triagem.tel}}</span>
                                   </div>
                            </div>
                     </div>
                     <div style="display: flex;">
                            <div style="border:0.1rem solid #000;width:50%;">
                                   <div style="font-size: 0.6rem; padding: 0.2rem">EXAME OU PROCEDIMENTO SOLICITADO:</div>
                                   <div style='font-size:0.8rem; text-align: center'>
                                          {% for ex in  triagem_now.exames.all %}                                                        
                                                 <span>{{ex.nome_exame}}</span>,
                                          {% endfor %}
                                   </div>
                            </div>
                            <div style="border:0.1rem solid #000;width:20%;">
                                   <div style="font-size: 0.6rem; padding: 0.2rem">CPF:</div>
                                   <div style='font-size:0.8rem; text-align: center'><span>{{triagem_now.paciente_triagem.paciente_envio_triagem.CPF}}</span></div>
                            </div>
                            <div style="border:0.1rem solid #000;width:30%">
                                   <div style="font-size: 0.7rem;padding: 0.2rem;" >CÓDIGO:</div>
                                   <div style="font-size: 0.8rem; text-align: center;width: 100%;">
                                          {% if triagem_now.paciente_triagem.cod_triagem  %}
                                          {{triagem_now.paciente_triagem.cod_triagem}}
                                          {% endif %}
                                   </div>
                            </div>
                     </div>
                     <div style="display: flex;">
                            <div style="border:0.1rem solid #000;width:45%;">
                                   <div style="font-size: 0.6rem; padding: 0.2rem">PROFISSIONAL SOLICITANTE:</div>
                                   <div style='font-size:0.8rem; text-align: center; text-transform:capitalize'><span>Dr.(a) {% if request.user.first_name %} {{request.user.first_name}} {{requestriagem_now.user.last_name}}{% else %}{{request.user}}{% endif %}</span></div>
                            </div>
                            <div style="border:0.1rem solid #000;width:25%;">
                                   <div style="font-size: 0.6rem; padding: 0.2rem">AUTORIZAÇÃO:</div>
                                   <div style='font-size:0.8rem; text-align: center'><span></span></div>
                            </div>
                            <div style="border:0.1rem solid #000;width:30%">
                                   <div style="font-size: 0.6rem;padding: 0.2rem;" >CNS:</div>
                                   <div style="font-size: 0.8rem; text-align: center;width: 100%;"><span>{{triagem_now.paciente_triagem.paciente_envio_triagem.cartao_sus}}</span></div>
                            </div>
                     </div>
              </div>
       </div>
       </div>                                    
       <!--fim Exames-->                                   
</section>
{% endif %}