{% extends 'global/template_geral.html' %}
{% load static %}
{% block title_login %}<b>Fila de Espera</b> {% endblock title_login %}
{% block css %}
    <!--Css do Select2-->    
    <link rel="stylesheet" href=" {% static 'global/css/formularios.css' %}">    
    <link rel="stylesheet" href=" {% static 'global/css/tabela-div.css' %}">
    <link rel="stylesheet" href=" {% static 'global/css/menu/menu-local.css' %}">
    <style>
        td .hours48{
        position: absolute;
        font-size: 0.65rem;
        margin-left: -0.6rem;
        margin-top: 1.2rem!important;
        color:rgb(255, 255, 255) ;
        padding-right: 3rem!important;
        border-top-right-radius: 6rem;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        } 


        .wrapper {
            position: relative;
        }
        
        #cod_registro {
            position: relative;
            z-index: 1; /* Garante que esta div esteja acima da div overlay */
        }
        
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2; /* Garante que esta div esteja sobreposta à div cod_registro */
            background-color: rgba(0, 0, 0, 0); /* Faz a div transparente */
        }
        
</style>


    
    
{% endblock css %}    
{% block script %}
    <!--Script do Select2-->
<script>
    // In your Javascript (external .js resource or <script> tag)
$(document).ready(function() {
    $('#id_paciente_envio_triagem').select2();
});
</script>

{% endblock script %}
{% block body_title %}<i class="fa-duotone fa-person-seat"></i><i class="fa-duotone fa-person-seat"></i><i class="fa-duotone fa-person-seat"></i> <b>Fila de Espera</b> para classificação ::. {% endblock body_title %}

{% block body_login %}
<!--Botão adicionar a <b>Fila de Espera</b>-->
<link rel="stylesheet" href="">
<div class='menu-local-top' style='margin-top:-3%'>
    <ul>
        <li><a href="{% url 'Atendimento:lista-paciente' %}"><i class="fa-duotone fa-list-ul"></i> Listagem</a></li>
        <li > <a href=" {% url 'Atendimento:registro-paciente' %} "><i id="fa-hospital-user" class="fa-duotone fa-hospital-user fa-beat"></i><!--<i id="fa-address-card" class="fa-regular fa-address-card"></i>--> Cadastro</a></li>                
        <li > <a  href=" {% url 'Atendimento:lista_de_paciente_na_triagem' %} "><i class="fa-thin fa-diagram-successor"></i><!--<i id="fa-address-card" class="fa-regular fa-address-card"></i>--> Ir para <b>Fila de Espera</b></a></li>
    </ul> 
</div>  
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="border-bottom border-dark fs-3 d-flex">
    <i class="fa-duotone fa-list-ul"></i>
     <b>&nbsp;Fila de Espera&nbsp;</b> | Pessoas aguardando passar pela classificação
</div>
<p>&nbsp;</p>
{% if lista_db %}
<a href="{% url 'Atendimento:envio_paciente_a_triagem' %}" class='btn btn-sm btn-primary' style='margin-bottom:1rem!important' >Adicionar paciente na <b>Fila de Espera</b> para a classificação<i class="fa-solid fa-plus"></i></a>

<a href="{% url 'Atendimento:lista-paciente' %}" class='btn btn-sm btn-secondary mb-3'><i class="fa-duotone fa-list-ul"></i> Buscar paciente | Ir para Listagem</a>
{% endif %}
<!-- FIM Botão adicionar a <b>Fila de Espera</b>-->
<div class='btn btn-sm border'><span class='fs-3'>{{lista_db.count}}</span> pessoas aguardando passar pela classificação</div>
    <!--Tabela com lista de envios triagem e include do form-->
    {% include "Atendimento/partes_Envio_Triagem/tabela_envio_triagem.html" %}
    <!-- FIM Tabela com lista de envios triagem e include do form-->
</div>
<p>&nbsp;</p>
<script src="{% static 'global/js/select2.min.js' %}"></script>
<script>
    // In your Javascript (external .js resource or <script> tag)
$(document).ready(function() {
    $('#id_paciente_envio_triagem').select2();

});
</script>
<script>
    // Obtendo o select
    const select = document.getElementById('id_prioridade');
  
    // Adicionando um ouvinte de evento para mudanças no select
    select.addEventListener('change', function() {
      // Verificando se o valor selecionado é 1
      if (this.value === '1') {
        // Se for 1, adicione a classe 'red'
        this.classList.add('red');
      } else {
        // Caso contrário, remova a classe 'red'
        this.classList.remove('red');
      }
    });
  </script>

{% endblock body_login %}
