{% extends 'global/template_geral.html' %}
{% load static %}
{% block title_login %}<b>Fila de Espera</b> {% endblock title_login %}
{% block css %}
    <!--Css do Select2-->    
    <link rel="stylesheet" href=" {% static 'global/css/formularios.css' %}">    
    <link rel="stylesheet" href=" {% static 'global/css/tabela-div.css' %}">
    <link rel="stylesheet" href=" {% static 'global/css/menu/menu-local.css' %}">
    <style>
        td .hours48{
        position: absolute;
        margin-bottom: 0rem;
        font-size: 0.7rem;
        margin-left: -9.5rem;
        padding: 0.1rem;
        color:rgb(255, 255, 255) ;
        }    
    </style>
{% endblock css %}    
{% block script %}
    <!--Script do Select2-->
<script>
    // In your Javascript (external .js resource or <script> tag)
$(document).ready(function() {
    $('#id_paciente_envio_triagem').select2();
});
</script>

{% endblock script %}
{% block body_title %}<i class="fa-duotone fa-person-seat"></i><i class="fa-duotone fa-person-seat"></i><i class="fa-duotone fa-person-seat"></i> <b>Fila de Espera</b> para classificação ::. {% endblock body_title %}

{% block body_login %}
<!--Botão adicionar a <b>Fila de Espera</b>-->
<link rel="stylesheet" href="">
<div class='menu-local-top' style='margin-top:-3%'>
    <ul>
        <li><a href="{% url 'Atendimento:lista-paciente' %}"><i class="fa-duotone fa-list-ul"></i> Listagem</a></li>
        <li > <a href=" {% url 'Atendimento:registro-paciente' %} "><i id="fa-hospital-user" class="fa-duotone fa-hospital-user fa-beat"></i><!--<i id="fa-address-card" class="fa-regular fa-address-card"></i>--> Cadastro</a></li>                
        <li > <a  href=" {% url 'Atendimento:lista_de_paciente_na_triagem' %} "><i class="fa-thin fa-diagram-successor"></i><!--<i id="fa-address-card" class="fa-regular fa-address-card"></i>--> Ir para <b>Fila de Espera</b></a></li>
    </ul> 
</div>  
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="border-bottom border-dark fs-3 d-flex">
    <i class="fa-duotone fa-list-ul"></i>
     <b>&nbsp;Fila de Espera&nbsp;</b> | Pessoas aguardando passar pela classificação
</div>
<p>&nbsp;</p>
{% if lista_db %}
<a href="{% url 'Atendimento:envio_paciente_a_triagem' %}" class='btn btn-sm btn-primary' style='margin-bottom:1rem!important' >Adicionar paciente na <b>Fila de Espera</b> para a classificação<i class="fa-solid fa-plus"></i></a>

<a href="{% url 'Atendimento:lista-paciente' %}" class='btn btn-sm btn-secondary mb-3'><i class="fa-duotone fa-list-ul"></i> Buscar paciente | Ir para Listagem</a>
{% endif %}
<!-- FIM Botão adicionar a <b>Fila de Espera</b>-->
<div class='btn btn-sm border'><span class='fs-3'>{{lista_db.count}}</span> pessoas aguardando passar pela classificação</div>
<table class='table table-striped border border-secondary'>
    <tr class='bg-primary-subtle fs-6'>
        <th class='border border-success linha-titulo text-center'>Codigo</th>
        <th class='border border-success linha-titulo text-center'>Nome do Paciente</th><i class="fa-duotone fa-square-user"></i>
        <th class='border border-success linha-titulo text-center'>Perfil</th>
        <th class='border border-success linha-titulo text-center'>Acompanhante</th>
        <th class='border border-success linha-titulo text-center'>Alergias</th>
        <th class='border border-success linha-titulo text-center'>Data Entrada na <b>Fila de Espera</b></th>
        <th class='border border-success linha-titulo text-center'>Excluir paciente da <b>Fila de Espera</b></th>
    </tr>
    
    {% if not get_id %}
    {% for db in lista_db %}     
        <tr class='fs-7  m-0 fs-7 p-0 {% if db.retornou_em_menos_de_48_horas %}bg-danger-subtle text-light {% else %}bg-primary-subtle{% endif %} '>
            <td class='text-center '>
                <!--<div class="hours48 bg-danger border p-1 rounded-start-5">{% if db.retornou_em_menos_de_48_horas %}Retornou em menos de 48{% endif %} {{ paciente.nome_do_campo_do_modelo }}</div>-->
                <a class="link-color" href="{% url 'Atendimento:perfil-paciente' db.paciente_envio_triagem_id %}"><span>{{db.paciente_envio_triagem.codigo_pacient}}</span></a>                                                      
            </td>
            <td class='text-center'>
                <a class="link-color " href="{% url 'Atendimento:perfil-paciente' db.paciente_envio_triagem_id %}"><span>{{db.paciente_envio_triagem}}</span></a>
            </td> 
            <td class='text-center'>
                <a class="link-color  fs-4" title='Ver perfil do paciente' href="{% url 'Atendimento:perfil-paciente' db.paciente_envio_triagem_id %}"><span><i class="fa-duotone fa-square-user"></i> </span></a>
            </td>    
            <td class='text-center'>
                <a class="link-color " href="{% url 'Atendimento:perfil-paciente' db.paciente_envio_triagem_id %}"><span>{{db.nome_acompanhante }}</span></a>                                                     
            </td>             
            <td class='text-center'>
                <a class="link-color" href="{% url 'Atendimento:perfil-paciente' db.paciente_envio_triagem_id %}">
                    
                    {% if db.paciente_envio_triagem.alergias == '0'  %}
                    <span>Nâo</span>
                    {% else %}
                    <span>Sim <i class="fa-sharp fa-solid fa-circle-exclamation text-danger"></i></span>
                    {% endif %}
                </a>                                                      
            </td>
            <td class='text-center'>
                <a class="link-color" href="{% url 'Atendimento:perfil-paciente' db.paciente_envio_triagem_id %}"><span>  {{db.data_envio_triagem}} {{db.horario_triagem}} </span></a>                                                      
            </td>
            <td class='text-center'>                
                <a href="{% url 'Atendimento:delete_de_paciente_na_triagem' db.id %}" class=" text-danger" title="Deletar"> <i class="fa-solid fa-user-xmark excluir"></i> Excluir da fila</a> 
            </td>            
        </tr>
        {% empty%} 
        {% endfor %}
        {{q3}}{{q3}}
    </table>
    <div>&nbsp;</div>
    <div class="bloco flex">
        <div class="calendario">
            {% if  url == 'Atendimento:envio_paciente_a_triagem'%}   
            <form>
                <label for="start_date" >::CALENDÁRIO::</label>
                <div>Utilize o calendário para acompanhar os lançamentos na
                    <b><b>Fila de Espera</b></b> de datas anteriores à atual            
                </div>  
                <p>&nbsp;</p>          
                <p><input type="date" name='start_date'>
                <button class="btn" type="submit" style='margin-top:1rem; background-color:cadetblue'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                  </svg> Exibir por data</button></p>
            </form>
            {% endif %}
        </div>   

        <div>  
            {% if not lista_db %}   
            <div>         
                <form action="" method='POST' class='d-flex'>      
                        {% csrf_token %} 
                        <style>
                            .select2 {
                                width:90% !important;
                            }
                        </style>
                    <div class='col row p-0'>
                        {% if envio_triagem %}
                        <div class='col p-3 bg-secondary-subtle m-3'>
                            <label for="id_paciente_envio_triagem"><i class="fa-solid fa-person"></i> Selecione o nome do paciente &nbsp;&nbsp;&nbsp;</label>
                            {{form.paciente_envio_triagem}}  
                        </div>
                        <div class='col m-1 pt-3 bg-secondary-subtle'>
                            <label for="id_nome_acompanhante"><i class="fa-solid fa-people-pulling "></i> Nome do acompanhate</label>
                            {{form.nome_acompanhante}}  
                        </div>
                        {% endif %}
                    </div>       
                    {% if not url == 'Atendimento:envio_paciente_a_triagem'%}                      
                    <button class='btn btn-sm btn-primary col-3 m-3' type="submit">
                        <i class="fa-thin fa-diagram-successor"></i>
                        Salvar Paciente na <b>Fila de Espera</b> para classificação
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    {% else %}
                    <a href="{% url 'Atendimento:envio_paciente_a_triagem' %}" class='btn btn-sm btn-primary col'><i class="fa-thin fa-diagram-successor"></i> Adicionar a(o) paciente a <b>Fila de Espera</b> <i class="fa-solid fa-plus"></i></a>                   
                    {% endif %}                
                </form>        
                <a href=" {% url 'Atendimento:registro-paciente' %} "> Cadastrar Paciente</a>
                <p>Utilize o sistema de busca no campo <b>Busca paciente</b> 
                    para pequisar o cadastro do paciente no sistema e em seguida envia-lo à <b>Fila de Espera</b>. Caso não encontre o nome do paciente, clique no link 
                    <b>Cadastrar Paciente</b> para ir para a página de cadastro de paciente para lançá-lo no sistema. Em seguida, 
                        retorne a essa página para adicioná-lo à <b>Fila de Espera</b>. 
                </p>
            </div>
            {% endif %}
        </div>

    <!--TABELA COM RELAÇÃO DE PACIENTES NA TRIAGEM-->
    {% if lista_db %}
        <div class="top-info m-2 rounded-3 shadow shadow-sm p-4 bg-info-subtle ">         
            <div class='col-10 text-primary display-5'><i class="fs-3 fa-duotone fa-quote-left"></i> Atenção <i class="fa-sharp fa-regular fa-exclamation"></i><i class="fa-sharp fa-regular fa-exclamation"></i><i class="fa-sharp fa-regular fa-exclamation"></i></div>           
            Na tabela acima está listado todos os pacientes que estão aguardando para passar
            pela etapa de CLASSIFICAÇÃO. Se houver necessidade de excluir algum nome, basta clicar no botão com um X.            
        </div>
    </div>  
    <div class="style-tabela">        
        <a  href="{% url 'Atendimento:lista_de_paciente_na_triagem' %}">Voltar <i class="fa-solid fa-person-walking-arrow-loop-left"></i></a>    
    {% endif %}
    <!--tabela-->  

    <div class="controle_tabela">
        {% if page_obj.has_previous %}
            <a class="" href="?page={{page_obj.previous_page_number}}"><i class="fa-solid fa-angles-left"></i> Voltar</a>    
                            
        {% endif %}
        {% if page_obj.has_next %}               
            <a href="?page={{ page_obj.next_page_number }}">Próxima página <i class="fa-solid fa-angles-right"></i></a>    
        {% endif %}    
    {% else %}
    <!--Aqui entra o codigo que enviar os pacientes recem cadastrados para a <b>Fila de Espera</b>-->
    <div style="text-align: center;" >         
        <form action="" method='POST' >  
            {% csrf_token %}
            {% for n in get_id  %}
                <input name="paciente_envio_triagem" type="hidden" value="{{n.id}}">  
                <span class='fs-5'>Deseja enviar <b class="uppercase">{{n.nome_social}}</b> para a <b>Fila de Espera</b> para a classficação?</span>           
                 
                <div class="flex w-75 m-auto p-2" >
                    <a href="{% url 'Atendimento:registro-paciente' %}" class="btn btn-sm btn-danger col m-1">Não (Manter somente o cadastro)</a>   
                    <button class='col btn btn-sm btn-primary m-1' type="submit">
                        SIM <i class="fa-duotone fa-person-seat"></i>
                    <i class="fa-solid fa-plus"></i>
                    </button>
                </div>  
                <div class='text-center p-3 bg-secondary-subtle'>
                    <div class='fs-4'>Se sim, digite o nome do acompanhante </div>
                   <i class="fa-solid fa-people-pulling"></i> {{form.nome_acompanhante}} 
                   {% for error in fornm.nome_acompanhante.errors  %}
                        <div class='alert alert-danger '>{{error}}</div>
                   {% endfor %}
                </div>
            {% endfor %}                 
        </form>       
    </div>
{% endif %}
</div>
<p>&nbsp;</p>
<script src="{% static 'global/js/select2.min.js' %}"></script>
    <script>
        // In your Javascript (external .js resource or <script> tag)
    $(document).ready(function() {
        $('#id_paciente_envio_triagem').select2();
  
    });
    </script>

{% endblock body_login %}
