{% extends 'global/template_geral.html' %}

<!-- titulo Web da pagina-->
{% block title_login %} Pacientes {% endblock title_login %}
{% load static %}

<!--CSS local-->
{% block css %} 
    <!--Tabela-->
    <link rel="stylesheet" href=" {% static 'global/tabela/css/style.css' %} "> 
    <!--Menu Local-->
    <link rel="stylesheet" href=" {% static 'global/css/menu/menu-local.css' %} ">     
    <link rel="stylesheet" href=" {% static 'global/css/search.css' %} "> 
{% endblock css %} 

<!--Titulo da Pagina-->
{% block body_title %}PACIENTES: Relação de Pacientes Cadastrados no Sistema::.  {% endblock body_title %}

{% block body_login %}    
<div class='menu-local-top' style='margin-top:-3rem'>
    <ul class='d-flex'>
        <li class="col fs-6"><a href="{% url 'Atendimento:lista-paciente' %}"><i class="fa-solid fa-users"></i> Listagem</a></li>
        <li class="col fs-6"> <a href=" {% url 'Atendimento:registro-paciente' %} "><i class="fa-solid fa-user-plus"></i> Cadastro</a></li>
        {% for dados_pessoais in db  %} 
        <li class="col-5 btn btn-sm btn-primary fs-6"> 
            <a  href=" {% url 'Atendimento:envio_paciente_a_triagem_2' dados_pessoais.pk %} ">
            <i class="fa-solid fa-angles-right"></i> Enviar {{dados_pessoais.nome_social}}  para a fila de triagem  <i class=" fa-solid fa-people-arrows fa-1x "></i>
            </a>
        </li>   
        {% endfor %}
    </ul>            
</div> 
<div class='flex' style="margin:6% -5%;">    
    <div class="style-tabela">      
        <div class="border-bottom border-dark fs-3 d-flex">
            <i class="fa-duotone fa-list-ul"></i>
             Listagem de Pacientes  
        </div>
        <button onclick="exibe_info()" class="btn btn-bd-primary btn-primary btn-sm">Mais informações <i class="fa-duotone fa-hand-holding-medical"></i> </button>
        <div id="info" class="top-info border border-primary bg-primary-subtle rounded-1 p-2 m-3" style="margin:-0.2rem 0 0 2rem ; display: none;">
            Na tabela abaixo, está listado todos os pacientes cadastrados nesse sistema. 
            Caso não esteja visualizando o nome do paciente desejando, utilize o sistema de busca acima
             para encontar o nome dele, bastando somente digitar o nome é clicar em pesquisar. 
             Se desejar ter mais informações sobre o paciente, basta clicar sobre o nome desejado que 
             imediatamente que página contendo todas as informações desse paciente é aberto.
             <div class='pt-3'>
                <i class="fa-sharp fa-solid fa-magnifying-glass-plus"></i> <strong>Busca de paciente usando CPF ou RG </strong>
                <p>Para realizar a busca de pacientes usando o RG ou CPF é preciso se atentar para seguinte situação:</p>
                    <ul>
                        <li>Se optar por digitar o número de CPF ou RG completos no campo de busca é necessário 
                            respeitar a formatação dos números do CPF ou RG. Ex.: 
                            <ul>
                                <li>Dessa forma: 000.000.000-00</li>
                            </ul>
                        </li>
                        <li>O mais indicado seria pesquisar usando somente as iniciais do RG ou: CPF
                            <ul>
                                <li>Dessa forma: 000.0</li>
                            </ul>
                        </li>
                    </ul>
            </div>
             <div style='text-align:right !important'><i class="fs-3 fa-duotone fa-hand-holding-medical"></i></div>
        </div>
        <div class="w-50" style="margin-left:25%; " >
            <!-- Busca pacientes -->
            {% include "Atendimento/partes_pacients/busca_paciente.html" %}
            <!-- end Busca pacientes -->
        </div>
        <div class="">         
            <div class='btn btn-sm border'><span class='fs-3'>{{object_list.count}}</span> registros exibido por página | Total de <b class="fs-5">{{quant_registros}}</b> registros no sistema</div>
            <hr>
            <!-- Tabela com lista de pacinetes -->
            {% include "Atendimento/partes_pacients/lista_de_pacientes.html" %}
            <!-- End Tabela com lista de pacinetes -->
        </div> 
    </div> 
</div>
<!--Menu suplementos-->
{% include "Atendimento/outras_listagens/partes/partes_pacientes/menu_suplementos.html" %}
<!--Menu suplementos-->

<script>
    function exibe_info(){
        var div_info = document.getElementById('info');
        var disp = div_info.style.display;
        div_info.style.display = disp === 'none' ? 'block' : 'none';
    }
</script>
{% endblock body_login %}