{% extends 'global/template_geral.html' %}
{% load static %}
{% block titulo_ %}
    RESUMO DIÁRIO                  
{% endblock titulo_ %} 
{% block css %}
<link rel="stylesheet" href=" {% static 'Atendimento/css/atendimento-pag-inicial.css' %} ">
<link rel="stylesheet" href=" {% static 'global/css/menu/hexago.css' %} ">
{% endblock css %}   
{% block body_title %} Informações sobre o {{nome_sistema}}:{% endblock body_title %} 
{% block body_login %}

<div>
    <!--Cards-info: Aqui fica todos os cards informativos do sistema-->
    {% include 'Atendimento/pagina_inicial_complementos/cards-info.html' %}
</div>



<div>
    <h1 class="h3">Quantidades de Registros por Faixa Etária</h1>

<table class='table table-responsive table-striped border border-secondary'>
    
    <tr class="text-center">
        <th>Faixa Etária</th>
        {% for dia, object_list in resultados_por_dia.items %}
        <th>{{ dia }}</th>
        {% endfor %}
        <th>TOTAL</th>
    </tr>
    <tr class="text-center">
        <td>0 a 1 ano </td>
        {% for dia, object_list in resultados_por_dia.items %}
        <td>
            {% if object_list %}
                {% if obj.paciente_envio_triagem.idade >= 0 and obj.paciente_envio_triagem.idade < 1 %}
                    {{ object_list|length }}
                {% else %}
                    0
                {% endif %}
            {% else %}
                0
            {% endif %}
        </td>
        {% endfor %}

    </tr>
    <tr class="text-center">
        <td>1 a 4 anos </td>
        {% for dia, object_list in resultados_por_dia.items %}
        <td>
            {% if object_list %}
                {% if obj.paciente_envio_triagem.idade >= 1 and obj.paciente_envio_triagem.idade <= 4 %}
                    {{ object_list|length }}
                {% else %}
                    0
                {% endif %}
            {% else %}
                0
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    <tr class="text-center">
        <td>05 a 09 anos </td>
        {% for dia, object_list in resultados_por_dia.items %}
        <td>
            {% if object_list %}
                {% if obj.paciente_envio_triagem.idade >= 5 and obj.paciente_envio_triagem.idade <= 9 %}
                    {{ object_list|length }}
                {% else %}
                    0
                {% endif %}
            {% else %}
                0
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    <tr class="text-center">
        <td>10 a 14 anos </td>
        {% for dia, object_list in resultados_por_dia.items %}
        <td>
            {% if object_list %}
                {% if obj.paciente_envio_triagem.idade >= 10 and obj.paciente_envio_triagem.idade <= 14 %}
                    {{ object_list|length }}
                {% else %}
                    0
                {% endif %}
            {% else %}
                0
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    <tr class="text-center">
        <td>15 a 19 anos </td>
        {% for dia, object_list in resultados_por_dia.items %}
        <td>
            {% if object_list %}
                {% if obj.paciente_envio_triagem.idade >= 15 and obj.paciente_envio_triagem.idade <= 19 %}
                    {{ object_list|length }}
                {% else %}
                    0
                {% endif %}
            {% else %}
                0
            {% endif %}
        </td>
        {% endfor %}
        
    </tr>
    <tr class="text-center">
        <td>20 a 29 anos </td>
        {% for dia, object_list in resultados_por_dia.items %}
        <td>
            {% if object_list %}
                {% if obj.paciente_envio_triagem.idade >= 20 and obj.paciente_envio_triagem.idade <= 29 %}
                    {{ object_list|length }}
                {% else %}
                    0
                {% endif %}
            {% else %}
                0
            {% endif %}
        </td>
        {% endfor %}
   
    </tr>
    <tr class="text-center">
        <td>30 a 39 anos </td>
        {% for dia, object_list in resultados_por_dia.items %}
        <td>
           
            {% if object_list %}
                {% for obj in object_list  %}
                    {% if obj.paciente_envio_triagem.idade >= 30 and obj.paciente_envio_triagem.idade <= 39 %}
                        {{ object_list|length }}
                    {% else %}
                        0
                    {% endif %}
                {% endfor %}
            {% else %}
                0
            {% endif %}
        </td>        
        {% endfor %} 
    </tr>
    <tr class="text-center">
        <td>40 a 49 anos </td>
        {% for dia, object_list in resultados_por_dia.items %}
        <td>
            {% if object_list %}
                {% if obj.paciente_envio_triagem.idade >= 40 and obj.paciente_envio_triagem.idade <= 49 %}
                    {{ object_list|length }}
                {% else %}
                    0
                {% endif %}
            {% else %}
                0
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    
</table>







<div>&nbsp</div>
<!--
<div class='content-info-home'>
    <div>
        Temos instalado nesse {{nome_sistema}} os seguintes módulos:
        <ul>
            <li><h2>Registro de Pacientes:</h2> Espaço destinado à recepção da {{nome_estabelecimento}}  
                    para a realização de registros de pacientes ou consultas em busca de informações 
                    sobre determinado paciente.</li>
            <div>&nbsp</div>     
            <li><h2>Fila de Triagem:</h2> Nesse espaço, o recepcionista faz a 
                consulta no sistema para verificar se o nome do paciente consta no sistema, se constar, 
                o recepcionista envia o paciente para aguardar ser chamado para a TRIAGEM; caso contrário, 
                o recepcionista terá que fazer o registro do paciente e depois retornar a esse espaço para enviar o paciente à fila de triagem.</li>
            <div>&nbsp</div> 
            <li><h2>Triagem:</h2> Espaço destinado ao Enfermeiro. Nele, o enfermeiro faz o primeiro 
                atendimento ao paciente e faz a <b>classificação de emergência.</b></li>
            <div>&nbsp</div>  
            <li><h2>Médico:</h2> Espaço destinado ao Médico. Nesse espaço, o médico tem acesso às primeiro atendimento feito na 
            na triagem, de acordo com a classificação de emergência vinculada a esse paciente. Além disso, pode também consultar o 
        histórico médico desse paciente para auxiliar em suas decisões.</b></li>
            <div>&nbsp</div>  
        </ul>
    </div>
</div>-->    
<img src="data:image/png;base64,{{ imagem_base64 }}" alt="Gráfico de Atendimentos por Localidade">

{% endblock body_login %}
