{% extends 'global/template_geral.html' %}
<!-- titulo Web da pagina-->
{% block title_login %} Informação Pessoal {% endblock title_login %}
{% load static %}
<!--CSS local-->
{% block css %} 
    <link rel="stylesheet" href=" {% static 'global/tabela/css/style.css' %} "> 
    <link rel="stylesheet" href=" {% static 'global/css/css_testado/perfil_paciente.css' %} "> 

    <!--menu em giro-->
    
    <link rel="stylesheet" href=" {% static 'global/css/menu/menu-local.css' %} "> 
{% endblock css %}   
<!--Titulo da Pagina-->
{% block body_title %}   Informações Pessoais do Paciente::   {% endblock body_title %}
{% block body_login %}
<div class='menu-local-top' style='margin-top:-3rem'>
    <ul class='d-flex'>
        <li class="col fs-6"><a href="{% url 'Atendimento:lista-paciente' %}"><i class="fa-solid fa-users"></i> Listagem</a></li>
        <li class="col fs-6"> <a href=" {% url 'Atendimento:registro-paciente' %} "><i class="fa-solid fa-user-plus"></i> Cadastro</a></li>
        {% for dados_pessoais in db  %} 
        <li class="col-5 btn btn-sm btn-primary fs-6"> 
            <a  href=" {% url 'Atendimento:envio_paciente_a_triagem_2' dados_pessoais.pk %} ">
            <i class="fa-solid fa-angles-right"></i> Enviar {{dados_pessoais.nome_social}}  para a fila de triagem  <i class=" fa-solid fa-people-arrows fa-1x "></i>
            </a>
        </li>   
        {% endfor %}
    </ul>            
</div>
<p>&nbsp;</p> 
<p>&nbsp;</p> 
<p>&nbsp;</p>  

{% for dados_pessoais in db  %}    
    <div class="perfil-user bg-light-subtle">  
        <div class="d-flex justify-content-end">
            <a href="{% url 'Atendimento:atualizar-paciente' dados_pessoais.pk   %}"  title="Editar" class="text-center border border-primary"> 
                <i class="fs-2 m-3 fa-solid fa-user-pen"></i>
                <span class="d-block">Editar</span>
            </a>
        </div>
        <div class="dados-pessoais">
            <div class="info-pessoal">
                
                <div>
                    <p class="nome_social p-1 text-uppercase fs-4 bg-secondary-subtle">{{dados_pessoais.nome_social}}</p>
                    <p>&nbsp</p>                    
                    <p><b>Idade: </b> {{dados_pessoais.idade}} anos </p>
                    <p><b>Data de Nascimento: </b>{{dados_pessoais.data_nascimento}}</p>
                    <p><b>Sexo: </b>{{dados_pessoais.sexo}}</p>
                    <p><b>Nº RG: </b>{{dados_pessoais.RG}}</p>
                    <p><b>Nº CPF: </b>{{dados_pessoais.CPF}}</p>
                    <p><b>Cartão do SUS: </b> {{dados_pessoais.cartao_sus}} </p>
                    <p><b>Nacionalidade: </b>{{dados_pessoais.nacionalidade}}</p>
                    <p>&nbsp</p>
                </div>
                <div class="foto">                     
                    {% if dados_pessoais.sexo.id == 1 %}
                    <img src=" {% static 'foto-man.jpg' %} " alt="">                       
                    {% else %}                    
                    <img src=" {% static 'foto-woman.jpg' %} " alt="">    
                    {% endif %}
                </div>
            </div>
            <p>&nbsp</p>
            <div class="info">
                <div>
                    <b>ENDEREÇO</b>
                    <hr>
                    <p><b>Rua: </b>{{dados_pessoais.rua}}, 
                    <p><b>Bairro: </b>{{dados_pessoais.bairro}}</p>
                    <p><b>Cidade: </b>{{dados_pessoais.cidade}}</p>
                    <p><b>Estado: </b>{{dados_pessoais.estado}}</p>
                    <p><b>CEP: </b>{{dados_pessoais.CEP}}</p>
                    <p>&nbsp</p>
                </div>
                <div>
                    <b>INFORMAÇÕES ADICIONAIS</b>
                    <hr>
                    <p><b>Nome da Mãe: </b>{{dados_pessoais.nome_mae}}</p>
                    <p><b>Nome do Acompanhante: </b>{{dados_pessoais.responsavel}}</p>
                    <p><b>Telefone:</b>{{dados_pessoais.tel}}</p>    
                    <p>&nbsp</p>                
                </div>                                 
            </div>            
            <p><b>Data em que foi realizado o cadastro do paciente nesse sistema:</b></p>
            <p>{{dados_pessoais.data_cadastro}} &nbsp;&nbsp;<b>|</b>&nbsp;&nbsp;  Nº de Registro:  {{dados_pessoais.codigo_pacient}}</p>
        </div>
        <hr>
        <section class="text-end fw-bold fs-7">Última atualização, {{dados_pessoais.data_update}}. Feita pelo profissional: <span class="text-capitalize ">{{dados_pessoais.nome_recepcionista}}</span></section>
        <p>&nbsp;</p>           
    </div>
    
{{dbs}}
{% endfor %}
<p>&nbsp;</p> 
<a href="{% url 'Atendimento:lista-paciente' %}"> Voltar <i class="fa-solid fa-person-walking-arrow-loop-left"></i></a>

{% endblock body_login %}


