{% extends 'global/template_geral.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'global/tabela/css/style.css' %}">
<link rel="stylesheet" href="{% static 'global/css/menu/menu.giro.css' %}">
<link rel="stylesheet" href="{% static 'global/css/formularios.css' %}">

<style> {% for dados in paciente_triagem  %} 
              {% if dados.classifica_tipo.id == 1 %}
              .dados-preatendimento ul li span{
                     color: #AA0000;
                     font-size: 1.3rem;
              }
              {% elif dados.classifica_tipo.id == 2  %}
              .dados-preatendimento ul li span{
                     color: #ff6600;
                     font-size: 1.3rem;
              {% elif dados.classifica_tipo.id == 3  %}
              .dados-preatendimento ul li span{
                     color:  #008200;
                     font-size: 1.3rem;
              {% elif dados.classifica_tipo.id == 4  %}
              .dados-preatendimento ul li span{
                     color: #008dc0;
                     font-size: 1.3rem;
              {% endif %}  
       {% endfor %}     
       #id_final_medico_atendimento {
              scale: 0.8 !important;
       }
</style>

{% endblock css %}  
<!--Imagem Representando o setor-->
{% block vetor-img-aereo %}<img src=" {% static 'home/doctor.fw.png' %} " alt="">{% endblock vetor-img-aereo %}
<!--END Imagem Representando o setor-->
{% block title_login %}ÁREA MÉDICA {% endblock title_login %}
{% block titulo_ %} 
       ÁREA MÉDICA - Paciente: {{triagem}}

{% endblock titulo_ %} 
{% block body_title %}
       ÁREA MÉDICA - Paciente: {{triagem}}
{% endblock body_title %}
{% block body_login %}
<div  class='dados-preatendimento'>       
       <p>&nbsp:</p>
       <h1>Final de Atendimento</h1>
       <hr>
       <form method='POST' >
              {% csrf_token %}              
              <div class='bg-body-tertiary shadow-sm p-3 text-center w-75'> 
                     <label  for="id_final_triagem">
                            Completado o atendimento ao paciente <strong class='text-uppercase'>{{triagem}}</strong>, 
                            confirmo que todos os procedimentos necessários foram realizados de acordo com os padrões estabelecidos.
                             O paciente foi devidamente assistido e encontra-se pronto para seguir sua próxima etapa de cuidados médicos, se necessário.
                            
                     </label>
                     <div class='m-2 p-2 btn btn-secondary'>Clique no quadrado à direita para confirmar: 
                     <input  style="scale:5" type="checkbox" name="final_medico_atendimento" value="1" maxlength="3" required="" id="id_final_medico_atendimento"> 
                      </div>                             
              </div> 
              <div class='w-75 m-5'>
                     <div>
                            <p><strong>Observação:</strong></p>
                            <p>
                                Após confirmar a conclusão do atendimento ao paciente {{triagem}}, o nome deste paciente será removido da seção 
                                <strong>Pacientes Aguardando Atendimento</strong>.
                            </p>
                            <p>
                                Para reintegrar o nome do paciente à lista de espera, será necessário que ele passe novamente pela 
                                <strong>Fila de Espera</strong> e, em seguida, pela <strong>Classificação</strong>.
                            </p>
                        </div>
                        
                     <button class='btn btn-sm btn-primary w-75 m-auto' type="submit">Finalizar atendimento</button>
              </div>
              
              
       </form>       
</div>
{% endblock body_login %}