{% extends 'global/template_geral.html' %}
{% block css %}
{% load static %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'global/tabela/css/style.css' %}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.1.0/css/font-awesome.min.css" />

<link rel="stylesheet" href="{% static 'global/css/abas_especiais_pcss3t.css' %}">

<link rel="{% static 'global/dist/css/bootstrap.min.css' %}" href="style.css">
<style>
    main{
        min-height:100vh !important;
        box-shadow: none!important;
    }
    .hours48{
        position: absolute;
        margin-top: -3rem !important;
        font-size: 0.55rem;
        margin-left: -0.5rem;
        padding: 0.1rem;
        color:rgb(255, 255, 255) ;
      }
    #info{
        display:none;
    }
    ul {
        list-style: none !important;
    }
</style>
{% endblock css %}  
{% block title_login %}ÁREA MÉDICA {% endblock title_login %}
{% block titulo_ %} ÁREA MÉDICA - Pacientes aguardando atendimento {% endblock titulo_ %} 
{% block body_title %}ÁREA MÉDICA: Pacientes aguardando atendimento{% endblock body_title %}
{% block body_login %}
<div >
    <h1 style='margin-top:-1.5rem!important' class="fs-5"><i class="fa-duotone fa-display-medical"></i> Atendimentos do dia</h1>
	<hr>
	<p class='fs-6'><strong>Bem-vindo, Dr. {{request.user}}!</strong> Nesta página, você terá acesso a todos os pacientes aguardando atendimento. Além disso, nas abas adicionais, pode revisar atendimentos não finalizados, casos encaminhados para outros setores e os registros de todos os atendimentos realizados no dia. Facilitamos sua gestão de pacientes para uma prática médica mais eficiente e organizada.</p>

<p>&nbsp;</p>
	<!-- tabs -->
    <div class="pcss3t pcss3t-effect-scale pcss3t-theme-1 border shadow bg-dark-subtle p-2">
        <input type="radio" name="pcss3t" {% if checked5 %}{% else %}checked{% endif %}  id="tab1"class="tab-content-first">
        <label for="tab1"><i class="icon-bolt"></i>Aguardando Atendimento</label>

        <input type="radio" name="pcss3t"   id="tab7"class="tab-content-7 ">
        <label for="tab7" class='bg-success-subtle'><i class="icon-bolt"></i>Em Atendimento</label>

        <input type="radio" name="pcss3t" id="tab2" class="tab-content-2">
        <label for="tab2"><i class="fa-thin fa-asterisk"></i> Encaminhamentos Médicos</label>  

        <input type="radio" name="pcss3t" id="tab3" class="tab-content-3 ">
        <label for="tab3" class='bg-primary-subtle'><i class="icon-cogs"></i>Atendimentos Finalizados </label>
        {% if not nao_finalizado == '1' %}
            <input type="radio" name="pcss3t" id="tab5" {{checked5}} class="tab-content-last">
            <label for="tab5"  class='bg-danger-subtle'><i class="icon-globe"></i>0{{atend_aguarda_final|length}} - Pacientes não finalizados </label>
        {% endif %}
        <!--Fora de horari-->
        <input type="radio" name="pcss3t" id="tab6" class="tab-content-6">
        <label for="tab6" class='text-danger'><i class="fa-solid fa-circle-exclamation "></i> Tempo previsto pela classificação, excedido</label>      
        <!--FIM Fora de horari-->
        
        <ul>
            <li class="tab-content tab-content-first typography">             
                <!--Atendimento-->
                {% include "Medicos/partes_medico.html/atendimentos.html" %}
                <!--FIM Atendimento-->
            </li>
            <li class="tab-content tab-content-7 typography bg-success-subtle">             
                <!--Atendimento-->
                {% include "Medicos/partes_medico.html/Em_atendimento.html" %}
                <!--FIM Atendimento-->
            </li>
         
            <li class="tab-content tab-content-2 typography">
                <!--Encaminhamentos-->
                {% include "Medicos/partes_medico.html/encaminhamentos.html" %}
                <!--FIM Encaminhamentos-->
            </li>
            
            <li class="tab-content tab-content-3 typography bg-primary-subtle">
                <!--Pacientes finalizados-->
                {% include "Medicos/partes_medico.html/pacientes_finalizados.html" %}
                <!--FIM Pacientes finalizados-->
            </li>
            {% if not nao_finalizado == '1' %}
            <li class="tab-content tab-content-last typography bg-danger-subtle" >
                <!--Pacientes não finalizados-->
                {% include "Medicos/partes_medico.html/pacientes_nao_finalizados.html" %}
                <!--Fim Pacientes não finalizados-->
            </li>            
            {% endif %} 
            <li class="tab-content tab-content-6 typography " >
                <!--Pacientes acima horario-->
                 {% include "Medicos/partes_medico.html/acima_horario.html" %}
                <!--Fim acima horario-->
            </li> 
        </ul>
    </div>
    <!--/ tabs -->

            
        </div>
    </div>

</div>
<script>
    function exibe_info(){
        var div_info = document.getElementById('info');
        var disp = div_info.style.display;
        div_info.style.display = disp === 'none' ? 'block' : 'none';
    }
</script>
{% endblock body_login %}