{% extends 'global/template_geral.html' %}
{% load static %}
{% block css %}

<link rel="stylesheet" href="{% static 'global/css/modal.css' %}">
<link rel="stylesheet" href="{% static 'global/tabela/css/style.css' %}">
<link rel="stylesheet" href="{% static 'global/css/abas_especiais_pcss3t.css' %}">


<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.1.0/css/font-awesome.min.css" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="{% static 'global/css/menu/menu-vertical-medico.css' %}">
<style>
{% for dados in paciente_triagem  %} 
	{% if dados.classifica_tipo.classifica_tipo == 'Vermelho' %}
	.dados-preatendimento ul li span{
			color: #AA0000;
			font-size: 1.3rem;
	}
	{% elif dados.classifica_tipo.classifica_tipo == 'Laranja'  %}
	.dados-preatendimento ul li span{
			color: #ff6600;
			font-size: 1.3rem;}
	{% elif dados.classifica_tipo.classifica_tipo == 'Verde'  %}
	.dados-preatendimento ul li span{
			color:  #008200;
			font-size: 1.3rem;}
	{% elif dados.classifica_tipo.classifica_tipo == 'Azul'  %}
	.dados-preatendimento ul li span{
			color: #008dc0;
			font-size: 1.3rem;}
	{% endif %}  
{% endfor %} 
{% if atendimento == 'atendimento' %}
.form-body {      
		margin:1rem;
		background: #dbecdb;
		padding:1rem;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap:2rem;
	} 
#id_historico_doenca_atual_HDA, #id_exame_fisico, #id_Diagnostico, #id_conduta, #id_paciente_medico_atendimento, #id_Diagnostico, #id_classificacao_internacional_doenca_CID, #select2-id_classificacao_internacional_doenca_CID-container{
		width:87% !important;
		margin-bottom:2%!important;
}
{% endif %}  
       /* Estilo da div de sobreposição */
       .overlay {
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo escurecido */
         display: flex;
         align-items: center;
         justify-content: center;
         z-index: 9999;
       }
     
       /* Estilo do conteúdo do modal */
       .modal-content {
         background-color: #fff;
         padding: 20px;
         border-radius: 5px;
         max-width: 500px;
         text-align: center;
       }
     
       /* Estilo dos botões */
       .modal-buttons {
         display: flex;
         justify-content: center;
         margin-top: 20px;
       }
     
       .modal-buttons button {
         margin: 0 5px;
       }


	  
	  .floating-form-container {
		position: fixed;
		bottom: 20px;
		right: 20px;
		z-index: 1000;
	  }
	  
	  .floating-button {
		background-color: #3498db;
		color: #fff;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	  }
	  
	  .floating-form {
		display: none;
		background-color: #fff;
		border: 1px solid #ccc;
		padding: 20px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	  }
	  
	  .floating-form label,
	  .floating-form input,
	  .floating-form button {
		display: block;
		margin-bottom: 10px;
	  }
	  
	  .floating-form button {
		background-color: #3498db;
		color: #fff;
		border: none;
		padding: 10px 20px;
		font-size: 16px;
		cursor: pointer;
		border-radius: 5px;
	  }
	  
	  .floating-form button:hover {
		background-color: #2980b9;
	  }

	  
</style>
{% endblock css %}  
<!--Imagem Representando o setor-->
{% block vetor-img-aereo %}<img src=" {% static 'home/doctor.fw.png' %} " alt="">{% endblock vetor-img-aereo %}
<!--END Imagem Representando o setor-->
{% block title_login %}ÁREA MÉDICA {% endblock title_login %}
{% block titulo_ %} 
       ÁREA MÉDICA - Paciente:
       {% for dados in triagem  %}       
              {{dados}}
       {% endfor %}
{% endblock titulo_ %} 
{% block body_title %}
       ÁREA MÉDICA - Paciente:
       {% for dados in triagem  %}       
              {{dados}}
       {% endfor %}
{% endblock body_title %}
{% block body_login %}

<div  class='dados-preatendimento'>
       <!--Informações da Triagem-->
       {% for dados in triagem  %} 
               
              <!--END Link para o perfil do paciente-->
              <div class="flex info-triagem 
                     {% if dados.classifica_tipo.classifica_tipo == 'Vermelho' %}
                            prosseguir-red
                     {% elif dados.classifica_tipo.classifica_tipo == 'Laranja'  %}
                            prosseguir-laranja
                     {% elif dados.classifica_tipo.classifica_tipo == 'Verde'  %}
                            prosseguir-green                                            
                     {% elif dados.classifica_tipo.classifica_tipo == 'Azul'  %}
                            prosseguir-azul
                     {% endif %}      
              ">
                     <div  style='width: 69.95%;'> CLASSIFICAÇÃO DE RISCO <span class='uppercase'>{{dados.classifica_tipo}} </span></div>
                     <!--Link para o perfil do paciente-->                
                     <div style=' padding: 2rem;margin: -1.8rem; font-size: 1.2rem;
                     background-color: rgba(255, 255, 255, 0.2);'><a  href=" {% url 'Medicos:perfil_completo_paciente' dados.pk %}"><i class="fa-solid fa-address-card"></i> Perfil do paciente | Histórico Hospitalar</a></div>   
              </div>
              <p><i class="fa-regular fa-calendar-check"></i>&nbsp;{{dados.data_triagem}} &nbsp; | &nbsp; <i class="fa-solid fa-clock"></i>&nbsp;{{dados.hora_triagem}} &nbsp; | &nbsp; Informações do Pré-atendimento (Triagem) da paciente:</p>
              <hr>
              <div style='color:rgba(10, 30, 50, 0.8) ;padding:1rem; box-shadow:inset 0 4px 8px 0 rgba(0, 0, 0, 0.2),inset 0 6px 20px 0 rgba(0, 0, 0, 0.19);' >
                     
                     <div><b>Nome social do paciente:</b> <span  class='uppercase'> {{dados}} </span></div>
                     <div><b>Enfermeira responsável pelo pré-atendimento:</b> <span  class='uppercase'> {{dados.nome_da_enfermeira}} </span></div>
                     <div class='flex'>                     
                            <ul>                            
                                   <li><b>Pressão Arterial Distólica:</b> <span> {{dados.pressao_arterial_PA_2}} mmHg</span></li>
                                   <li><b>Pressão Arterial Siastólica:</b> <span> {{dados.pressao_arterial_PA}} mmHg</span></li>
                                   <li><b>FC - Frequência Cardiaca:</b><span> {{dados.frequencia_cardiaca_FC}} bpm</span> </li>
                                   <li><b>FR - frequencia_respiratoria_FR:</b><span> {{dados.frequencia_cardiaca_FC}} bpm </span></li>
                                   <li><b>SPO² - Saturação de Oxigênio :</b> <span> {{dados.saturacao_de_oxigenio_SPO2}}% </span> </li>
                                   <li><b>HGT - Hemigloteste :</b><span> {{dados.hemoglicoteste_HGT}} mg/dL </span></li>
                                   <li><b>TEMP - Temperatura:</b> <span> {{dados.temperatura_TEMP}} °C </span></li>
                            </ul>
                            <ul>
                                   <li><b>Peso:</b> <span> {{dados.peso}}kg </span></li>
                                   <li><b>Data do atendimento:</b><span> {{dados.data_triagem}} </span> </li>
                                   <li>TEMPO DE ESPERA:
                                          <ul>
                                                 {% for envio_triagem in dados_triagem %}
                                                        <li><b>Horário em que o paciente passou pela recepção:</b><span> 
                                                               {{envio_triagem.horario_triagem}} Hm
                                                               </span></li>
                                                        <li><b>Horário em que o paciente foi chamado para a triagem:</b><span> {{dados.hora_triagem}} Hm </span></li>
                                                        {% comment "" %}<li><b>Tempo de espera do paciente até o atendimento:</b><span> {{tempo}} </span></li>{% endcomment %}
                                                 {% endfor %}
                                          </ul>
                                   </li>                            
                                   <li><b>Classificação de risco atual desse paciente:</b> <span> {{dados.classifica_tipo}}  </span></li>                            
                                   
                            </ul>
                            
                            </div> 
                     <div>
                            <b><h3> Sitomas relatados pelo paciente durante a triagem: </h3></b>
                            <div style='font-size: 1.3rem; padding: 1.4rem; border: 0.1rem solid #666; background:#f5f5dc'>
                                   {{dados.observacao|safe}}
                            </div>                            
                     </div>
					 {% if dados.paciente_triagem.paciente_envio_triagem.alergias == '1' %} 
								<div class='fs-7 m-2 bg-danger-subtle p-2 h-auto rounded-1'>Paciente Alérgico:
										<div class='ml-3 p-2  w-100 fs-5'>
												{{dados.paciente_triagem.paciente_envio_triagem.conteudo_alergia}}                          
										</div>
								</div>
						{% endif %} 
						{% if dados.data_triagem.paciente_envio_triagem.comorbidades == '1'  %} 
								<div class='fs-7 m-2 bg-danger-subtle p-2 h-auto rounded-1'>Comorbidades:
										<div class='ml-3 p-2  w-100 fs-5'>
												{{dados.paciente_triagem.paciente_envio_triagem.conteudo_comorbidades}} 
										</div>
								</div>
						{% endif %} 
              </div>             
                   
       {% endfor %}
       <!--End Informações da Triagem-->
       <p>&nbsp;</p>
       <div>
              <h1>Diagnóstico Médico</h1>
              <div class='uppercase'><i class="fa-solid fa-user-doctor"></i> Dr(a) {{request.user}}</div>
       </div>
       <hr>


<form method='post'>  
       
       <div class="form-body bg-light shadow">
           {% csrf_token %}
           {{ form.media }}
           
              {% for dados  in triagem %}
              <div class='d-flex pb-3'> 
                     <div class='w-100 bg-dark-subtle p-2'>
						<div>
							{% for dados  in triagem %}
									<label for="id_paciente_medico_atendimento">Paciente em atendimento</label>             
									<select class='uppercase' style='border:none; font-size:1.2rem' name="paciente_medico_atendimento" required="" id="id_paciente_medico_atendimento">
											<option value="{{dados.id}}" selected="{{dados.id}}">
											Codigo: {{dados.paciente_triagem.paciente_envio_triagem.codigo_pacient}} 
											&nbsp;&nbsp;|
											&nbsp;&nbsp;
											Nome: <b class='text-uppercase'>{{dados.paciente_triagem.paciente_envio_triagem.nome_social}}</b>
											&nbsp;&nbsp;|
											&nbsp;&nbsp;
											Idade: {{dados.paciente_triagem.paciente_envio_triagem.idade}} anos
											</option>                                    
									</select>
							{% endfor %}
						</div> 
                     </div>
                     
                     {% for error in form.paciente_medico_atendimento.errors %}
                     <div class='p-2 bg-danger-subtle rounded-2'><i class="fa-duotone fa-circle-exclamation"></i>  {{error}} </div> 
                     {% endfor %}                        
              </div>
              {% endfor %}
              <div class='h3' style='margin-top:-1rem!important'>Seções para o dignógstico do paciente</div>
              <hr style='margin-top:-2rem!important'>              
              <div class='bg-dark-subtle p-3' style='margin-top:-3rem!important'> 
                     <label for="id_classificação_internacional_doenca_CID" class='fs-6 text-danger-emphasis'>{{form.classificacao_internacional_doenca_CID.label_tag}}</label>
                     {% for error in form.classificacao_internacional_doenca_CID.errors %}
                            <div style="color: red;">{{ error }}</div>
                     {% endfor %}
                     <div>{{form.classificacao_internacional_doenca_CID}}</div>
              </div>
             
             
		<div class="page w-100 bg-danger-subtle p-1" style="height:40rem!important; margin-top: -1rem;">
			<!-- tabs -->
			<div class="pcss3t pcss3t-effect-scale pcss3t-theme-1">
				<input type="radio" name="pcss3t" checked  id="tab1"class="tab-content-first">
				<label for="tab1"><i class="fa-solid fa-person-dots-from-line"></i> Histórico da Doença Atual (HDA):</label>
				
				<input type="radio" name="pcss3t" id="tab2" class="tab-content-2">
				<label for="tab2"><i class="fa-sharp fa-solid fa-person-running-fast"></i> Exame fisico:</label>
				
				<input type="radio" name="pcss3t" id="tab3" class="tab-content-3">
				<label for="tab3"><i class="fa-sharp fa-light fa-stethoscope"></i> Diagnóstico:</label>
				
				<input type="radio" name="pcss3t" id="tab5" class="tab-content-last">
				<label for="tab5"><i class="icon-globe"></i>Conduta:</label>
				
				<ul>
					<li class="tab-content tab-content-first typography">
                                          <p><strong>{{ form.historico_doenca_atual_HDA.label_tag }}</strong> </p>
                                          {% for error in form.historico_doenca_atual_HDA.errors %}
                                          <div style="color: red;">{{ error }}</div>
                                          {% endfor %}                            
                                          {{form.historico_doenca_atual_HDA}}
					</li>
					
					<li class="tab-content tab-content-2 typography">
                                          <p><strong>Descreva o exame físico do paciente</strong></p>
                                          {{form.exame_fisico}}
                                          {% for error in form.exame_fisico.errors %}
                                          <div class='p-2 bg-danger'> {{error}} </div> 
                                          {% endfor %}
                                   </li>
					
					<li class="tab-content tab-content-3 typography">
                                          <p><strong>Descreva o diagnóstico do paciente</strong></p>
                                          {{form.Diagnostico}}  
                                          {% for error in form.Diagnostico.errors  %}
                                          <div class='p-2 bg-danger'> {{error}} </div>          
                                          {% endfor %} 
					</li>
					
					<li class="tab-content tab-content-last typography">
						<p><strong>Descreva a conduta do paciente</strong></p>
                                          {{form.conduta}}
                                          {% for error in form.conduta.errors  %}
                                          <div class='p-2 bg-danger'> {{error}} </div>
                                          {% endfor %}
					</li>
				</ul>
			</div>
			<!--/ tabs -->
		</div>   
       <div class='w-75 p-1 fs-5 '>
              <p><i class="fa-duotone fa-diamond-exclamation ml-4" style="--fa-primary-color: #511f24; --fa-secondary-color: #511f24;"></i> <b> Atenção:</b></p>
              Ao clicar em "Cancelar", você será redirecionado para a área de espera por atendimento, onde o paciente permanecerá aguardando a consulta com o médico.
		</div>
       <div class='w-75 m-auto row '>
              <a  class='col btn btn-sm btn-danger m-3' href="{% url 'Medicos:medico_prontuario' %}">Cancelar Atendimento <i class="fa-solid fa-person-walking-arrow-loop-left"></i></a>
              <button class='col btn btn-success btn-sm m-3' type="submit" style="margin-right:12rem">Salvar</button>  
       </div>
   </form>  
</div>


	 <!--Botão chamar paciente-->
        
	 <div class="floating-form-container">
              {% if exibe_b %}
		<div class="floating-button" onclick="toggleForm()" title="Chamar paciente">
			<i class="fa-solid fa-microphone-lines"></i>
		</div>
              {% endif %}
		{% for t  in triagem %}
			<!-- seu_template.html -->
                     <div class='d-flex'>
                            <form action="{% url 'Medicos:medico_chama_paciente' t.pk %}" method="post" class="floating-form center" id="floatingForm">
                                   {% csrf_token %}
                                   <p>
                                          <select class="form-class m-1 text-capitalize border-0" name="nome_paciente" required="" id="id_nome_paciente">
                                                 <option value="{{ t.pk }}" selected="2">Chamar Paciente {{ t.paciente_triagem.paciente_envio_triagem.nome_social }}</option>
                                          </select>
                                   </p>
                                   <p>
                                          <select class="form-class m-1 text-capitalize border-0" name="profissionalSaude_id" required="" id="profissionalSaude_id">
                                                 <option value="{{ request.user}}" selected="2">Dr.(a) {{ request.user }} {{ request.user.first_name }} {{ request.user.get_full_name }}</option>
                                          </select><button type="submit">Chamar Paciente</button>
                                   </p>
                            </form>
                            {% if not exibe_b %}
                                   {% if exibe_id is not None %}
                                   <a href="{% url 'Medicos:medico_avisa_pacientee' exibe_id %}" title="Desistir da Chamada" class='floating-button bg-danger m-2 rounded-5'><i class="fa-solid fa-volume-xmark"></i></a>          
                                   {% endif %}
                            {% else %}
                            {% endif %}
                     </div>
		{% endfor %}
	  	</div>
	</div>
	<!--END Botão chamar paciente-->

	  <script>
		function toggleForm() {
			var floatingForm = document.getElementById('floatingForm');
			floatingForm.style.display = (floatingForm.style.display === 'none' || floatingForm.style.display === '') ? 'block' : 'none';
		  }
		  
	  </script>
	 {% comment "chamada de paciente via ajax" %}
     <div class="overlay" id="chamarPacienteOverlay">
       <div class="modal-content">
         <h1 style="font-size: 24px;">Chamar Paciente</h1>
         <p><b>Dr(a) {{request.user.first_name}} {{request.user.last_name}}</b>, você deseja chamar o paciente <span class='uppercase' id="nomePacienteContainer"></span> para o atendimento?</p>
         <div class="modal-buttons">
           <button type="button" class="btn btn-secondary" id="cancelarChamadaBtn">Não</button>
           <button type="button" class="btn btn-primary" id="confirmarChamadaBtn">Sim</button>
         </div>
       </div>
     </div>
     
     <script>
       $(document).ready(function() {
         var confirmado = false; // variável booleana para verificar se o botão foi clicado
     
         setTimeout(function() {
           var nomeCompleto = "{{ triagem.0 }}"; // Assumindo que há apenas um paciente na triagem
     
           $('#nomePacienteContainer').text(nomeCompleto);
           $('#chamarPacienteOverlay').show();
     
           $('#cancelarChamadaBtn').click(function() {
             $('#chamarPacienteOverlay').hide();
           });
     
           $('#confirmarChamadaBtn').click(function() {
             var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
             console.log('clicou no botão confirmar');
     
             $.ajax({
			   url: "{% url 'Medicos:cadastrar_chamada' %}",
               type: "POST",
               data: {
                 nome: nomeCompleto,
                 csrfmiddlewaretoken: csrftoken
               },
               success: function() {
                 alert("Chamada registrada com sucesso!");
                 $('#chamarPacienteOverlay').hide();
               }
             });
           });
         }, 2000); // 2 segundos
       });
     </script>
    
     
     
   {% endcomment %}
     
{% block script %}



     <script src="{% static 'global/js/select2.min.js' %}"></script>
    <script>
        // In your Javascript (external .js resource or <script> tag)
    $(document).ready(function() {
        $('#id_classificacao_internacional_doenca_CID').select2();  
    });
</script>
     

# Se exibe_b for True, mostrar uma mensagem
if exibe_b:
    messages.error(self.request, "Chamada de paciente cancelada com êxito! 🚫✅", extra_tags='exibir_mensagem')
else:
    chamado = False
    exibe_b = False


     
     
{% endblock script %}
{% endblock body_login %}