{% extends 'global/template_geral.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'global/tabela/css/style.css' %}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.1.0/css/font-awesome.min.css" />

<link rel="stylesheet" href="{% static 'global/css/abas_especiais_pcss3t.css' %}">

<link rel="{% static 'global/dist/css/bootstrap.min.css' %}" href="style.css">
<style>
    main{
        min-height:100vh !important;
        box-shadow: none!important;
    }
    .hours48{
        position: absolute;
        margin-top: -3rem !important;
        font-size: 0.55rem;
        margin-left: -0.5rem;
        padding: 0.1rem;
        color:rgb(255, 255, 255) ;
      }
    #info{
        display:none;
    }
    ul {
        list-style: none !important;
    }
</style>
{% endblock css %}  
<!--Imagem Representando o setor-->
{% block vetor-img-aereo %}<img src=" {% static 'home/doctor.fw.png' %} " alt="">{% endblock vetor-img-aereo %}
<!--END Imagem Representando o setor-->
{% block title_login %}ÁREA MÉDICA {% endblock title_login %}
{% block titulo_ %} ÁREA MÉDICA - Pacientes aguardando atendimento {% endblock titulo_ %} 
{% block body_title %}ÁREA MÉDICA: Pacientes aguardando atendimento{% endblock body_title %}
{% block body_login %}
<div >
    <h1 style='margin-top:-1.5rem!important' class="fs-4"><i class="fa-duotone fa-display-medical"></i> Atendimentos do dia</h1>
	<hr>
	<p class='fs-5'><strong>Bem-vindo, Dr. {{request.user}}!</strong> Nesta página, você terá acesso a todos os pacientes aguardando atendimento. Além disso, nas abas adicionais, pode revisar atendimentos não finalizados, casos encaminhados para outros setores e os registros de todos os atendimentos realizados no dia. Facilitamos sua gestão de pacientes para uma prática médica mais eficiente e organizada.</p>

<p>&nbsp;</p>
	<!-- tabs -->
    <div class="pcss3t pcss3t-effect-scale pcss3t-theme-1 border shadow bg-dark-subtle p-2">
        <input type="radio" name="pcss3t" checked  id="tab1"class="tab-content-first">
        <label for="tab1"><i class="icon-bolt"></i>Aguardando Atendimento</label>
        
        <input type="radio" name="pcss3t" id="tab2" class="tab-content-2">
        <label for="tab2"><i class="fa-thin fa-asterisk"></i> Encaminhamentos Médicos</label>        
        <input type="radio" name="pcss3t" id="tab3" class="tab-content-3 ">
        <label for="tab3" class='bg-primary-subtle'><i class="icon-cogs"></i>Atendimentos Finalizados </label>
        {% if not nao_finalizado == '1' %}
            <input type="radio" name="pcss3t" id="tab5" class="tab-content-last">
            <label for="tab5"  class='bg-danger-subtle'><i class="icon-globe"></i>0{{atend_aguarda_final|length}} - Pacientes não finalizados </label>
        {% endif %}
        
        <ul>
            <li class="tab-content tab-content-first typography">             
                <h3 class='fs-4 rounded-top-3 border-bottom mb-2'>Aguardando atendimento: <b>0{{object_list|length}}</b> pacientes.</h3>
                <div class="row gap-0 row ">
                    <div class="m-1 col-4 ">
                        <button type="submit" onclick="exibe_info()" class="btn btn-secondary p-1 text-center m-auto">
                            <span class="text-light">Clique aqui para acessar informações úteis</span>
                            <i class="fa-solid fa-angles-down"></i>
                        </button>
                        <ul id='info' class="text-left border border-secondary m-0 mx-3 rounded-bottom-3 p-2 bg-secondary-subtle" style="margin-top: -0.3rem!important">
                            <li class="text-left">Na tabela abaixo, temos um dos pacientes aguardando atendimento.</li>
                            <li class="text-left">À medida que o atendimento a um paciente for finalizado, o nome do próximo paciente é exibido na tabela abaixo.</li>
                            <li>O nome de cada paciente é exibido de acordo com a classificação de risco, atribuido a ele durante o processo de TRIAGEM.</li>
                            <li> Para iniciar o atendimento, clique no botão PROSSEGUIR</li>
                        </ul>
                    </div>
                    <div class='col row row-cols-3   mx-3 rounded-start-5 m-1'>
                        <button class='p-0 text-light btn  btn-primary rounded-start-5 col-3 '>Ordem de atendimento:</button>
                        <button  class='pt-1 border-end border-primary col-3 bg-primary-subtle text-center '>1º Classificação</button >
                        <button  class='pt-1 border-end border-primary col-3 bg-primary-subtle text-center '>2º Horario de chegada</button >
                        <button  class='pt-1 border-end border-primary col-3 bg-primary-subtle text-center '>3º Idade</button >
                    </div>
                    
                </div>
                <table  class='table  table-striped table-bordered mt-2' border="0" cellpadding="0" cellspacing="0" width="100%">                
                    <thead>
                        <tr class="bg-dark-subtle ">
                            <td class="top text-center">Nome</td>
                            <td class="top text-center">Data e Horário de chegada</td>
                            <td class="top text-center">Classificação de Emergência</td>
                            <td class="top text-center">Atendimento</td>
                        </tr>
                    </thead>       
                    <tbody> 
                        
                        {% for campo in object_list %}  
                            {% if not campo.medico_atendimento.paciente_medico_atendimento %}
                                <tr class="align-middle"> 
                                    <td class="fs-6">
                                        <span>{{campo.paciente_triagem}}</span>
                                        <!--<div class="hours48 bg-danger border p-1 pe-3 px-3 rounded-end-5 ">{% if campo.paciente_triagem.retornou_em_menos_de_48_horas %}<i class="fa-thin fa-skull-crossbones"></i> Retornou em menos de 48 horas{% endif %}</div> -->
                                    </td>        
                                    <td><i class="fa-regular fa-calendar"></i> {{campo.data_triagem}} <i class="fa-regular fa-clock"></i> {{campo.hora_triagem}}h</td>
                                    <td align="center" class=' {% if campo.classifica_tipo.classifica_tipo == "Vermelho" %}
                                                                    prosseguir-red
                                                                    {% elif campo.classifica_tipo.classifica_tipo == "Laranja"  %}
                                                                    prosseguir-laranja
                                                                    {% elif campo.classifica_tipo.classifica_tipo == "Verde"   %}
                                                                    prosseguir-green                                            
                                                                    {% elif campo.classifica_tipo.classifica_tipo == "Azul"  %}
                                                                    prosseguir-azul
                                                                {% endif %}' href=""> {{campo.classifica_tipo}}</td>   
                                    <td align="center" href=""><a href="{% url 'Medicos:medico_atendimento' campo.pk %}"> {{campo.paciente_envio_triagem_id}} <span class='prosseguir  
                                        {% if campo.classifica_tipo.classifica_tipo == "Vermelho" %}
                                        prosseguir-red
                                        {% elif campo.classifica_tipo.classifica_tipo == "Laranja"  %}
                                        prosseguir-laranja
                                        {% elif campo.classifica_tipo.classifica_tipo == "Verde"  %}
                                        prosseguir-green                                            
                                        {% elif campo.classifica_tipo.classifica_tipo == "Azul"  %}
                                        prosseguir-azul
                                    {% endif %}'> Seguir com o atendimento <i class="fa-regular fa-paper-plane"></i> </span></a></td>   
                                                    
                                
                                </tr> 
                                {% else %}
                                
                            {% endif %} 
                        {% empty%}
                            <tr>
                                <td colspan='7'>Nenhum registro informado</td>        
                            </tr>                       
                        {% endfor %}
                    </tbody>                
                </table>  
            </li>
            
            <li class="tab-content tab-content-2 typography">
                <h1 class='fs-4'><i class="fa-thin fa-hashtag"></i> 0{{atendimento_especi|length}} - Encaminhamentos Médicos</h1>
                <hr>
                <p>Esta tabela registra os pacientes que foram encaminhados para procedimentos específicos.</p>
                <ul>
                    <li><strong>Nome do Paciente:</strong> Nome completo da pessoa encaminhada para o procedimento.</li>
                    <li><strong>Data e Hora do Encaminhamento:</strong> Momento em que o paciente foi encaminhado.</li>
                    <li><strong>Tipo de Procedimento:</strong> Procedimento específico para o qual o paciente foi encaminhado (por exemplo, raio-X de tórax, avaliação da oxigenação, etc.).</li>            
                    <li><strong>Nome do Médico:</strong> Identificador  do médico responsável.</li>   
                </ul>
                <table class="table table-striped table-dark" border="0" cellpadding="0" cellspacing="0" width="100%" >
                    <thead>
                        <tr  style='background:#666' >
                            <th scope="col" style='padding:0.5rem; color:#fff; font-weight: normal !important'>Nome do paciente</th>
                            <th scope="col" style='padding:0.5rem; color:#fff; font-weight: normal !important'>Data</th>                      
                            <th scope="col" style='padding:0.5rem; color:#fff; font-weight: normal !important'>Tipo de procedimento</th>       
                            <th scope="col" style='padding:0.5rem; color:#fff; font-weight: normal !important'>Situação do Paciente</th>                   
                            <th scope="col" style='padding:0.5rem; color:#fff; font-weight: normal !important'>Médico Responsável</th>
                            <th scope="col" style='padding:0.5rem; color:#fff; font-weight: normal !important; width: 35%' >Ação</th>
                        </tr>
                    </thead>    
                    <tbody>
                        {% for ated_espec in atendimento_especi %}
                        <tr>
                            <td scope="row" style='text-align:center' >{{ated_espec.pk_paciente}}</td>
                            <td scope="row" style='text-align:center'>{{ated_espec.tipo_atendimento}}</td>  
                            <td scope="row" style='text-align:center'>{{ated_espec.pk_paciente.data_triagem}}.</td>  
                            <td scope="row" style='text-align:center'>{{ated_espec.situacao}}</td>          
                            <td scope="row" style='text-align:center'>{{ated_espec.nome_medico}}</td>
                            <th scope="col" style='text-align:center'><a class=
                                "prosseguir 
                                {% for campo in object_list %}  
                                    {% if campo.classifica_tipo.classifica_tipo == "Vermelho" %}
                                    prosseguir-red
                                    {% elif campo.classifica_tipo.classifica_tipo == "Laranja"  %}
                                    prosseguir-laranja
                                    {% elif campo.classifica_tipo.classifica_tipo == "Verde"  %}
                                    prosseguir-green                                            
                                    {% elif campo.classifica_tipo.classifica_tipo == "Azul"  %}
                                    prosseguir-azul
                                    {% endif %}
                                {% endfor %}"                                  
                                href="{% url 'Medicos:dados_do_paciente_medicamentos' ated_espec.pk_paciente.id %}" style='color:#fff; font-weight: normal;'>Continuar com o atendimento <i class="fa-regular fa-paper-plane"></i>  </a></th>
                        </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </li>
            
            <li class="tab-content tab-content-3 typography bg-primary-subtle">

                <h1 class='fs-4'><i class="fa-thin fa-hashtag"></i> 0{{atendimentos_hoje|length}} - Atendimentos Médicos do Dia / FINALIZADOS </h1>
                <!--<p>Esta tabela registra os pacientes que foram atendidos por um médico no dia atual.</p>
                <ul>
                    <li><strong>Nome Paciente e Codigo:</strong> Identificador único do paciente atendido.</li>
                    <li><strong>Data e Hora do Atendimento:</strong> Momento do atendimento.</li>
                    <li><strong>Nome do Médico:</strong> Identificador  do médico responsável.</li>           
                    <li><strong>Situação do paciente:</strong> Situação em que se encontra o paciente.</li> 
                    <li><strong>Possibilidade de Reavaliação:</strong> Indicador para reavaliar o paciente posteriormente.</li>
                </ul>-->
                <table class="table table-striped border bg-white" cellpadding="0" cellspacing="0" width="100%" >
                    <thead>
                        <tr  class="bg-info">
                            <th scope="col" class="center text-dark-emphasis text-center">Nome do paciente</th>
                            <th scope="col" class="center text-dark-emphasis text-center">Data</th>                         
                            <th scope="col" class="center text-dark-emphasis text-center">Médico Responsável</th>
                            <th scope="col" class="center text-dark-emphasis text-center">Possibilidade de Reavaliação</th>
                        </tr>
                    </thead>    
                    <tbody>
                        {% for ated_espec in atendimentos_hoje %}
                        <tr>
                            <td scope="row" style='text-align:center' >{{ated_espec.paciente_medico_atendimento.paciente_triagem}}</td>
                            <td scope="row" style='text-align:center'>{{ated_espec.data_medico}} <i class="fa-thin fa-alarm-clock"></i> {{ated_espec.hora_medico}}</td>          
                            <td scope="row" style='text-align:center'>{{ated_espec.nome_medico}}</td>
                            <th scope="col" style='text-align:center'><a class=
                                "prosseguir 
                                {% for campo in object_list %}  
                                    {% if campo.classifica_tipo.classifica_tipo == "Vermelho" %}
                                    prosseguir-red
                                    {% elif campo.classifica_tipo.classifica_tipo == "Laranja"  %}
                                    prosseguir-laranja
                                    {% elif campo.classifica_tipo.classifica_tipo == "Verde"  %}
                                    prosseguir-green                                            
                                    {% elif campo.classifica_tipo.classifica_tipo == "Azul"  %}
                                    prosseguir-azul
                                    {% endif %}
                                {% endfor %}"                   
                                
                                
                                href="{% url 'Medicos:dados_do_paciente_atualiza' ated_espec.id %}" style=' font-weight: normal;'>Reavaliar paciente <i class="fa-regular fa-paper-plane"></i>  </a></th>
                        </tr>
                        {% endfor %}
                    
                    
                    </tbody>
                </table>
            </li>
            {% if not nao_finalizado == '1' %}
            <li class="tab-content tab-content-last typography bg-danger-subtle" >
                <h1 class="fs-3 bg-danger-subtle p-1 rounded-top-2"><i class="fa-duotone fa-circle-exclamation text-danger ml-2"></i> 0{{atend_aguarda_final|length}} - Atenção! Pacientes não finalizados</h1>
				<p class='fs-5 p-4'><strong>Atenção, Dr.!</strong> Nesta seção, são listados os atendimentos que, por alguma razão, não foram finalizados e, portanto, não constarão na relação final de atendimentos. Isso pode causar erro no cálculo total. Solicitamos a sua atenção especial a esta página para a conclusão dos atendimentos listados. Se não houver nenhum, ficamos felizes em informar que os atendimentos pelo sistema estão transcorrendo de maneira eficiente.</p>

                <table class='table border'>
                    <thead>
                        <tr class="text-center bg-secondary-subtle">
                            <th scope="col" style='padding:0.5rem;  font-weight: normal !important'>Nome do paciente</th>
                            <th scope="col" style='padding:0.5rem;  font-weight: normal !important'>Classificação de Risco</th>
                            <th scope="col" style='padding:0.5rem; font-weight: normal !important'>Médico Responsável</th>
                            <th scope="col" style='padding:0.5rem;  font-weight: normal !important; width: 35%' >Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ated_espec in atend_aguarda_final %}
                            {% if  ated_espec.medico_atendimento.paciente_medico_atendimento %}
                                <tr class="text-center">
                                    <td scope="row" style='text-align:center' >{{ated_espec.paciente_triagem}}</td>
                                    <td scope="row" style='text-align:center' ><div
										class='  
                                    {% if ated_espec.classifica_tipo.classifica_tipo == "Vermelho" %}
                                    prosseguir-red
                                    {% elif ated_espec.classifica_tipo.classifica_tipo == "Laranja"  %}
                                    prosseguir-laranja
                                    {% elif ated_espec.classifica_tipo.classifica_tipo == "Verde"  %}
                                    prosseguir-green                                            
                                    {% elif ated_espec.classifica_tipo.classifica_tipo == "Azul"  %}
                                    prosseguir-azul
                                {% endif %}'
										>{{ated_espec.classifica_tipo}} <i class="fa-thin fa-alarm-clock"></i></div> {{ated_espec.hora_medico}}</td>          
                                    <td scope="row" style='text-align:center'>Dr.(a) {{ated_espec.medico_atendimento.medico_nome}}</td>
                                    <th scope="col" style='text-align:center'><a href="{% url 'Medicos:dados_do_paciente_atualiza' ated_espec.medico_atendimento.id %}" style=' font-weight: normal;'>Finalizar atendimento<i class="fa-regular fa-paper-plane"></i>  </a></th>
                                    
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </li>            
            {% endif %} 
        </ul>
    </div>
    <!--/ tabs -->

            
        </div>
    </div>

</div>
<script>
    function exibe_info(){
        var div_info = document.getElementById('info');
        var disp = div_info.style.display;
        div_info.style.display = disp === 'none' ? 'block' : 'none';
    }
</script>
{% endblock body_login %}